

<section class="featured-slider container-fluid u-tablet-margin-top-40 u-desktop-margin-top-40">
    <div class="swiper-container">
        <div class="swiper-wrapper">

            {% if articles[0] %}                                                                
                {{this.render('_single-article.twig', {
                article: articles[0], 
                position: 1,
                lazyload: false,
                containerClass: 'swiper-slide', 
                imageSize: {width:1168, height:587}
            }) | raw}}
            {% endif %}
        </div>

        <div class="newsroom-icon">
            <img src="{{networkData.templatePath}}/static/images/nr-logo.svg?v=8" alt="newsroom ic">
        </div>

    </div>
</section>

{% if articles[1] %}
    <section class="top-stories">
        <div class="container">
            <h2 class="u-margin-bottom-10">TOP STORIES</h2>
            <div class="row">

                {% for i in 1..3 %}
                    {% if articles[i] %}                                                                
                        {{this.render('_single-article.twig', {
                            article: articles[i], 
                            position: (i+1), 
                            containerClass: 'col-sm-4 card-top-story card-top-story-tablet card-top-story-mobile', 
                        imageSize: {width:99, height:88}
                        }) | raw}}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </section>
{% endif %}
