<div class="container d-print-none">
 <p class="foundingpartners">With thanks to our partners </p>
 <section class="sponsor-logos">
     <div class="d-none d-sm-block">
         <ul>
             <li class="sponsor-kiwibank"><a href="https://www.kiwibank.co.nz/personal-banking/credit-cards/low-interest-cards/low-rate-visa/?utm_source=newsroom&utm_display&utm_content=creditcards&utm_campaign=newsroom-partnership-2020" target="_blank"></a></li>
             <li class="sponsor-vodafone"><a href="https://www.vodafone.co.nz/business/" target="_blank"></a></li>
             <li class="sponsor-kiwiwealth"><a href="https://www.kiwiwealth.co.nz/home" target="_blank"></a></li>
        </ul>
         <br>
         <ul>
             <li class="sponsor-ecostore"><a href="http://www.ecostore.co.nz" target="_blank"></a></li>
             <li class="sponsor-bellgully"><a href="http://www.bellgully.com" target="_blank"></a></li>
             <li class="sponsor-beca"><a href="https://www.beca.com/" target="_blank"></a></li>
             <li class="sponsor-sky"><a href="https://www.sky.co.nz/sport" target="_blank"></a></li>
        </ul>
         <br>
         <ul>
            <li class="sponsor-vic-uni-wellington"><a href="http://www.victoria.ac.nz/capital-thinking" target="_blank"></a></li>
            <li class="sponsor-uni-auckland"><a href="https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation/New-Zealands-world-ranked-University.html" target="_blank"></a></li>
            <li class="sponsor-uni-otago"><a href="https://www.otago.ac.nz" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
            <li class="sponsor-wispa"><a href="https://womeninsport.org.nz" target="_blank"></a></li>
            <li class="sponsor-matatuhi"><a href="https://www.matatuhifoundation.co.nz" target="_blank"></a></li>
         </ul>
     </div>


     <div class="container d-block d-sm-none">
         <ul>
             <li class="sponsor-kiwibank"><a href="https://www.kiwibank.co.nz/personal-banking/credit-cards/low-interest-cards/low-rate-visa/?utm_source=newsroom&utm_display&utm_content=creditcards&utm_campaign=newsroom-partnership-2020" target="_blank"></a></li>
        </ul>
         <br>
         <ul>
             <li class="sponsor-vodafone"><a href="https://www.vodafone.co.nz/business/" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-kiwiwealth"><a href="https://www.kiwiwealth.co.nz/home" target="_blank"></a></li>
        </ul>
         <br>
         <ul>
             <li class="sponsor-bellgully"><a href="http://www.bellgully.com" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-ecostore"><a href="http://www.ecostore.co.nz" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-beca"><a href="https://www.beca.com/" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-sky"><a href="https://www.sky.co.nz/sport" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-vic-uni-wellington"><a href="http://www.victoria.ac.nz/capital-thinking" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-uni-auckland"><a href="https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation/New-Zealands-world-ranked-University.html" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-uni-otago"><a href="https://www.otago.ac.nz" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-wispa"><a href="https://womeninsport.org.nz" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-matatuhi"><a href="https://www.matatuhifoundation.co.nz" target="_blank"></a></li>
         </ul>
     </div>
 </section>  
</div>