<div class="container">
 <p class="foundingpartners">FOUNDING PARTNERS</p>
 <section class="sponsor-logos">
     <div class="container hidden-sm hidden-xs">
         <ul>
             <li class="sponsor-chorus"><a href="https://www.askforbetter.co.nz/" target="_blank"></a></li>
             <li class="sponsor-holden"><a href="https://www.holden.co.nz/cars/new-astra?utm_source=newsroom&utm_medium=display&utm_content=homepage_logo--1x1&utm_term=small_cars&utm_campaign=tactical_small_cars" target="_blank"></a></li>
             <li class="sponsor-vic-uni-wellington"><a href="http://www.victoria.ac.nz/capital-thinking" target="_blank"></a></li>
             <li class="sponsor-uni-auckland"><a href="https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation/New-Zealands-world-ranked-University.html" target="_blank"></a></li>
         </ul>
     </div>
     <div class="container hidden-xs hidden-md hidden-lg">
         <ul>
             <li class="sponsor-chorus"><a href="https://www.askforbetter.co.nz/" target="_blank"></a></li>
             <li class="sponsor-holden"><a href="https://www.holden.co.nz/cars/new-astra?utm_source=newsroom&utm_medium=display&utm_content=homepage_logo--1x1&utm_term=small_cars&utm_campaign=tactical_small_cars" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-vic-uni-wellington"><a href="http://www.victoria.ac.nz/capital-thinking" target="_blank"></a></li>
             <li class="sponsor-uni-auckland"><a href="https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation/New-Zealands-world-ranked-University.html" target="_blank"></a></li>
         </ul>
     </div>
     <div class="container hidden-sm hidden-md hidden-lg">
         <ul>
             <li class="sponsor-chorus"><a href="https://www.askforbetter.co.nz/" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-holden"><a href="https://www.holden.co.nz/cars/new-astra?utm_source=newsroom&utm_medium=display&utm_content=homepage_logo--1x1&utm_term=small_cars&utm_campaign=tactical_small_cars" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-vic-uni-wellington"><a href="http://www.victoria.ac.nz/capital-thinking" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-uni-auckland"><a href="https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation/New-Zealands-world-ranked-University.html" target="_blank"></a></li>
         </ul>
     </div>
 </section>  
</div>