<div class="container">
 <p class="foundingpartners">PARTNERS</p>
 <section class="sponsor-logos">
     <div class="container hidden-sm hidden-xs hidden-md">
         <ul>
             <li class="sponsor-kiwibank"><a href="https://www.kiwibank.co.nz" target="_blank"></a></li>
             <li class="sponsor-chorus"><a href="https://www.askforbetter.co.nz/" target="_blank"></a></li>
             <li class="sponsor-holden"><a href="https://ad.doubleclick.net/ddm/trackclk/N7537.2678601NEWSROOM/B20075384.201404758;dc_trk_aid=401273857;dc_trk_cid=90691093;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=" target="_blank"></a></li>
            {#  <li class="sponsor-bellgully"><a href="https://www.bellgully.com" target="_blank"></a></li> #}
            </ul>
            <br>
            <ul>
             <li class="sponsor-vic-uni-wellington"><a href="http://www.victoria.ac.nz/capital-thinking" target="_blank"></a></li>
             <li class="sponsor-uni-auckland"><a href="https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation/New-Zealands-world-ranked-University.html" target="_blank"></a></li>
         </ul>
     </div>
     <div class="container hidden-xs hidden-lg">
         <ul>
             <li class="sponsor-kiwibank"><a href="https://www.kiwibank.co.nz" target="_blank"></a></li>
             <li class="sponsor-chorus"><a href="https://www.askforbetter.co.nz/" target="_blank"></a></li>
        {# </ul>
         <br>
         <ul> #}
             <li class="sponsor-holden"><a href="https://ad.doubleclick.net/ddm/trackclk/N7537.2678601NEWSROOM/B20075384.201404758;dc_trk_aid=401273857;dc_trk_cid=90691093;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=" target="_blank"></a></li>
             {# <li class="sponsor-bellgully"><a href="http://www.bellgully.com" target="_blank"></a></li> #}
        </ul>
         <br>
         <ul>
             <li class="sponsor-vic-uni-wellington"><a href="http://www.victoria.ac.nz/capital-thinking" target="_blank"></a></li>
             <li class="sponsor-uni-auckland"><a href="https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation/New-Zealands-world-ranked-University.html" target="_blank"></a></li>
         </ul>
     </div>
     <div class="container hidden-sm hidden-md hidden-lg">
        <ul>
             <li class="sponsor-kiwibank"><a href="https://www.kiwibank.co.nz" target="_blank"></a></li>
        </ul>
         <br>
         <ul>
             <li class="sponsor-chorus"><a href="https://www.askforbetter.co.nz/" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-holden"><a href="https://ad.doubleclick.net/ddm/trackclk/N7537.2678601NEWSROOM/B20075384.201404758;dc_trk_aid=401273857;dc_trk_cid=90691093;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=" target="_blank"></a></li>
         </ul>
         <br>
        {#  <ul>
             <li class="sponsor-bellgully"><a href="http://www.bellgully.com" target="_blank"></a></li>
         </ul>
         <br> #}
         <ul>
             <li class="sponsor-vic-uni-wellington"><a href="http://www.victoria.ac.nz/capital-thinking" target="_blank"></a></li>
         </ul>
         <br>
         <ul>
             <li class="sponsor-uni-auckland"><a href="https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation/New-Zealands-world-ranked-University.html" target="_blank"></a></li>
         </ul>
     </div>
 </section>  
</div>