<div class="col-sm-12">
     <section class="" style="">
        <div class="row">
            <div class="ajaxArticles index clearfix"
                 data-offset="{{limit}}"
                 data-articlecount="10"
                 data-containerclass="col-sm-4 card-sm card-sm-tablet card-sm-mobile"
                 data-existing-nonpinned-count="{{articlesArr.existingNonPinnedCount}}">
             </div>
            <a class="loadMoreArticles-index" href="#">Load more articles</a>
        </div>

        {% set noDataCls = 'hide' %}
        {% if articles|length == 0 %}
            {% set noDataCls = '' %}
         {% endif %}

    </section>
</div>
