<section class="room-board">
    <header>
        <a href="{{ sections['boardroom'].link }}">
            <img src="{{networkData.templatePath}}/static/images/boardroom-logo.svg?v=567" alt="board room" class="img-responsive">
        </a>
    </header>

    {{this.render('_single-article.twig', {
        article         : sections['boardroom'].feed.articles[0],
        position        : 1, 
        containerClass  : 'featured board', 
        imageSize       : {width:627, height:415},
        swap            : 'false'
    }) | raw}}

    <div class="articles">
        <div class="row">
            
            {% for i in 1..3 %}
                {% if sections['boardroom'].feed.articles[i] %}        
                    {{this.render('_single-article.twig', {
                        article         : sections['boardroom'].feed.articles[i], 
                        position        : i+1, 
                        containerClass  : 'subfeature-board col-sm-4', 
                        imageSize       : {width:92, height:100},
                        swap            : 'false'

                    }) | raw}}
                {% endif %}
            {% endfor %}

        </div><!-- .articles-->
    </div><!-- .row-->
</section><!--room-board-->