<section class="room-healthscience">
    <header>
        <a href="{{ sections['health & science'].link }}">
            <img src="{{networkData.templatePath}}/static/images/healthscience-logo.svg?ver=1" alt="health & science" class="img-fluid room-logo">
        </a>
    </header>

    {{this.render('_single-article.twig', {
        article         : sections['health & science'].feed.articles[0],
        containerClass  : 'card-featured-mobile card-featured2-tablet card-featured2-desktop card-featured2-desktop-up healthscience', 
        imageSize       : {width:627, height:415},
        swap            : 'false'
    }) | raw}}

    <div class="articles">
        <div class="row">
            
            {% for i in 1..3 %}
                {% if sections['health & science'].feed.articles[i] %}        
                    {{this.render('_single-article.twig', {
                        article         : sections['health & science'].feed.articles[i], 
                        containerClass  : 'subfeature-card-mobile subfeature-card-tablet subfeature-card-desktop-sm subfeature-card-desktop-lg healthscience col-md-4', 
                        imageSize       : {width:92, height:100},
                        swap            : 'false'

                    }) | raw}}
                {% endif %}
            {% endfor %}

        </div><!-- .articles-->
    </div><!-- .row-->
</section><!--room-board-->