<section class="room-living">
    <header>
        <a href="{{ sections['livingroom'].link }}">
            <img src="{{networkData.templatePath}}/static/images/livingroom-logo.svg?v=567" alt="viewing room" class="img-responsive">
        </a>
    </header>
    

        {{this.render('_single-article.twig', {
            article: sections['livingroom'].feed.articles[0], 
            position: i+1, 
            containerClass: 'feature', 
            swap: 'false', 
            imageSize: {width:1130, height:587}
        }) | raw}}


        <div class="contents">
            {% for i in 1..3 %}
                {% if sections['livingroom'].feed.articles[i] %}        
                    {{this.render('_single-article.twig', {
                        article: sections['livingroom'].feed.articles[i], 
                        position: i+1, 
                        containerClass: '', 
                        swap: 'false'
                    }) | raw}}
                {% endif %}
            {% endfor %}
        </div><!-- .content-->
</section><!-- .room-living-->
