<section class="subscribe {{class}}">
	<h3>Support Us</h3>
    <p>With a voluntary contribution to help fund <br />independent New Zealand journalism</p>
    <a target="_blank" href="https://www.presspatron.com/newsroom.html"><button id='learnmorebutton'>Learn More</button></a>
</section>
