<section class="subscribe {{class}}">
	<h3>Subscribe</h3>
    <p>To our direct news feed on Newsroom Pro – our specialised news service for corporate clients</p>
    <a target="_blank" href="https://www.hivenews.co.nz/users/new"><button id='getprobutton'>Get Pro</button></a>
</section>
