<div class="container-fluid partner-news-room">

    <section class="room-partner">
        <div class="container">
            <header>
                <a href="{{ sections['partner newsroom'].link }}">
                    <img src="{{networkData.templatePath}}/static/images/partner-newsroom-header.svg" alt="board room">
                </a>
            </header>
            <div class="row partner-articles gutter-60">
                {% for i in 0..3 %}
                    {% if sections['partner newsroom'].feed.articles[i] %}        
                        {{this.render('_single-article_corp.twig', {
                            article: sections['partner newsroom'].feed.articles[i], 
                            networkData: networkData, 
                            containerClass: 'col-12 col-md-6 col-lg-3 card-sm card-sm-tablet card-sm-mobile', 
                            swap: 'false', 
                            imageSize: {width:255, height:208}
                        }) | raw}}
                    {% endif %}
                {% endfor %}


            </div><!-- .row-->
        </div>
    </section><!-- .room-corporate-->
</div>