<section class="pod-partial u-mobile-no-padding">
	{% if sections.feed.articles[0] %}
	    {{this.render('_single-article.twig', {
	         article: sections.feed.articles[0], 
	         position: 1, 
	         containerClass: cardClass, 
	         imageSize: {width:410, height:235},
	         swap: 'false'
	    }) | raw}}
    {% endif %}
</section><!-- .top-stories-->

