<section class="pod-partial">
     {{this.render('_single-article.twig', {
         article: sections['newsroom pro'].feed.articles[i], 
         position: i+1, 
         containerClass: 'card-pod-partial card-pod-partial-tablet card-pod-partial-mobile', 
        imageSize: {width:0, height:0},
         swap: 'false'
     }) | raw}}
</section><!-- .top-stories-->

