<section class="pod-partial u-mobile-no-padding">
	{% if sections['podcasts'].feed.articles[0] %}
	    {{this.render('_single-article.twig', {
	         article: sections['podcasts'].feed.articles[0], 
	         position: 1, 
	         containerClass: 'card-pod card-pod-tablet card-pod-mobile', 
	         imageSize: {width:0, height:0},
	         swap: 'false'
	    }) | raw}}
    {% endif %}
</section><!-- .top-stories-->

