<section class="puzzles coporate-news-room mt-5">
    <header class="mb-4">
        <a href="{{ sections['puzzles'].link }}" class="pro-partial__header__logo d-inline-block m-0">
            <img src="{{networkData.templatePath}}/static/images/puzzle-header.svg" alt="board room">
        </a>
    </header>
    <div class="row corporate-articles gutter-60">
        {% for i in 0..1 %}
            {% if sections['puzzles'].feed.articles[i] %}        
                {{this.render('_single-article_corp.twig', {
                    article: sections['puzzles'].feed.articles[i], 
                    networkData: networkData, 
                    containerClass: 'col-12 subfeature-card-mobile subfeature-card-tablet subfeature-card-desktop-sm subfeature-card-desktop-lg puzzle-layout', 
                    swap: 'false', 
                    imageSize: {width:110, height:110}
                }) | raw}}
            {% endif %}
        {% endfor %}
    </div>
    <a href="{{ sections['puzzles'].link }}" class="puzzle-btn">Play previous puzzles</a>
</section><!-- .room-corporate-->