 <section class="room-sports u-margin-top-80 u-margin-mobile-40">
     <header>
         <a href="{{ sections['economic recovery'].link }}">
             <img src="{{networkData.templatePath}}/static/images/economic recovery-logo.svg" alt="board room" class="img-fluid room-logo">
         </a>
     </header>

    {{this.render('_single-article.twig', {
        article: sections['economic recovery'].feed.articles[0], 
        position: 1, 
        containerClass: 'card-featured-mobile card-featured-tablet card-featured-desktop card-featured-desktop-up sport', 
        imageSize: {width:1140, height:430},
        swap: 'false'
    }) | raw}}

     <div class="articles">
         
         <div class="row">
             
             {% for i in 1..2 %}
                 {% if sections['economic recovery'].feed.articles[i] %}        
                    {{this.render('_single-article.twig', {
                        article: sections['economic recovery'].feed.articles[i], 
                        position: i+1, 
                        containerClass: 'col-md-12 col-lg-6 card-sub-featured-mobile card-sub-featured-tablet card-sub-featured-desktop card-sub-featured-desktop-up sport', 
                        imageSize: {width:203, height:129},
                        swap: 'false'
                    }) | raw}}
                 {% endif %}
             {% endfor %}

         </div><!-- .row-->
     </div>
 </section><!--room-sports-->
