<section class="subscribe">
    <button>Subscribe Now</button>
    <img class="pro" src="{{networkData.templatePath}}/static/images/newsroom_pro.svg" alt="newsroom wordmark">
    <p>Get unlimited access for  $29 per month Includes a tailored email  sent to your inbox every weekday</p>
</section>