
<section class="room-view container">
    <header>
        <a href="{{ sections['viewingroom'].link }}">
            <img src="{{networkData.templatePath}}/static/images/viewingroom-logo.svg?v=572" alt="viewing room" class="img-responsive">
        </a>
    </header>

    <div class="content-wrapper row">

        
        {{this.render('_single-article.twig', {
            article             : sections['viewingroom'].feed.articles[0],
            position            : (1), 
            containerClass      : 'featured col-md-12', 
            swap                : 'false',
            imageSize: {width:633, height:420}
        }) | raw}}

        {% for i in 1..3 %}
            {% if sections['viewingroom'].feed.articles[i] %}        
                {{this.render('_single-article.twig', {
                    article             : sections['viewingroom'].feed.articles[i],
                    position            : i+1, 
                    containerClass      : 'subfeature col-md-4', 
                    swap                : 'false',
                    imageSize: {width:330, height:212}

                }) | raw}}
            {% endif %}
        {% endfor %}

    </div><!-- .content-wrapper-->

</section><!-- .room-view-->
