
<section class="room-view container u-margin-top-70 u-margin-bottom-80">
    
    <header class="u-margin-bottom-20">
        <a href="{{ sections['viewingroom'].link }}">
            <img src="{{networkData.templatePath}}/static/images/viewingroom-logo.svg" alt="viewing room" class="img-fluid">
        </a>
    </header>



    <div class="content-wrapper row">
        
        {{this.render('_single-article.twig', {
            article             : sections['viewingroom'].feed.articles[0],
            containerClass      : 'card-featured-reverse-mobile card-featured-reverse-tablet card-featured-reverse-desktop card-featured-reverse-desktop-lg viewing col-md-12', 
            swap                : 'false',
            imageSize: {width:633, height:420}
        }) | raw}}

        {% for i in 1..3 %}
            {% if sections['viewingroom'].feed.articles[i] %}        
                {{this.render('_single-article.twig', {
                    article             : sections['viewingroom'].feed.articles[i],
                    containerClass      : 'view-sub-feature-mobile view-sub-feature-tablet view-sub-feature-desktop view-sub-feature-desktop-lg viewing col-md-4', 
                    swap                : 'false',
                    imageSize: {width:330, height:212}

                }) | raw}}
            {% endif %}
        {% endfor %}

    </div>

</section>
