.fixadd {
    position:fixed;
}

#newAdBanner{
    @media #{$mobile} {
        padding-top: 140px;
    }
}

.ad{
    &__gap{
        display: none;
        @media #{$mobile}{
            border: none;
            margin: 0;
            padding: 0;
            width: 100%;
            padding-top: 140px;
        }
    }
    z-index:1024;

    .ad-text{
        color: $gray-text;
        @include font-size(12);
    }
    &.channel-ad{
         margin-bottom: 80px;
    }

    &.sidebar-ad{
        margin-bottom: 20px;
        margin-top: 20px;
        // text-align:center;
        &.sidebar-ad__idx{
            @media #{$mobile} {
                margin-top: 30px;
                margin-bottom: 30px;

            }
        }

        @media screen and (max-width: $md-break){
            .block > a{
                display: block;
            }
        }
        @media screen and (max-width: $sm-break-down) {
            
        }
        .ad-text{
            float: left;

            @media screen and (max-width: $sm-break-down){
                width: 300px;
                display: block;
                margin: 0 auto;
            }
            
            @media screen and (max-width: $mmd-break-down){
                float: none;
            }



        }
        > div {
            margin: 0 auto;
            > div {
                margin: 0 auto;
            }
        }
        > span {

        }
    }

    &.lg-block{
        text-align: center;
        margin-bottom: 70px;
            
        .block{
            img{
                margin-left: auto;
                margin-right: auto;
            }
        }
        .ad-text{
            display: block;
            text-align: right;
            width: 970px;
            margin: 0 auto;
            @media screen and (max-width: $md-break){
                width: 100%;
            }
        }
    }

}
.ad-header-top{
    width: 100%;
    // background-color: $gray-bck;
    // text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    > div {
        margin: 0 auto;
        > div > iframe {
            margin:0 auto;
        }
    }

    @media screen and (max-width: 767px){
        display: none;
    }

    .block{
        display: block;
        margin: 0 auto;

        img{
            margin-left: auto;
            margin-right: auto;
        }
        
        .ad-text{
            display: block;
            text-align: right;
            width: 970px;
            margin: 0 auto;
            @media screen and (max-width: $mmd-break-down){
                width: 100%;
            }
        }
    }
}

.ad-header-mob{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .block{
        display: block;
        margin: 0 auto;

        img{
            margin-left: auto;
            margin-right: auto;
        } 
    }
    > div {
        margin: 0 auto;
    }

}
.ad-header__topbanner {
    margin: 15px 0;
    
    @media #{$tablet} {
        margin: 0 auto;
        padding-top: 85px;
        margin-bottom: 30px;
        .bannerad {
            margin-top: 30px;
        }
    }   
}

.advertisment>div>div{
    display: block !important;
    margin: 0 auto;
    >iframe{
        margin: 0 auto;
        display: block;
    }
}