@mixin pro-featured-main-base {
    height: 430px;
    position: relative;
    background: black;
    

    &:before{
        content: '';
        width: 20px;
        height: calc(100% - 25px);
        top: 0;
        background: #e22f22;
        position: absolute;

        @media #{$mobile} {
            display: none;
        }
    }

    .c-cards-view {
        width: 100%;
        height: 100%;
        @include flexbox();
        border: 0;

        &__media {
            width: 55%;
            -webkit-flex: 0 0 55%;
            -ms-flex: 0 0 55%;
            flex: 0 0 55%;
            height: auto;

            @media screen and (max-width: $md-break){
                width: 60%;
                -webkit-flex: 0 0 60%;
                -ms-flex: 0 0 60%;
                flex: 0 0 60%;
            }


        }




        &__container{
            width: 45%;
            -ms-flex: 0 0 45%;
            -webkit-flex: 0 0 45%;
            flex: 0 0 45%;
            overflow: hidden;
            padding:38px 30px 40px 59px;
            max-width: 510px;

            @media screen and (max-width: $md-break){
                max-width: 377px;
            }

            @media screen and (max-width: $mmd-break-down){
                max-width: 290px;
            }


            @media screen and (max-width: $md-break){
                width: 40%;
                -ms-flex: 0 0 40%;
                -webkit-flex: 0 0 40%;
                flex: 0 0 40%;
                padding: 38px 30px 10px 59px;
            }

        }
        


        &__category{
            @include font-size(14);
            font-weight: bold;
            color: #fff;
            
        }

        &__heading{
            @include font-size(44);
            font-weight: bold;
            line-height: 1.02;
            color: #fff;
            margin-bottom: 40px;
            margin-top:21px;
            height: 100px;

            @media screen and (max-width: $md-break){
                @include font-size(30);
            }

        }


        &__description {
            display: block;
            @include font-size(20);
            line-height: 1.25;
            color: #fff;
            margin-bottom: 30px;
            height: 75px;
        }

        &__time {
            display: block;
            padding:0;
            float:none;
            border:none;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            bottom: 25px;
            position: absolute;
            
        }

        &__author-name {
            display:none;
        }
    }
}


.pro-featured-main-mobile{
    @media #{$mobile}{
        height:auto !important;
        margin-left: -15px;
        margin-right: -15px;

        @include pro-featured-main-base;
        .c-cards-view {

            display:block;
            flex-direction: column;
            padding-top: 0;
    
            &__media {
                width: 100%;
                flex: 0 0 100%;
                position: relative;

                &:before{
                    content: '';
                    width: 20px;
                    height: 100%;
                    bottom: 0;
                    top: 0;
                    background: #e22f22;
                    position: absolute;
                }
            }
            &__container {
                width: 100%;
                flex: 0 0 100%;
                padding: 19px 15px;
                max-width: initial;

            }

            &__category {
                font-family: $font-family-sans-serif;
                @include font-size(14);
                text-transform: uppercase;
            }
            &__heading {
                margin-bottom: 15px;
                height: 75px;
            }
            &__description {
                display: none;
            }

            // &__time{
            //     @include font-size(12);
            //     bottom: 13px;

            // }

        }
    }
}

.pro-featured-main-tablet{
    @media #{$tablet}{
        @include pro-featured-main-base;
        .c-cards-view {
            -ms-flex-direction: row-reverse;
            -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;

            padding-top: 15px;
            padding-bottom: 25px;
    
            // &__media {
            //     width: 203px;
            //     -webkit-flex: 0 0 203px;
            //     flex: 0 0 203px;
            // }
    
            // &__heading {
            //     @include font-size(20);
            //     height: 50px;
            // }
            // &__time{
            //     margin-top: 5px;
            //     @include font-size(12);
            //     bottom: 13px;

            // }


            &__description {
                height: 50px;
            }
    

        }

    }
}



.pro-featured-main-desktop{
    @media #{$desktop}{
        @include pro-featured-main-base;

        .c-cards-view {
            -ms-flex-direction: row-reverse;
            -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;
            padding-top: 15px;

            &__heading {
                height:120px;
            }
        }
    }
}

.pro-featured-main-desktop-lg{
    @media #{$desktop-lg}{
        @include pro-featured-main-base;
        .c-cards-view {
            -ms-flex-direction: row-reverse;
            -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;
            padding-top: 15px;

            &__heading {
                height:120px;
            }
        }

    }
}
