@mixin card-pro-most-base() {
    a.card{
        > article {
            display:-webkit-box;
            display:-webkit-flex;
            display:-moz-flex;
            display:-ms-flexbox;
            display:flex;
            height: auto;
            flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
        
            > figure{
                display: none;
            }

            > .content{
                border-bottom: 1px solid #dadada;
                padding-bottom: 3px;
                padding-top: 13px;
                -ms-flex: 1 0;
                min-height: 88px;
                
                > .category{
                    font-family: $font-family-sans-serif;
                    @include font-size(14);
                    font-weight: bold;
                    color: #1d4a72;
                    display: block;
                    line-height: 1;
                    margin-bottom: 3px;
                }

                > h2{
                    font-weight: 300;
                    @include font-size(20);
                    height:50px;
                }

                > .author{
                    display: none;
                }

                > time{
                    display:none;
                }

                p {
                    display:none;
                }
            }
        }
    } 
}

.card-pro-most{
    @media #{$desktop-up} {
        @include card-pro-most-base;
          
    }
}

.card-pro-most-tablet{
    @media #{$tablet} {
        @include card-pro-most-base;
        a.card {
            >article{
                >.content{
                    >h2 {
                        width: 90%;
                    }
                }
            }
        }
    }
}
.card-pro-most-mobile{
    @media #{$mobile} {
        @include card-pro-most-base;
        a.card {
            >article{
                >.content{
                    min-height: 70px;
                    >h2 {
                        height: 25px;
                        @include font-size(18);
                    }
                }
            }
        }
           
    }
}