@mixin card-top-story-base() {

    .c-cards-view {
        @include flexbox();
        height: auto;
        flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
    
        &__container {
            border-bottom: 1px solid #dadada;
            padding-bottom: 3px;
            min-height: 88px;
        }
        &__media {
            width: 99px;
            flex: 0 0 99px;
            overflow: hidden;
            float: left;
            margin-right: 14px;
        }
        &__category-container {
            // position:relative;
            // top:-3px;
        }
        &__category {
            @include font-size(11.2);
            font-weight: bold;
            color: #8a8b93;
            display: block;
            line-height: 1;
        }
        &__comment {
            // background-color: white; // default background color
            &:after {
                // border-color: white transparent transparent;
            }
        }
        &__comment-count {
        }
        &__heading {
            font-weight: bold;
            @include font-size(22, 24);
            height:50px;
            margin-top:3px;
        }
        &__description {
            display:none;
        }
        &__bottom {
        }
        &__time {
            padding: 0;
            border: 0;
            line-height: 1;
        }
        &__author-name {
            display: none;
        }

    }

    &.room {
        .c-cards-view {
            height:130px;
            &__media {
                height:auto;
                width:203px;
                flex:none;
            }
            &__heading {
                font-weight: normal;
                @include font-size(25);
                line-height:1.2;
                margin-top: 8px;
                height: 69px;
                max-height: 69px;
            }

            &__time {
                position: absolute;
                bottom: 10px;
            }
        }
    }



    &.opinion-card{
        &:last-child {
            a.card article {
                border:none;
                padding:0;
                margin:0;
            }
        }

        a.card{
            &:after {
                content: "";
                display: table;
                clear: both;
            }

            .c-cards-view {
                display:block;            
                height: auto;
                padding-bottom: 25px;
                margin-bottom: 25px;
                border-bottom: 1px solid #dadada;

                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }

                &__media {
                    width: 140px;
                    height: 112px;
                    overflow: hidden;
                    float: left;
                    margin-right: 14px;
                }

                &__container {
                    width:auto;
                    padding-bottom: 3px;
                    border-bottom: unset;
                }

                &__category{
                    @include font-size(11.2);
                    font-weight: bold;
                    color: #8a8b93;
                    display: block;
                    line-height: 1;
                    margin-bottom: 3px;
                }

                &__heading{
                    font-weight: bold;
                    @include font-size(22);
                    height:77px;
                    margin-bottom:0;
                }

                &__author-name {
                    display: none;
                }

                &__time{
                    bottom: unset;
                    top: 100px;
                }

                &__description{
                    display:none;
                }
            }
        }
    }
    &.pro-card{
        .c-cards-view {
            &__category{
                color: #e22f22;
            }
        }
    }
}

.card-top-story{
    @media #{$desktop-up} {
        @include card-top-story-base;
    }
}

.card-top-story-tablet{
    @media #{$tablet} {
        @include card-top-story-base;


        .c-cards-view {
            height: 65px;


            &__container{
                padding-bottom: 15px;
                min-height: 65px;
            }
            &__media {
                width: 65px;
                flex: 0 0 65px;
            }
            &__category{
            }
            &__comment {
                // background-color: white; // default background color
                &:after {
                    // border-color: white transparent transparent;
                }
            }
            &__comment-count {
            }
            &__heading {
                @include font-size(14);
                height:36px;
            }
            &__description {
            }
            &__bottom {
            }
            &__time {
                position: absolute;
                bottom: 5px;
                right: 15px;
                @include font-size(10);
            }
            &__author-name {
            }
        }
        &.room {
            .c-cards-view {
                &__media {
                    width: 150px;
                    flex: 0 0 150px;
                }
            }
        }
    }
}




.card-top-story-mobile{
    @media #{$mobile} {
        @include card-top-story-base;

        a.card {
            padding-top: 6px;
            border-bottom: 1px solid #dadada;
        }

        .c-cards-view {
            &__container{
                padding-bottom: 5px;
                padding-top: 10px;
                border: 0;
                min-height: 56px;
            }
            &__media {
                margin-bottom:6px;
                width: 60px;
                height:56px;
                flex: 0 0 60px;
            }
            &__category {
                font-family: $font-family-sans-serif;
                @include font-size(12);
                text-transform: uppercase;
            }
            &__comment {
                // background-color: white; // default background color
                &:after {
                    // border-color: white transparent transparent;
                }
            }
            &__comment-count {
            }
            &__heading {
                @include font-size(20);
                height:50px;
                margin: 2px;
            }
            &__description {
            }
            &__bottom {
            }
            &__time {
                position: absolute;
                bottom: 5px;
                right: 15px;
                @include font-size(10);
            }
            &__author-name {
            }
        }


        &.room {
            .c-cards-view {
                &__media {
                    width: 150px;
                    flex: 0 0 150px;
                    margin-top:6px;
                    margin-bottom:6px;
                    width: 116px;
                    flex: 0 0 116px;
                }
            }
        }

        &.opinion-card{
            a.card{
                border: unset; 
            }
            .c-cards-view {
                &__container{
                    border: 0;
                }
                &__category {
                    font-family: $font-family-sans-serif;
                    @include font-size(12);
                    text-transform: uppercase;
                }

                &__time {
                    @include font-size(10);
                }
            }
        }     
    }
}