@mixin card-pod-td-base{
    a.card {
        
        article {
            position: relative;
            > figure {
                //display: none;
                position: absolute;
                left: 0;
                z-index: -1;
                width: 55%;
                height: 100%;
                
                > img{
                    //display: none;
                    object-fit: cover;
                }   

            }
            .content {
                > h2 { 
                    font-size: rem(16);
                    color: #fd3744;
                    height: 20px;
                    font-weight: 600;
                    font-family:$font-family-sans-serif;
                    text-transform: uppercase;
                }
                >p {
                    font-size: rem(14);
                    color: white;
                    height: 40px;
                    font-family:$font-family-sans-serif;  
                }

                .category{
                    display: none;
                }
                .author {
                    
                    img {
                        display: none;
                    }
                    p {
                       display: none; 
                    }
                }
                time {
                    display: none;
                }
                
            }
            &:after{
                content: '';
                position: absolute;
                background-image: url('../icons/play-arrow-red.svg?v=2');
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

.card-pod-td{
    @media #{$desktop-up} {
        @include card-pod-td-base;
        a.card {
            background-image: url('../images/thedetail.png');
            height: 235px;
            background-size: 45%;
            background-position-x: right;
            background-position-y: bottom;
            background-repeat: no-repeat;
            border: #979797 0.5px solid;
            article {
                .content {
                    float: left;
                    width: 412px;
                    margin-top: 164px;
                    height: calc(100% - 164px);
                    padding: 0 48px 0;
                    background-color: black;
                    >p {
                        line-height: 1.17;
                        margin-bottom: 0;
                    
                    }
                    h2{
                        margin-top: 8px;
                        width: max-content;
                        max-width: 90%;
                    }
                    @media screen and (max-width: 1199px){
                        width: 320px;
                        h2{
                            max-width: 80%;
                        }
                    }
                }
                &:after{
                    width: 15px;
                    height: 20px;
                    left: 15px;
                    bottom: 35px;
                } 
            } 
        }
    }
}
.card-pod-td-tablet{
    @media #{$tablet} {
        @include card-pod-td-base;
        a.card {
            height: 235px;
            background-image: url('../images/thedetail.png');
            background-size: 45%;
            background-position-x: right;
            background-position-y: bottom;
            background-repeat: no-repeat;
            border: #979797 0.5px solid;
            article {
                .content {
                    float: left;
                    width: 395.5px;
                    margin-top: 164px;
                    height: calc(100% - 164px);
                    padding: 0 48px 0;
                    background-color: black;
                    >p {
                        line-height: 1.17;
                        margin-bottom: 0;
                    
                    }
                    h2{
                        margin-top: 8px;
                        width: max-content;
                        max-width: 90%;
                    }
                }
                &:after{
                    
                    width: 15px;
                    height: 20px;
                    left: 15px;
                    bottom: 35px;
                } 
    
            }
        }
    }
}
.card-pod-td-mobile{
    @media #{$mobile} {
        @include card-pod-td-base;
        a.card {
            background-image: url('../images/thedetail-mobile.png');
            height: 116px;
            background-size: 35%;
            
            background-position: right;
            background-repeat: no-repeat;
            border-top: #979797 0.5px solid;
            border-bottom: #979797 0.5px solid;
            position: relative;
            article {
                figure{
                    width: 65%;
                }
                .content {
                    margin-top: 57.5px;

                    height: 50%;
                    background-color: black;
                    padding: 5px 10px 0 30px;
                    float: left;
                    width: 65%;
                    >h2 {
                        font-size: rem(14);
                        width: max-content;
                        max-width: 80%;
                        height: 16px;
                    }
                    >p{
                        height: 35px;
                        font-size: rem(11);
                        margin-bottom: 0;
                    }
                }
                &:after{
                    width: 12px;
                    height: 16px;
                    left: 15px;
                    bottom: 32px;
                }
            }
        }
    }
}