.card-pro-partial{
    a.card {

        article {
            height:130px;

            > figure {
                height:129px;
                width:170px;
                flex:none;
                position: relative;
                float: left;
                > img{
                    width: auto;
                    height: 100%;
                }   

            }
            >.video{
                &:after{
                    top: 30%;
                    left: 32%;
                }
            }
            .content {
                width: unset;
                position: absolute;
                margin-left: 190px;
                height: 100%;
                > h2 { 
                    color: #fcfcfc;
                    @include font-size(20);
                    max-height: 80px;
                    font-weight: 300;
                }
                >p {
                    display: none;
                }

                .category{
                    color: #e22f22;
                    margin-bottom: 10px;
                    @include font-size(14);
                }
                .author {
                    display: inherit;
                    img {
                        display: none;
                    }
                    p {
                        display: inherit;
                        margin-top: 10px;
                        color: #fcfcfc;
                        @include font-size(13);
                        font-weight: 300;
                        
                           position: absolute;
                           bottom: 0; 
                        
                    }
                }
                time {
                    display: none;
                }
                
            }
        }
    }
}
.card-pro-partial-tablet{
    @media #{$tablet} {
        a.card {
            article {
                > figure {
                    width:107px;
                }
                .content {
                    width: unset;
                    position: absolute;
                    margin-left: 120px;
                    h2{
                        font-weight: 300;
                    }

                }
            }
        }
    }
}
.card-pro-partial-mobile{
    @media #{$mobile} {
        margin-left: -15px;
        margin-right: -15px;
        &:first-child{
            padding-bottom:15px;
            border-bottom: solid 1px white;
        }
        &:last-child{
            margin-top: 15px;
        }
        a.card {
            height: 75px;
            width: 100%;

            article {
                height: 100%;

                > figure {
                    height: 75px;
                    width: 115px;
                    > img{
                        height: 100%;
                    }   

                }
                .content {
                    height: 75px;
                    margin-left: 130px;
                    padding-right: 30px;
                    > h2 { 
                      @include font-size(16);
                      max-height: 40px;  
                      margin-bottom: 0;
                    }
                    >p {
                       
                    }

                    .category{
                        @include font-size(12);
                        margin-bottom: 5px; 
                    }
                    .author {
                        
                        img {
                           display: none; 
                        }
                        p {
                            @include font-size(12);
                            font-weight: 200;
                            margin-top: 0;    
                        }
                    }
                    time {
                       
                    }
                    
                }
            }
        }
    }


}