.card-pro-partial{
    a.card {
        article {
            height:130px;

            > figure {
                height:129px;
                width:203px;
                flex:none;
                position: relative;
                float: left;

                @media screen and (max-width: $md-break){
                    width: 150px;
                    flex: 0 0 150px;
                }

                @media screen and (max-width: $sm-break-down) {
                    margin-top:6px;
                    margin-bottom:6px;
                    width: 116px;
                    flex: 0 0 116px;
                }
                > img{
                    width: auto;
                    height: 100%;
                }   

            }
            .content {
                border-bottom: unset;
                flex:none;
                padding-right: 15px;
                padding-left: 15px;
                width: 60%;
                > h2 { 
                    color: #fcfcfc;
                    font-size: rem(28);
                }
                >p {
                    display: none;
                }

                .category{
                    color: #e22f22;
                    margin-bottom: 10px
                }
                .author {
                    display: inherit;
                    img {
                        display: none;
                    }
                    p {
                        display: inherit;
                        margin-top: 10px;
                        color: #fcfcfc;
                    }
                }
                time {
                    display: none;
                }
                
            }
        }
    }
}