@mixin card-featured-reverse-base {

    height: 430px;
    margin-bottom: 22px;
    position: relative;

    &:before{
        content: '';
        width: 20px;
        height: 100%;
        bottom: 0;
        top: 0;
        z-index:10;
        position: absolute;
    }

    &.viewing {
        &:before{
            background: #73459b;
        }
        .c-cards-view {
            &__category {
                color:#73459b;
            }
            &__time {
                color:#73459b;
            }
        }
    }

    &.investigations {
        &:before{
            background: #aa272e;
        }
        .c-cards-view {
            &__category {
                color:#aa272e;
            }
            &__time {
                color:#aa272e;
            }
        }
    }

    &.locker {
        &:before{
            background: #F6AE00;
        }
        .c-cards-view {
            &__category {
                color:#F6AE00;
            }
            &__time {
                color:#F6AE00;
            }
        }
    }



    .c-cards-view {
        @include flexbox();
        flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;

        width: 100%;
        height: 100%;
        border: 0;


        &__media {
            width: 55%;
            -webkit-flex: 0 0 55%;
            -ms-flex: 0 0 55%;
            flex: 0 0 55%;
            // height: auto;

            @media screen and (max-width: $md-break){
                width: 60%;
                -webkit-flex: 0 0 60%;
                -ms-flex: 0 0 60%;
                flex: 0 0 60%;
            }
        }

        &__container {

            max-width: 377px;
            // width: 40%;
            // -ms-flex: 0 0 40%;
            // -webkit-flex: 0 0 40%;
            // flex: 0 0 40%;
            padding: 38px 30px 10px 59px;

        }

        // &__comment-count {
        //     color:white;
        // }



        &__category {
            @include font-size(14);
            font-weight: bold;
            color:white;
        }

        &__heading {
            @include font-size(44);
            font-weight: bold;
            line-height: 1.02;
            color: white;
            margin-bottom: 40px;
            margin-top:21px;

            @media screen and (max-width: $md-break){
                @include font-size(30);
            }

        }

        &__author-name {
            display:none;
        }

        &__time {
            padding:0;
            float:none;
            border:none;
            font-size: 14px;
            font-weight: bold;
            bottom: 15px;
            position: absolute;
        }

        &__description {
            display:none;
            @include font-size(20);
            line-height: 1.25;
            color: white;
            margin-bottom: 30px;
            height: 75px;
        }
    }
}
    
    
    
    
    
    
    
.card-featured-reverse-mobile {
    @media #{$mobile} {
        @include card-featured-reverse-base;
        
        margin-left: -15px;
        margin-right: -15px;
    
        &:before{
            @media #{$mobile} {
                display: none;
            }
        }
    
        .c-cards-view {

            display:block;
            flex-direction: column;
            padding-bottom: 15px;
            padding-top: 15px;
            border-bottom: solid 1px #d4d4d4;
            border-right: 0;


            &__media {
                width: 100%;
                flex: 0 0 100%;
                position: relative;

                &:before{
                    content: '';
                    width: 20px;
                    height: 100%;
                    bottom: 0;
                    top: 0;
                    background: #F6AE00;
                    position: absolute;
                }
            }
    
            &__container {
                width: 100%;
                flex: 0 0 100%;
                padding: 19px 15px;
                max-width: initial;
            }
    
            &__category {
                font-family: $font-family-sans-serif;
                @include font-size(14);
                text-transform: uppercase;
            }
    
            &__heading {
                @include font-size(22);
                margin-bottom: 15px;
            }
    
        }
    }
}

.card-featured-reverse-tablet {
    @media #{$tablet} {
        @include card-featured-reverse-base;
        height: 280px;
        margin-left: -15px;
        .c-cards-view {
            &__container {
                padding: 15px 20px 5px 25px;
            }

            &__heading {
                @include font-size(27);
                min-height:97px;
                max-height:97px;
            }

            &__description {
                display: block;
                @include font-size(13);
                line-height: 1.25;

            }

        }
    }
}

.card-featured-reverse-desktop {
    @media #{$desktop} {
        @include card-featured-reverse-base;
        margin-left: -15px;
        .c-cards-view {
    
            &__container {
                // width: 45%;
                // -ms-flex: 0 0 45%;
                // -webkit-flex: 0 0 45%;
                // flex: 0 0 45%;
                overflow: hidden;
                padding:38px 30px 40px 59px;
            }
            &__description {
                display: block;
            }

        }
    }
}

.card-featured-reverse-desktop-lg {
    @media #{$desktop-lg} {
        @include card-featured-reverse-base;
        margin-left: -15px;

        .c-cards-view {

            &__container {
                max-width: 510px;
                padding:38px 80px 40px 59px;

            }
    
            &__description {
                display: block;
            }

        }
    }
}


    