.card-pro-popular{
    a.card {
    	border-bottom: 1px solid #dadada;
    	padding-bottom: 18px;
        height: 113px;
        article {
            figure {
            	display: block;
                position: absolute;
                height: 113px;
                width:  141px;
                left: 0;
            	img {
                	height: 100%
                }
            }
            .content {
            	border-bottom: unset;
            	padding-top: 12px;
			    margin-left: 150px;	
            	.category {
            		display: block;
				    color: #e22f22;
				    
            	}
                .author {
                	> img {
                		display:none;
                	}
                }
                > h2 {
                	height: 60px;
                    margin-bottom: 0;
                    margin-top: 10px;
                }
                > p {
                	display: none;
                	
                }
                time{
                	color: #8a8b93; 
                }
                
            }
        }


    }
    &:first-child {
        
       
    }
    &:last-child {
       
    }
}