@mixin card-sm-base {
    position:relative;
    margin-bottom: 79.5px;

    >a.without__image {
        .c-cards-view {
            &__container {
                height:333px;

            }

            &__heading {
                margin-top: 60px;
                font-size: 30px;
                height: 190px;
            }
        }
    }



    >a.social {
        .content {
            .category {
                margin-top:0;
                margin-bottom:8px;
            }
    
            > p {
                display:block;
                @include font-size(18);
            }
            .author {

            }
        }

        &.without__image {

            .content {
                height:100%;

                > p {
                    height: 225px;
                    margin-bottom:52px;
                }
            }
        }
    }




    .c-cards-view {
        height: 100%;
        @include flexbox();
        @include flex-direction(column);

        &__media {
            width: auto;
            overflow: hidden;
            height:208px;
        }
    

        &__container {
            position:relative;
            height: 125px;
            border: 1px solid #dadada;
            padding: 13px 15px 8px 15px;
        }

        &__category {
            @include font-size(14);
            font-weight: bold;
            color: #8a8b93;
            display: block;
            line-height: 1;
            margin-bottom: 8px;

        }

        &__heading {
            font-weight: normal;
            @include font-size(20);
            max-height: 50px;
        }

        &__author-name {
            display: none;
        }

        &__time {
            padding: 0;
            border: 0;
            color: #f73d30;
            bottom: 15px;
            position: absolute;
        }

        &__description {
            display: none;
        }
        
    }


    &--reverse {
        .c-cards-view {
            background: #000;
            &__heading {
                color:white;
            }
            &__container {
                border:none;
            }
            &__category {
                color: #27aae1;
            }

            &__time {
                color:white;
            }
        }
    }
}


.card-sm{
    @media #{$desktop-up}{
        @include card-sm-base;
    }
}



.card-sm-tablet {
    @media #{$tablet}{
        @include card-sm-base;

        .c-cards-view {

            &__media {
                // width: 98px;
                height: 194px;

            }
    
            &__container {
                height:116px;
            }
    
            &__category {
            }
    
            &__heading {
            }
    
            &__author-name {
            }
    
            &__time {
            }
    
            &__description {
            }
    
        }
    }
}

.card-sm-mobile {
    @media #{$mobile}{
        @include card-sm-base;
        
        margin-bottom:0;

        .c-cards-view {
            @include flex-direction(row);
            height: 115px;
            margin-left: -15px;
            margin-right: -15px;

            &__media {
                @include flex-height(116px);
                @include flex-width(116px);
            }

            &__container {
                border:none;
                border-top: 1px solid #dadada;    
                padding:10px;
                height:100%;

                &:last-child() {
                    border-bottom: 1px solid #dadada;
                }
            }
        }
    }
}





 

        // &.advert {
    //     a.card {
    //         margin-left: -35px;
    //         background: #0082c9;

    //         @media #{$up-to-desktop} {
    //             margin-left:0;
    //         }

    //         @media #{mobile-small}{
    //             margin-left:-15px;
    //         }



    //         > article {
    //             @media #{$up-to-desktop} {
    //                 display:-webkit-box;
    //                 display:-webkit-flex;
    //                 display:-moz-flex;
    //                 display:-ms-flexbox;
    //                 display:flex;
    //                 height: 235px;
    //                 flex-wrap: nowrap;
    //                 -webkit-flex-wrap: nowrap;
    //                 -ms-flex-wrap: nowrap;
    //             }
    //             @media #{mobile-small}{
    //                 display:block;
    //                 height:auto !important;
    //             }


    //             figure {
    //                 height:312px;

    //                 @media #{$up-to-desktop} {
    //                     width: 330px;
    //                     height:235px;
    //                     -ms-flex: 0 0 330px;
    //                     -webkit-flex: 0 0 330px;
    //                     flex: 0 0 330px;
    //                     overflow: hidden;
    //                     float: left;
    //                 }

    //                 @media #{mobile-small}{
    //                     height:116px;
    //                     width:116px;
    //                 }    

    //                 > img {
    //                     object-fit:fill;
    //                 }       
    //             }
            
    //            > .content {
    //                 border:none;
    //                 display:block;
    //                 @media #{mobile-small}{
    //                     padding-left:126px;
    //                     height:116px;
    //                 }

    //                 > h2 {
    //                     margin-top:12px;
    //                     @include font-size(24);
    //                     font-weight:600;
    //                     color:white;
    //                     padding-bottom:15px;
    //                     border-bottom: solid 1px #dadada;
    //                     @media #{$desktop-up}{
    //                         max-height: 60px;
    //                     }
                    
    //                     @media #{$up-to-desktop} {
    //                         @include font-size(28);
    //                         margin: 50px 0 0 0;
    //                         min-height:110px;
    //                         padding-bottom:30px;
    //                     }
    //                     @media #{mobile-small}{
    //                         margin: 12px 0 0 0;
    //                         min-height:auto;
    //                         padding-bottom:15px;
    //                     }

    //                 }
    //             }  
    //         }

    //     }
    // }

   