@mixin card-pro-column-base() {
    a.card{
        > article {
            display:-webkit-box;
            display:-webkit-flex;
            display:-moz-flex;
            display:-ms-flexbox;
            display:flex;
            height: auto;
            flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
            height: 110px;
        
            > figure{
                display: none;
            }

            > .content{
                border-bottom: 2px solid #000000;
                padding-bottom: 1px;
                padding-top: 18px;
                
                
                > .category{
                     display: none
                }

                > h2{
                    font-family: $font-family-sans-serif;
                    font-weight: 700;
                    font-size: rem(17);
                    height: 65px;
                    margin-left: 107px;
                }

                >p {
                    display:none;
                }


                > .author{
                    position: absolute;
                     >p {
                        font-size:  rem(18);
                        font-weight: 600;
                        color: #cb2204;
                        margin-top: 55px;
                        margin-left: 7px;
                    }
                    >img {
                        width: 92px;
                        height: 90px;
                        float: left;
                    }


                }

                > time{
                    display:none;
                }

                
            }
        }
    } 
}

.card-pro-column{
    @media #{$desktop-up} {
        @include card-pro-column-base;
          
    }
}

.card-pro-column-tablet{
    @media #{$tablet} {
        @include card-pro-column-base;
        
    }
}
.card-pro-column-mobile{
    @media #{$mobile} {
        @include card-pro-column-base;

           
    }
}