@mixin card-pod-base{
    a.card {
        
        article {
            
            > figure {
                display: none;
                > img{
                    display: none;
                }   

            }
            .content {
                > h2 { 
                    font-size: rem(16);
                    color: #fd3744;
                    height: 20px;
                    font-weight: 600;
                    font-family:$font-family-sans-serif;
                    text-transform: uppercase;
                }
                >p {
                    font-size: rem(14);
                    color: white;
                    height: 75px;
                    font-family:$font-family-sans-serif;  
                }

                .category{
                    display: none;
                }
                .author {
                    
                    img {
                        display: none;
                    }
                    p {
                       display: none; 
                    }
                }
                time {
                    display: none;
                }
                
            }
            &:after{
                content: '';
                position: absolute;
                background-image: url('../icons/play-arrow-red.svg?v=2');
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

.card-pod{
    @media #{$desktop-up} {
        @include card-pod-base;
        a.card {
            background-image: url('../images/thedetail2.png?v=2');
            height: 235px;
            background-size: 289px;
            background-position-x: right;
            background-position-y: bottom;
            background-repeat: no-repeat;
            border: #979797 0.5px solid;
            article {
                .content {
                    float: left;
                    width: 420px;
                    height: 100%;
                    background-color: black;
                    padding: 60px 70px 60px 40px;
                    >p {
                        margin-top: 8px;
                        &:before{
                            content:'';
                            position: absolute;
                            margin-top: 75px;
                            width: 35px;
                            border-top: 1px solid #979797;
                        }
                    }
                    h2{
                        width: max-content;
                        max-width: 90%;
                    }
                }
                &:after{
                    width: 15px;
                    height: 20px;
                    margin-top: 60px;
                    margin-left: -90px;
                } 
            } 
        }
    }
}
.card-pod-tablet{
    @media #{$tablet} {
        @include card-pod-base;
        a.card {
            height: 235px;
            background-image: url('../images/thedetail2.png?v=2');
            background-size: 289px;
            background-position-x: right;
            background-position-y: bottom;
            background-repeat: no-repeat;
            border: #979797 0.5px solid;
            article {
                .content {
                    float: left;
                    width: 420px;
                    height: 100%;
                    background-color: black;
                    padding: 60px 70px 60px 40px;
                    >p {
                        margin-top: 8px;
                        &:before{
                            content:'';
                            position: absolute;
                            margin-top: 75px;
                            width: 35px;
                            border-top: 1px solid #979797;
                        }
                    }
                    h2{
                        width: max-content;
                        max-width: 90%;
                    }
                }
                &:after{
                    width: 15px;
                    height: 20px;
                    margin-top: 60px;
                    margin-left: -90px;
                }
    
            }
        }
    }
}
.card-pod-mobile{
    @media #{$mobile} {
        @include card-pod-base;
        a.card {
            background-image: url('../images/thedetail-mobile2.png?v=2');
            height: 116px;
            background-size: 115px;
            background-position: left;
            background-repeat: no-repeat;
            background-color: black;
            border-top: #979797 0.5px solid;
            border-bottom: #979797 0.5px solid;
            article {
                .content {

                    padding: 20px 30px 10px 140px;
                    float: right;
                    >h2 {
                        font-size: rem(14);
                        width: max-content;
                        max-width: 80%;
                    }
                    >p{
                        height: 65px;
                        font-size: rem(12);
                    }
                }
                &:after{
                    width: 9px;
                    height: 12px;
                    margin-left: -30px;
                    right: 30px;
                    margin-top: 22px;
                }
            }
        }
    }
}