@mixin subfeature-card-base {
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    $color: #6c6c6c;

    &.locker {
        $color: #F6AE00;
    }

    .c-cards-view { 
        @include flexbox();
        flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;


        &__media {
            width: 92px;
            -webkit-flex: 0 0 92px;
            flex: 0 0 92px;
        }

        &__container{
            padding-left: 27px;
        }
        &__category{
            @include font-size(14);
            color: $color;
            text-transform: uppercase;
            display: block;
            line-height: 1;

        }

        &__description {
            display:none;
        }

        &__heading{
            @include font-size(20);
            line-height:1.1;
            font-weight:normal;
            height:72px;
            margin-top:2px;
        }

        &__time{
            float:none;
            padding:0;
            border:none;
            font-size: 12px;
            color: #8a8b93;
            bottom: 0;
            position: absolute;
        }

        &__author-name {
            display: none;
        }
    }

}


.subfeature-card-mobile{
    @media #{$mobile}{
        @include subfeature-card-base;
        .c-cards-view { 
            border-right: 0;
            margin-top:15px;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 13px;

            &__media {
                max-width: 105px;
                max-height: 105px;
                -webkit-flex: 0 0 105px;
                flex: 0 0 105px;
            }

            &__heading {
                margin-top:4px;
            }



            &__time {
                bottom: 13px;
            }
        }

    }
}

.subfeature-card-tablet{
    @media #{$tablet}{
        @include subfeature-card-base;

        .c-cards-view { 

            &__container{
                padding-left: 14px;
            }
    
            &__media {
                max-width: 58px;
                max-height: 63px;
                -webkit-flex: 0 0 58px;
                flex: 0 0 58px;
            }

            &__category{
                @include font-size(10);
            }

            &__comment-container {
                position: relative;
                top: -2px;
            }
            &__comment-count {
                @include font-size(10);
            }
            .comment-icon {
                width:15px;
                height:9px;
            }

            &__heading{
                @include font-size(16);
                line-height:1.1;
                font-weight:normal;
                height:45px;
                margin-top:0;
            }
    
            &__time{
                @include font-size(10);
                bottom:-2px;
            }
    


        }

    }
}

.subfeature-card-desktop-sm{
    @media #{$desktop}{
        @include subfeature-card-base;
    }
}

.subfeature-card-desktop-lg{
    @media #{$desktop-lg}{
        @include subfeature-card-base;
    }
}



