@mixin card-sm-black-base {
    position:relative;
    margin-bottom: 79.5px;

    .c-cards-view {
        height: 100%;
        @include flexbox();
        @include flex-direction(column);
        background: black;

        &__media {
            width: auto;
            overflow: hidden;
            height:208px;
        }
    

        &__container {
            position:relative;
            height: 125px;
            border: 1px solid #dadada;
            padding: 13px 15px 8px 15px;
        }

        &__comment-container {
            margin-bottom:8px;;
        }


        &__category {
            @include font-size(14);
            font-weight: bold;
            
            color: #27aae1;
            display: block;
            line-height: 1;

        }

        &__heading {
            color:white;

            font-weight: normal;
            @include font-size(20);
            max-height: 50px;
        }

        &__author-name {
            display: none;
        }

        &__time {
            padding: 0;
            border: 0;
            color: white;
            bottom: 15px;
            position: absolute;
        }

        &__description {
            display: none;
        }
        
    }


        &.without__image {
            .c-cards-view {

                &__container {
                    height:333px;

                }

                &__heading {
                    margin-top: 60px;
                    font-size: 30px;
                    height: 190px;
                }
        }



        &.social {
            .content {
                .c-cards-view__comment-container {
                    margin-bottom:8px;;
                }
        
                .category {
                    margin-top:0;
                }
        
                > p {
                    display:block;
                    @include font-size(18);
                }
                .author {

                }
            }

            &.without__image {

                .content {
                    height:100%;

                    > p {
                        height: 225px;
                        margin-bottom:52px;
                    }
                }
            }
        }
    }
}


.card-sm-black{
    @media #{$desktop-up}{
        @include card-sm-base;
    }
}



.card-sm-black-tablet {
    @media #{$tablet}{
        @include card-sm-base;

        .c-cards-view {

            &__media {
                height: 194px;
            }
    
            &__container {
                height:116px;
            }
    
            &__category {
            }
    
            &__heading {
            }
    
            &__author-name {
            }
    
            &__time {
            }
    
            &__description {
            }
    
        }
    }
}

.card-sm-black-mobile {
    @media #{$mobile}{
        @include card-sm-base;
        
        margin-bottom:0;

        .c-cards-view {
            @include flex-direction(row);
            height: 115px;
            margin-left: -15px;
            margin-right: -15px;

            &__media {
                @include flex-height(116px);
                @include flex-width(116px);
            }

            &__container {
                border:none;
                border-top: 1px solid #dadada;    
                padding:10px;
                height:100%;

                &:last-child() {
                    border-bottom: 1px solid #dadada;
                }
            }
        }
    }
}





// .sidebar .card-sm {
//     a.card {
//         article {
//             figure {
//                 height:242px;
//                  @media #{$tablet}{
//                     height:235px;
//                 }

//                 @media #{mobile-small}{
//                     height:auto;
//                 }
//             }
//             .content {

//             }
//         }
//     }
// }



 // &.inverted{
    //     @media screen and (min-width: $mobile-break){
    //         > a.card{
    //             background-color: #000;
    //             color: #FFF;
                
    //             > article { 
    //                 -ms-flex-direction: row-reverse;
    //                 -webkit-flex-direction: row-reverse;
    //                 flex-direction: row-reverse;
    //             }

    //             > article > .content{
    //                 border: 1px solid #000;
    //                     > .category{
    //                         color: #27aae1;
    //                     }

    //                     // @media #{$tablet-up} {
    //                     //     > .author {
    //                     //         display:none;
    //                     //     }
    //                     // }
    //                     > .author p{
    //                         height:40px;
    //                         width:185px;
    //                         color: #FFF;
    //                     }

    //                     > time{
    //                         color: #FFF;
    //                     }
    //                     > p {
    //                         display: none;
    //                     }
    //                 }
    //             }
    //         }
    //         @media #{$tablet} {
    //             > a.card{

    //             > article > .content{

    //                 > .author {
    //                     margin-top:30px;
    //                 }
    //                 > .author p { 
    //                     width: 245px;
    //                 }
    //             }
    //         }
    //     }

    // }


        // &.advert {
    //     a.card {
    //         margin-left: -35px;
    //         background: #0082c9;

    //         @media #{$up-to-desktop} {
    //             margin-left:0;
    //         }

    //         @media #{mobile-small}{
    //             margin-left:-15px;
    //         }



    //         > article {
    //             @media #{$up-to-desktop} {
    //                 display:-webkit-box;
    //                 display:-webkit-flex;
    //                 display:-moz-flex;
    //                 display:-ms-flexbox;
    //                 display:flex;
    //                 height: 235px;
    //                 flex-wrap: nowrap;
    //                 -webkit-flex-wrap: nowrap;
    //                 -ms-flex-wrap: nowrap;
    //             }
    //             @media #{mobile-small}{
    //                 display:block;
    //                 height:auto !important;
    //             }


    //             figure {
    //                 height:312px;

    //                 @media #{$up-to-desktop} {
    //                     width: 330px;
    //                     height:235px;
    //                     -ms-flex: 0 0 330px;
    //                     -webkit-flex: 0 0 330px;
    //                     flex: 0 0 330px;
    //                     overflow: hidden;
    //                     float: left;
    //                 }

    //                 @media #{mobile-small}{
    //                     height:116px;
    //                     width:116px;
    //                 }    

    //                 > img {
    //                     object-fit:fill;
    //                 }       
    //             }
            
    //            > .content {
    //                 border:none;
    //                 display:block;
    //                 @media #{mobile-small}{
    //                     padding-left:126px;
    //                     height:116px;
    //                 }

    //                 > h2 {
    //                     margin-top:12px;
    //                     @include font-size(24);
    //                     font-weight:600;
    //                     color:white;
    //                     padding-bottom:15px;
    //                     border-bottom: solid 1px #dadada;
    //                     @media #{$desktop-up}{
    //                         max-height: 60px;
    //                     }
                    
    //                     @media #{$up-to-desktop} {
    //                         @include font-size(28);
    //                         margin: 50px 0 0 0;
    //                         min-height:110px;
    //                         padding-bottom:30px;
    //                     }
    //                     @media #{mobile-small}{
    //                         margin: 12px 0 0 0;
    //                         min-height:auto;
    //                         padding-bottom:15px;
    //                     }

    //                 }
    //             }  
    //         }

    //     }
    // }

   