@mixin card-pod-base{
    a.card {
        article {
            

            > figure {
                display: none;
                > img{
                    display: none;
                }   

            }
            .content {
                > h2 { 
                    font-size: rem(16);
                    color: white;
                    height: 20px;
                    font-weight: 600px;
                    font-family:$font-family-sans-serif;
                    text-transform: uppercase;
                }
                >p {
                    font-size: rem(14);
                    color: white;
                    height: 75px;
                    font-family:$font-family-sans-serif;  
                }

                .category{
                    display: none;
                }
                .author {
                    
                    img {
                        display: none;
                    }
                    p {
                       display: none; 
                    }
                }
                time {
                    display: none;
                }
                
            }
            &:after{
                position: absolute;
                content: '';
                background-image: url(../icons/play-arrow.svg);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        
    }
}



.card-pod{
    @media #{$desktop-up} {
        @include card-pod-base;
        a.card {
            background-image: url('../images/podback-desk.png');
            width: 750px;
            height: 235px;
            background-size: 750px;
            article {
                .content {
                    float: left;
                    width: 233px;
                    height: 122px;
                    margin-top: 63px;
                    background-color: rgba(0, 0, 0, 0.66);

                }
            }
            &:after{
                width: 20px;
                height: 20px;
                margin-top: 70px;
                margin-left: -25px;
            }    
        }
    }
}
.card-pod-tablet{
    @media #{$tablet} {
        @include card-pod-base;
        a.card {
            background-image: url('../images/podback-tab.png');
            width: 750px;
            height: 235px;
            background-size: 750px;
            article {
                .content {
                    padding: 15px;
                }
            }
            &:after{
                top: 40%;
                left: 35%;
                width: 40px;
                height: 40px;
            }
        }
    }
}
.card-pod-mobile{
    @media #{$mobile} {
        @include card-pod-base;
        a.card {
            background-image: url('../images/podback-mob.png');
            width: 295px;
            height: 92px;
            background-size: 295px;
            article {
                .content {
                    padding: 10px;
                }
            }
            &:after{
                width: 30px;
                height: 30px;
            }
        }
    }
}