.card-pro-popular{
    a.card {
    	border-bottom: 1px solid #dadada;
    	padding-bottom: 15px;
        margin-bottom: 15px;
        height: 128px;
        article {
            height: 113px;
            figure {
            	display: block;
                position: absolute;
                height: 113px;
                width:  141px;
                left: 15px;
            	img {
                	height: 100%
                }
            }
            .content {
            	border-bottom: unset;
            	margin-left: 150px;
                padding-bottom: 0;	
            	.category {
            		display: block;
				    color: #e22f22;
				    
            	}
                .author {
                	> img {
                		display:none;
                	}
                }
                > h2 {
                	height: 75px;
                    margin-bottom: 0;
                    margin-top: 10px;
                }
                > p {
                	display: none;
                	
                }
                time{
                	color: #8a8b93; 
                }
                
            }
        }
        &:last-child {
           border-bottom: unset;
        }

    }
    &:first-child {
        
       
    }
}