
.author-profile {
    @media #{$mobile} {
        margin-top: 30px;
    }
}

.author-profile__image {
    float: left;
    width: 148px;
    height: 148px;
    margin-right: 47px;
    margin-bottom: 50px;
    @media #{$mobile} {
        margin-bottom: 30px;
    }
}

.author-profile__text {
    font-size: rem(15);
}