.managed-users {
    padding:0;
    margin:0;
    margin-bottom:20px;
}
.managed-users-search {
    padding:0;
    margin:0;
}
.managed-users-search__field {
    padding:0;
    margin:0;
    width: calc(100% - 50px);
    height: 100%;
    outline: none;
}
.managed-users-search__button {
    padding:0;
    margin:0;
    position: absolute;
    top: 12px;
    right: 14px;
    background:none;
    border:none;
    color:color(red);
    @include font-size(14);
    font-style: italic;
}
.managed-userContainer {
    height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
}

.managed-users-search__button-clear {
    display:none;
    color:rgb(38, 81, 127);
}


.userdetails{
    list-style:none;
    overflow:hidden;
    border-bottom: 1px solid color(lightgrey);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.userdetails__name{
    // color: #ae232c;
    font-family:$font-family-sans-serif;
    @include font-size(16);
    text-align: left;
    margin:0;
}
.userdetails__username {
    display: inline;
    font-size: 11.7px;
    font-weight: bold;
    line-height: 1.33;
    color: black;
    padding-bottom: 11px;
}
.userdetails__email {
    @include font-size(13);
    margin-right:30px;
    color:black;
}

.userdetails__button {
    display:block;
    height:14px;
    width:14px;
    background-repeat: no-repeat;
    background-size:contain;
    &:hover {
        cursor: pointer;
    }
}
.userdetails__button--edit {
    margin-right:10px;
    background: url('../icons/pencil.svg');
}
.userdetails__button--delete {
    background: url('../icons/cross.svg');
}
.userdetails__button--save {
    color:color(red);    
    margin-right: 40px;
    @include font-size(14);
    position: relative;
    top: -2px;
}


.user-editor {
    list-style:none;
    height: 100%;
    // height: 150px;
}

.user-editor__add{
    border-top: 1px solid #97999c;
    border-bottom: 1px solid #97999c;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.user-editor__spinner {
    position: absolute;
    top: 50%;
    right: 50%;
}
.user-editor__input-container {
    width:48%;
    height:100%;
    position:relative;
    @media #{$mobile} {
        width: 100%;
    }
}
.user-editor__error {
    color:color(red);
    font-weight:600;
    @include font-size(13);
}

.user-editor__input {
    border:none;
    height:30px;
    @include font-size(14);
    padding:5px;
    width:100%;
    margin-bottom:4px;
    border-radius:7px;
    background-color:color(user-editor);
    display:block;
}

.user-editor__buttons {
    padding: 15px 0;
}


.managed-users__more {
    border-color:black;
    margin:0;
}



.managed-users {


    .useremailbuttons{
        flex-grow: 0;
        div {
            position: relative;    
            top: 50%;    
            transform: translateY(-50%);
        }
        .edituser {
            margin-right:10px;
            color: #717171;
            &:hover {
                color: color(red);
                cursor: pointer;
            }

        }
        .saveedit {
            color: #ae232c;
            &:hover {
                color: color(#717171);
                cursor: pointer;
            }
        }
        .canceledit {
            color: #ae232c;
            &:hover {
                color: color(#717171);
                cursor: pointer;
            }
        }

    }

    .edituserfield {
        border-radius: 6px;
        border: 1px solid #E5E5E5;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.empty-listing {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid color(lightgrey);
    margin-bottom: 30px;
    text-align: center;
    color: color(lightgrey);
    @include font-size(13);
}