.c-cta-side {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);

    background-color: $black;
    color: $white;
    text-align:left;
    // margin: 0 10px;
    padding: 30px 30px 0 30px;

    &__logo {
        margin-top:28px;
    }

    &__mail {
        width: 37px;
        height: 23px;
    }


    &__tagline {
        font-family: $font-family-sans-serif;
        color: #FFF;
        @include font-size(16);
        font-weight: 600;
        margin: 16px 0 30px 0;
        padding:5px 0;
        text-align: center;
    }

    &__container {
        padding:20px 30px;
        background-color: $lblue;
        // margin-left: 10px;
        // margin-right: 10px;
        @media #{$desktop-up}{
            min-width: 290px;
        }
    }

    &__input{
        width: calc(100% - 30px);
    }

    &__email{
        font-family: 'PT Sans', Tahoma, Arial, serif;
        color: #000;
        // margin: 0 0 0 10px !important;
        height:35px !important;
        border-radius: 0 !important;
        width: calc(100% - 15px);
        padding-left: 15px;
    }

    &__submit {
        width: 25px; 
        display:flex;
        background: url('../icons/arrow-small.svg') no-repeat center; 
        border:none; 
        outline: none; 
        box-shadow: none;
        margin-right:10px;
        &:focus {
            outline:none;
        }
    }

    &__button{
        font-size: rem(13.5);
        font-weight: $weightBold;
        line-height: 1.33;
        color: $black;
        cursor: pointer;
        width: 100%;
        text-align: center;
        &:hover{
            background-color: $white;
        }

        &--blue{
            margin: 0 0 30px 0;
            padding: 13px 20px;
            background-color: $lblue;
            
        }
    
        &--black{
            margin-bottom: 15px;
            padding: 13px 19px;
            color: $white;
            border: 1px solid $white;
            &:hover{
                // padding: 12px 20px;
                color: $black;
                border: 1px solid $white;
            }
        }
    }
}