.pro-main{

}

.pro-main__border {
	@media #{$tablet-up}{
	    border-right: 1px #979797 solid;
	}
}

.pro-main__header {
    font-family: $font-family-sans-serif;
    font-size: rem(24);
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.pro-main__loadmore{
    font-size: rem(12);
    color: #4a4a4a;
    text-transform: uppercase;
    float: left;
    cursor: pointer;
}

.pro-main__loadless{
    font-size: rem(12);
    color: #4a4a4a;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
}