.rnz-widget{
	width: 300px;
}

.rnz-widget__header{
	color: #FFF;
    background: black;
    padding-left: 10px;
    
}

.rnz-widget__ul{
	background: #dedede;
}

.rnz-widget__li{
	border-bottom: 1px solid white;
	list-style: decimal;
}

.rnz-widget__url{
	color: #212427;
	font-size: 12px;
}