.c-signups-popup{
    position: fixed;
    background-color: $transblack;
    width: 100%;
    height: 300%;
    z-index: 1000000;
    top: 0;

    &__box{
        position: relative;
        width: max-content;
        height: max-content;
        max-width: 816px;
        max-height: 700px;
        margin: 0 auto;
        background: $white;
        padding: 70px;
        margin-top: 50px;
        border-radius: 6px;
        @media #{$mobile} {
            margin-top: 40px;
            width: calc(100% - 30px);
            height: unset;
            max-width: unset;
            max-height: unset;
        
        }
    }

    &__head{
        font-family: $base-font-family;
        font-size: rem(36);
        font-weight: $weightSemibold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.89;
        letter-spacing: normal;
        @media #{$mobile} {
            font-size: rem(28);
        }
    }

    &__subhead{
        font-size: rem(19);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.32;
        letter-spacing: normal;
        color: $base-color;
        @media #{$mobile} {
            font-size: rem(14);
        }

    }

    &__label{
        font-family: $base-font-family;
        font-size: rem(21);
        font-weight: $weightSemibold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $black;
        height: 30px;
        padding-left: 5px;
        @media #{$mobile} {
            margin-bottom: 15px;
        }
    }

    &__logo{
        height: 30px;
        padding: 5px 0;

        &.sustainable_logo {
            height: 25px;
            object-fit: contain;
            @media #{$mobile}{
                padding: 4px 0;
                height: 20px;
            }
        }
    }

    &__text{
        font-family: $font-family-sans-serif;
        font-size: rem(15);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: $black;
        padding-left: 35px;
        @media #{$mobile} {
            display: none;
        }
    }
    &__checkbox{
        width: 25px;
        height: 30px;
        cursor: pointer;
        //margin-top: -10px;
    }
    &__button{
        width: 100%;
        cursor: pointer;
        @media #{$mobile} {
            margin: 0;
        }
    }
}