.c-signups-propanel{
    &__head{
        font-family: $base-font-family;
        font-size: rem(36);
        font-weight: $weightSemibold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.89;
        letter-spacing: normal;
    }

    &__subhead{
        font-size: rem(19);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.32;
        letter-spacing: normal;
        color: $base-color;

    }

    &__button{
        width: 100%;
    }
}