.beca-section {
    padding-bottom: 10px;
    border-bottom: solid 1px #dadada;
    margin-bottom: 40px;
    height: 61px;
    padding-right: 2.5px;
    @media  #{$tablet}{
        margin-top: -45px;
        margin-bottom: 15px;
        padding-right: 0;
    }
    @media  #{$mobile}{
        margin-bottom: 15px;
        height: 45px;
        padding-right: 0;
    }
}
.beca-section__article{
    @media  #{$desktop-up}{
        padding-right: 20px;
    }
    @media  #{$mobile}{
        margin-top: -35px;
    }
    @media  #{$tablet}{

    }
}

.beca-section__text{
    font-size: rem(24);
    font-weight: 600;
    color: #000000;
    float: right;
    margin-top: 13px;
    @media  #{$mobile}{
        font-size: rem(15);
    }

}

.beca-section__logo {
    height: 57px;
    float: right;
    margin-right: -20px;
    margin-left: -8px;
    @media  #{$mobile}{
        height: 45px;
        margin: 0;
    }
}