.c-signups-propanel{
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    @media #{$mobile}{
        border-bottom: 0;
    }

    &__content{
        padding: 20px 0;
        height: 357px;
        @media #{$tablet}{
            z-index: 2;
            position: relative;
        }
        @media #{$mobile}{
            height: 450px;
        }
    }

    &__head{
        font-size: rem(30);
        font-weight: $weightSemibold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $brand-secondary;

    }

    &__subhead{
        font-size: rem(19);
        font-weight: $weightSemibold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: normal;
    }

    &__ul{

    }

    &__li{
        position: relative;
        padding-left: 35px;
        font-size: rem(15);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        @media #{$tablet}{
            font-size: rem(13);
        }

        &:before{
            content: '';
            position: absolute;
            left: 0;
            height: 10px;
            width: 15px;
            margin-top: 5px;
            background-image: url(../icons/tick.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__button{
        width: 100%;
    }

    &__figure{
        position: relative;
        height: 357px;
        @media #{$tablet}{
            width: 200%;
            position: absolute;
            right: 15px;

        }
        @media #{$mobile}{
            height: 150px;
            overflow: hidden;
        }
        &:after {
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            left: 0;
            background-image: linear-gradient(to left, transparent 0%, white 100%);
            content: '';
            @media #{$mobile}{
                display: none;
            }
        }
    }

    &__image{
        height: 357px;
        object-fit: cover;
        @media #{$mobile}{
            width: 100%;
            height: unset;
        }
    }
}