.beca-section__channel {
    padding-bottom: 10px;
    height: 61px;
    padding-right: 2.5px;
    margin-top: -70px;
    @media  #{$tablet}{
        margin-bottom: 15px;
        padding-right: 0;
    }
    @media  #{$mobile}{
        margin-top: 0;
        margin-bottom: 15px;
        height: 45px;
        padding-right: 0;
        width: fit-content;
        margin-left: 25px;
    }
}
.beca-section__article{
    padding-bottom: 10px;
    border-bottom: solid 1px #dadada;
    margin-bottom: 40px;
    height: 61px;
    padding-right: 2.5px;
    @media  #{$desktop-up}{
        padding-right: 20px;
    }
    @media  #{$mobile}{
        margin-bottom: 15px;
        height: 45px;
        padding-right: 0;
        margin-top: -25px;
    }
    @media  #{$tablet}{
        margin-top: -45px;
        margin-bottom: 15px;
        padding-right: 0;
    }
}

.beca-section__arttext{
    @include font-size(24);
    font-weight: 600;
    color: #000000;
    float: right;
    margin-top: 13px;
    @media  #{$mobile}{
        @include font-size(12);
        margin-right: -3px;
        margin-top: 11.5px;
    }

}

.beca-section__artlogo {
    height: 57px;
    float: right;
    margin-right: -20px;
    margin-left: -8px;
    @media  #{$mobile}{
        height: 37px;
        margin: 0;
    }
}

.beca-section__chatext{
    @include font-size(24);
    font-weight: 600;
    color: #000000;
    float: right;
    margin-top: 13px;
    @media  #{$mobile}{
        @include font-size(14);
        margin-right: -5px;
        margin-top: 14px;
    }

}

.beca-section__chalogo {
    height: 57px;
    float: right;
    margin-right: -20px;
    margin-left: -8px;
    @media  #{$mobile}{
        height: 42px;
        margin: 0;
    }
}