

    
input[type=radio] {
    &.inline {
        margin-top:20px;
    }
}

.account-form {

    input[type=checkbox] {
        margin-right: 5px;
        vertical-align: top;
        margin-top: 7px;
        @media #{$mobile} {
             margin-top: 5px;
        }
    }
    
}



.account-form__section-label {
    font-family: $font-family-sans-serif;
    @include font-size(15);
    font-weight: 600;
}

.email-confirm {//this is just for the anti bot
    display: none !important;
}


.account-form__errorText {
    color:color(red);
    font-weight:600;
    @include font-size(13);
}

.account-form__label {
    @include font-size(15);
    color:color(dark);
    line-height: 44px;
}
.account-form__cblabel {
    @include font-size(16);
    font-weight: 400;
    line-height: 1.8;
    @media #{$mobile} {
        @include font-size(12);
    }
}
.account-form__label--mobile {

    @media #{$mobile} {
        display: inherit;
        font-weight: $weightBold;
        margin-bottom: -10px;
        min-width: 130px;
    }
}
.account-form__label--red {
    color:color(red);
    line-height: 1.2;

}
.account-form__input[type=text], .account-form__input[type=password], .account-form__input[type=email], .account-form__input[type=search] {
    display:block;
    border:none;
    height: 44px;
    padding: 7px;
    width:100%;
    // margin-bottom:12px;
    padding-left:15px;
    border-radius:6px;
    border: 1px solid color(lightergrey);
    @include font-size(15);
    &:focus {
        outline:none;
        border: 1px solid color(lightgrey);

    }
    @media #{$mobile} {
        @include font-size(12);
    }

    &.formError {
        border-color:color(red) !important;
    }

    &::placeholder {
        @include font-size(14);
        color:color(lightgrey);
    }
    &::-webkit-input-placeholder {
        @include font-size(14);
        color:color(lightgrey);
    }
    &::-moz-placeholder { /* Firefox 19+ */
        @include font-size(14);
        color:color(lightgrey);
    }
    &:-ms-input-placeholder { /* IE 10+ */
        @include font-size(14);
        color:color(lightgrey);
    }
    &:-moz-placeholder { /* Firefox 18- */
        @include font-size(14);
        color:color(lightgrey);
    }

    &:disabled {
        background:none;
        border: none;
        webkit-box-shadow: none;
        box-shadow: none;
    }

}



.account-form__inline-inputs {

    @include flexbox();
    @include align-items(center);

    label {
        flex: 2;
    }
    input, span {
        flex: 7;
    }
}

.account-form__value {
    margin:0;
    flex:7;
    font-family: $font-family-sans-serif;
    @include font-size(15);
    @media #{$mobile} {
        @include font-size(12);
        margin-left:0;
    }
}

.account-form__explainer {
    margin-top:-7px;
    font-family: $font-family-sans-serif;
    @include font-size(15);
    font-style:italic;
    color:color(form-explainer);
    flex:7;
    @media #{$mobile} {
        @include font-size(12);
    }
}

.account-form__unsubscribe {
   font-family: $font-family-sans-serif;
    @include font-size(12);
    font-style:italic;
    color:color(form-explainer);
    // margin-left: 20px;
}

.error-message {
    display:none;
    padding:3px 10px;
    background:color(red);
    color:white;
    @include font-size(15);
    margin-bottom:41px;
    &.active {
        display:block;
    }
}





