.email-subscription {
    margin-top: 35px;
    margin-bottom: 10px;

    &__container {
        @include flexbox();    
        @include align-items(center);
    }
    &__checkbox {
        margin-top:0 !important;
    }


    &__label {
        font-family: $font-family-sans-serif;
        @include font-size(13);
        font-weight:400 !important;
    }

}