.recent-articles {
    margin-bottom: 40px;
}

.recent-articles__header {
    @include font-size(26);
    font-family: $font-family-sans-serif;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom:0;
    padding-bottom:5px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 10px;
}

.recent-articles__header-bold {
    font-weight: 700;
}
