.pro-partial__row {
	background: black;
	margin-bottom: 79px;
	padding: 30px 15px;
}

.pro-partial__header {
	display: flex;
	margin-bottom: 10px;
	.pro-partial__header__logo{
		flex-direction: row;
		margin-right: 25px;
		>img{
			width: 260px;
		}
	}

	.pro-partial__header__text{
		font-size: rem(18);
		font-weight: 600;
  		color: black;
  		flex-direction: row;
  		margin-top: 10px;
	}
}