.search-page__header {
	font-family: $font-family-sans-serif;
  	@include font-size(35);
  	font-weight: 600;
  	line-height: 1.09;
  	color: #000000;
  	margin-bottom: 40px;
  	@media #{$mobile} {
  		margin-bottom: 20px;
  	}
}

.search-page__container {
	@media #{$tablet-up} {
		margin-top:  40px;
	}
	@media #{$mobile} {
		margin-top:  130px;
	}
}

.c-search__head {
	margin-bottom: 40px;
	.search-page__header {
		margin-bottom: 15px;
	}
	&__search-string {
		@include font-size(18);
		font-family: $font-family-sans-serif;
		.c-search__name {
			font-family: $font-family-sans-serif;
			font-weight: 600;
		}
	}
	@media #{$mobile} {
		margin-bottom: 20px;
	}
}

