.article-gallery {

}

.article-gallery__image {
    position:relative;
    @media #{$mobile} {
        height:50vw;
        margin-bottom: 25px;
    }
    
    @media #{$tablet} {
        height:390px;
    }
    @media #{$desktop-up} {
        height:515px;
    }
}


.article-gallery__img-container-article {
    height:100%;
}


.article-gallery__img {
    width:100%;
    height:100%;
    object-fit: cover;
    @media #{$desktop-up} {
        .external-article-video{
            height: 641px;
        }
    }
}


.article-gallery__img-container {
    // background-color: #B9B9B9;
    @media #{$tablet}{
        height: 400px;
    }
}


.article-gallery__caption {

    margin-top: 10px;

    @media screen and (max-width: $sm-break-down) {
        float: left;
        margin-bottom: 30px;
    }
    
    > p {
        font-size: em(12.5);
        color: #6c6c6c;
        font-style: italic;
        font-family: $base-font-family;
        float: left;

        &.credit{
            font-style: normal;
            float: right;

            @media screen and (max-width: $sm-break-down) {
                float: left;
            }
        }
    }
}