.pro-room {

    .featured-slider {
        margin-top: 20px;
        margin-bottom: 50px;
        background-color: black;
        max-width: unset;
        @media screen and (max-width: $sm-break-down) {
            margin-bottom: 50px;
        }


        @media screen and (max-width: $mobile-break){
            margin-bottom: 30px !important;
            margin-top: 125px;
        }
        .swiper-container{
            max-width: 1600px;
            background-color: black;
            border: unset; 
        }

    }

    
    .top-stories{ 

        margin-bottom: 50px;
        @media #{$mobile} { 
            margin-bottom: 0;
            margin-left: 15px;
            margin-right: 15px;
        }

        .top-two{

            border-bottom:1px solid #dadada;
            padding-top: 50px;
            max-width: 1170px;
            border-top: unset;
            @media #{$tablet} {
                padding-top: 35px;
                margin-bottom: 0;
            }
            @media #{$mobile} {
                display: none;
            }
        }
    }
    .home-page-content {
        @media #{$mobile} {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    .ajaxArticles {
        @media #{$mobile} {
            margin-left: 15px;
            margin-right: 15px;
            margin-top: -25px;
        }
    }
}


