
.author-profile {
    @media #{$mobile} {
        margin-top: 130px;
    }
}

.author-profile__image {
    float: left;
    width: 148px;
    height: 148px;
    margin-right: 47px;
    margin-bottom: 50px;
    @media #{$mobile} {
        float: unset;
        margin-bottom: 30px;
    }
}

.author-profile__text {
    font-size: rem(18);
    font-family: $font-family-sans-serif;
    color: #6c6c6c;
    @media #{$mobile} {

    }

}

.author-profile__user-name {
    font-family: $font-family-sans-serif;
    color: #6c6c6c;
    text-transform: uppercase;
    @media #{$mobile} {
        font-size: rem(18);
    }
}

.author-profile__mail-icon{
    background-image: url('../icons/email.svg');
    background-repeat: no-repeat;
    @media #{$mobile} {
        width: 22px;
        height: 15px;
    }
}