    .plan-type {
        background:color(marketgrey);
        font-family:$font-family-sans-serif;
    }
    
    .plan-type__header {
        background: black;
        padding:10px;
        color:white;
        @include font-size(18);
        font-weight:600;
    }

    .plan-type__body {
        padding:20px 20px;
        text-align:center;
        overflow:auto;
        @media #{$tablet} {
            padding-top: 10px;
        }
    }

    .plan-type__users {
        @include font-size(18);
        margin-bottom:15px;
        font-family: $font-family-sans-serif;
        @media #{$mobile} {
            @include font-size(16);
        }
    }

    .plan-type__name {
        color:color(red);
        @include font-size(20);
        font-weight:600;
        margin-bottom:10px;
        letter-spacing: 0.4px;
        font-family: $font-family-sans-serif;
        @media #{$tablet} {
           margin-top: 10px; 
        }
    }
    .plan-type__currency {
        color: color(red);
        margin-bottom:rem(18);
        font-size: 18px;
        font-weight: 600;
    }
    
    .plan-type__label {
        @include font-size(14);
        color:color(red);
        margin-bottom:12px;
        font-weight:700;
        @media #{$mobile} {
            @include font-size(16);
        }
    }

    .plan-type__img {
        width:100%;
    }

    .plan-type__link {
        margin-top:15px;
        float:right;
        font-style:italic;
        @include font-size(14);
    }
    .plan-type__features {
        text-align: left;
        font-weight: 600;
        @include font-size(13);
        li {
            margin-bottom: 10px;
        }
        @media #{$tablet} {
            @include font-size(12);   
            li {
                margin-bottom: 5px;
            }
        }
        @media #{$mobile} {
            @include font-size(16);   
        }
    }
