.sponsor-logos2 {
    width:100%;
    text-align: center;
    margin-bottom: 35px;

    
    div.logos {
        display:flex;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        margin: 0 auto;
        margin-top:20px;
        @media #{$mobile} {
            padding: 0;
        }


        a {
            margin: 0px; 
            display: block; 
            width: 100%; 
            height: 100%;

            &.sponsor-vodafone {
                width:310px;
                margin-right: 0;
                @media #{$mobile}{
                    margin:15px 0 0;
                }
            }   

            &.sponsor-bellgully {
                width:374px;
                margin-right: 40px;
                @media #{$tablet}{
                    margin-right: 30px;
                }
                @media #{$mobile} {
                    margin-right: 0;
                }
            }

            &.sponsor-catalyst {
                width:374px;
                margin-left: 40px;
                @media #{$tablet}{
                    margin-left: 30px;
                }
                @media #{$mobile} {
                    margin-left: 0;
                }
            }

            &.sponsor-vic-uni-wellington {
                width:400px;
                @media #{$mobile}{
                    margin:0;
                }
            }

            &.sponsor-uni-auckland {
                width:280px;
                margin-left:20px;
                @media #{$tablet}{
                    margin-right: 30px;
                }
                @media #{$mobile}{
                    margin:15px 0 0;
                }
            }

            &.sponsor-uni-otago {
                width:246px;
                @media #{$desktop-up}{
                    margin-left: 40px;
                }
                @media #{$mobile}{
                    margin:15px 0 0;
                }
            }

            &.sponsor-sky {
                width: 186px;
                @media #{$desktop-up}{
                    width: 85px;
                    height: 67px;
                }
                
            }

            &.sponsor-kiwibank {
                width:130px;
                margin-bottom: -5px;
                margin-right: 60px;
                @media #{$mobile}{
                    margin:0;
                }
                
            }

            &.sponsor-kiwiwealth {
                width: 144px;
                margin-bottom: -9px;
                margin-left: 50px;
                @media #{$mobile}{
                    margin:0;
                }
                
            }


            &.sponsor-stuff {
                width:260px;
                @media #{$mobile}{
                    margin:0;
                }
            }

            &.sponsor-matatuhi {
                width:400px;
                @media #{$mobile}{
                    margin:0;
                }
            }

           

            &.sponsor-wispa {
                width:260px;
                margin-right: 40px;
                @media #{$mobile}{
                    margin:0;
                }
            }
            @media #{$mobile}{
                margin:0;
            }
        }
    }
}