.password-reset-form {
    input[type=text], input[type=password], input[type=email] {
        display:block;
        border:none;
        height: 44px;
        padding: 7px;
        width:100%;
        margin-bottom:12px;
        padding-left:15px;
        border-radius:6px;
        border: 1px solid color(lightergrey);
        background:white;
        @include font-size(15);
        @media #{$mobile} {
            @include font-size(15);
        }


        &::placeholder {
            @include font-size(14);
            color:color(lightgrey);
        }
        &::-webkit-input-placeholder {
            @include font-size(14);
            color:color(lightgrey);
        }
        &::-moz-placeholder { /* Firefox 19+ */
            @include font-size(14);
            color:color(lightgrey);
        }
        &:-ms-input-placeholder { /* IE 10+ */
            @include font-size(14);
            color:color(lightgrey);
        }
        &:-moz-placeholder { /* Firefox 18- */
            @include font-size(14);
            color:color(lightgrey);
        }

        &:disabled {
            padding: 0px !important;
            border: none;
        }
    }

    .password-reset-form__remember {
        overflow:auto;
        >div {
            float:left;
            @media screen and (max-width: $sm-break-down) {
                float:none
            }


            label {
                @include font-size(12);
                color:color(lightgrey);
                font-weight:normal;
            }
        }
        >p.layout {
            float:right;
            @include font-size(12);
            color:color(lightgrey);
            font-style:italic;
            
            @media screen and (max-width: $sm-break-down) {
                float:none
            }

            &:hover {
                cursor:pointer;
            }
        }

    }
}


.password-reset-form__error_text {
    color: color(red);
    font-family:$font-family-sans-serif;
    @include font-size(16);
    font-weight: 600;
    margin:26px 0;
}
.password-reset-form__p {
    font-family:$font-family-sans-serif;
    @include font-size(16);
    line-height: 1.38;
}
