
.author-profile {
    @media #{$mobile} {
        margin-top: 130px;
    }
}

.author-profile__image {
    float: left;
    width: 148px;
    height: 148px;
    margin-right: 47px;
    margin-bottom: 50px;
    @media #{$mobile} {
        width: 116px;
        height: 116px;
        float: unset;
        margin-bottom: 30px;
        margin: auto;
    }
}

.author-profile__text {
    @include font-size(18);
    font-family: $font-family-sans-serif;
    color: #6c6c6c;
    @media #{$mobile} {

    }

}

.author-profile__user-name {
    font-family: $font-family-sans-serif;
    color: #6c6c6c;
    text-transform: uppercase;
    @media #{$mobile} {
        text-align: center;
        @include font-size(14);
    }
}

.author-profile__mail-icon{
    background-image: url('../icons/email.svg');
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 22px;
    @media #{$mobile} {
        width: 100%;
        height: 15px;
        background-position: center;
        margin-bottom: 15px;
    }
}