.article-subscribe {
    font-family: $font-family-sans-serif;
    width:70%;
}
.article-subscribe__header {
    font-family: inherit;
    @include font-size(20);
    color: color(red);
    font-weight:600;
    margin-bottom:25px;
}
.article-subscribe__p {
    margin-top:35px;
    font-family: inherit;
    font-size: 20px;
    line-height: 1.45;
}
.article-subscribe__link {
    margin-top:10px;
    font-family: inherit;
    font-size: 20px;
    line-height: 1.45;
    text-decoration: underline;
}