.popup-embed-signup{

	background:white;
	margin-top: 35px;


	&__field {
		flex: 2;
	}

	&__input {
		font-size: rem(16);
		margin: 0 !important;
		padding-left:10px;
		line-height: 46px;
		height:48px;

		@media screen and (max-width: $sm-break-down) {
			height:36px !important;
		}

	}


	&__button {
		width: 144px; 
		min-width:95px;
		height: 48px;
		color:white;
		font-size: rem(16);
		background:color(red);
		border:none;
		@media screen and (max-width: $sm-break-down) {
			height:36px;
		}

	}
}