.popup-embed-signup{
	background:white;
	margin-top: 35px;
}

.popup-embed-signup__field {
	flex: 2;
}

.popup-embed-signup__input {
	font-size: rem(16);
	padding-left:10px;
	line-height: 46px;
}


.popup-embed-signup__button {
	width: 144px; 
	min-width:95px;
	height: 48px;
	color:white;
	font-size: rem(16);
	background:color(red);
	border:none;
}