.page-section {
    border-top: solid 1px #979797;
    margin-top: 30px;
    padding-top: 15px;

    @media #{$mobile} {
    	margin: 60px 15px;
    }
    h1{
      font-family: $font-family-sans-serif;
	  font-size: 35px;
	  font-weight: 600;
	  line-height: 1.09;
	  letter-spacing: 0.1px;
	  color: #000000;
    }
    h2 {
    	font-family: $font-family-sans-serif;
		font-size: rem(20);
		font-weight: 600;
		line-height: 1.45;
		color: #e12e21;
    }
}

.page-section__content {
    >p {
        font-size: rem(20);
        line-height: 1.45;
        @media #{$mobile} {
            font-size: rem(16);
            line-height: 1.5;
        }
    }
    li {
        font-size: rem(20);
        line-height: 1.45;
        @media #{$mobile} {
            font-size: rem(16);
            line-height: 21;
        }  
    }
}

