.pro-partial{
	// margin-top: 15px;

	// @media	#{$tablet-up} {
	// 	padding-left: 15px;
	// 	padding-right: 15px;
	// }
	
}

.pro-partial__row {
	
	margin-bottom: 79px;
	min-height: 189px;
	padding: 30px 15px;
	@media #{$tablet} {
		padding: 20px 5px;
		min-height: 169px
	}
	@media #{$mobile} {
		padding: 15px 0px;
		margin-bottom: 0;
	}
}

.pro-partial__header {
	display: flex;
	margin-bottom: 10px;
	
}
.pro-partial__headermobile {
	display: flex;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-top: 30px
	
}
.pro-partial__header__logo{
	flex-direction: row;
	margin-right: 25px;
	>img{
		width: 320px;
	}
	@media #{$tablet}{
		width: 300px;
	}
	@media #{$mobile} {
		>img{
			width: 255px;
		}
	}
}

.pro-partial__header__text{
	@include font-size(18);
	font-weight: 600;
	color: black;
	flex-direction: row;
	margin-top: 5px;
	@media #{$desktop-up}{
		margin-left: auto;
		margin-top: auto;
	}
	@media #{$tablet} {
		margin-top: 10px;
	}
	@media #{$mobile} {
		@include font-size(14);
		margin-top: 0;
	}
}

.pro-partial {
	
    margin-bottom: 80px;
    margin-top: 80px;
    
    > header {
        margin-bottom: 20px;
    }

	.articles{
		background: black;
		border-top: solid 1px #dadada;
		padding-top: 25px;
		padding-bottom: 25px;

        @media #{$mobile}{
            border-bottom: 0;
			padding-top: 0;
			padding-bottom: 0;
			margin-left: -15px;
			margin-right: -15px;
        }
    }
}
