.password-forget {

}

.password-forget__heading {
	font-family: $font-family-sans-serif;
  	font-size: rem(20);
  	font-weight: 600;
  	line-height: 2;
  	color: #000000;
  	margin-left: 10%;
  
}

.password-forget__input {
	width: 435px;
	height: 44px;
	opacity: 0.5;
	border-radius: 6px;
	border: solid 1px #97999c;
	@media #{$mobile} {
		width: 250px;
	}
}

.password-forget__reminder {
	font-size: rem(15);
  	font-weight: 300;
  	color: #0e0e0e;
  	font-style: italic;
  	@media #{$mobile} {
  		font-size: 10px;
  	}
}

.password-forget__button {
	font-size: rem(14);
  	font-weight: bold;
  	color: #ffffff;
  	text-transform: uppercase;
  	background: #e22f22;
  	padding: 13px 46px;

}

.password-forget__helper{
	font-size: rem(20);
}