
.sky-logo{
    width: 175px;
    @media #{$desktop-up}{

    }
    @media #{$tablet}{
        width: 52px;

    }
    @media #{$mobile}{
        width: 35px;

    }
}
.wisp-logo{

    width: 150px;

    @media #{$desktop-up}{
        margin-top: -8px;
    }
    @media #{$tablet}{
        width: 100px;
    }
    @media #{$mobile}{
        width: 70px;
    }
    &--matatuhi{
        margin:0;
    }
}

.wisp-logo__text{
    font-weight: 600;
    margin-right:10px;
    @media #{$desktop-up}{
        font-size: 12px;
        margin-top: 6px;
    }
}
