.footer-subscribe {
    background-color: #e22f22;
    color: #FFF;
    padding:10px;
    padding-top: 20px;
    float:right;
    text-align:center;
    
    @media screen and (max-width: $sm-break-down) {
        float: right;
    }

    &__heading {
        font-family: 'IM Fell Great Primer', serif;
        color: #FFF;
        font-size: 16px;
        font-weight: normal;
        margin:0;
        padding:0;
    }

    &__container {
        background-color: white;
        margin-top: 20px;
    }

    &__email{
        font-family: 'PT Sans', Tahoma, Arial, serif;
        color: #000;
        margin:0 !important; 
        height:22px !important;
        border-radius: 0 !important;
    }

    &__submit {
        width: 15px; 
        height: 21px; 
        display:flex;
        background: url('../images/arrow-small-red.svg') no-repeat center; 
        border:none; 
        outline: none; 
        box-shadow: none
    }

}
