.search-page__header {
	font-family: $font-family-sans-serif;
  	font-size: rem(35);
  	font-weight: 600;
  	line-height: 1.09;
  	color: #000000;
  	margin-bottom: 40px;
  	@media #{$mobile} {
  		margin-bottom: 20px;
  	}
}

.search-page__container {
	@media #{$tablet-up} {
		margin-top:  40px;
	}
	@media #{$mobile} {
		margin-top:  80px;
	}
}

