.rnz-widget{
	// width: 300px;
	@media #{$mobile}{
		width: 100%;
		padding: 0;
		margin-bottom: 40px;
	}
}

.rnz-widget__header{
	color: #FFF !important;
    background: black;
    padding: 5px 0 5px 10px;
    @include font-size(23);
    font-weight: 800;
    font-family: $font-family-sans-serif;
    &:after{
    	content: '';
    	background-image:url(../images/logos/logo-rnz2.png);
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: 99px;
    	float: right;
    	height: 35px;
	    width: 99px;
	    margin-top: -5px;
    }
    
}

.rnz-widget__ul{
	counter-reset: rnz-counter;
    background: #dedede;
    padding-top:10px;
}

.rnz-widget__li{
	border-bottom: 1px solid white;
	list-style: none;
	font-family: $base-font-family;
	@include font-size(15);
	font-weight: 600;
	padding: 10px 23px 10px 40px;

	&:before{
		counter-increment: rnz-counter;
		content: counter(rnz-counter);
		color: #d82229;
		margin-left: -25px;
		margin-right: 15px;
	}
	&:last-child{
		border-bottom: none;
	}
}

.rnz-widget__url{
	color: #212427;
	@include font-size(17, 20);
}