.article-supoort {
	margin-top:100px;
	position:relative;
	overflow:auto;
	padding:20px;
	background-color:rgba(74, 74, 74, 0.1);
}
.article-supoort__text {
	width:65%;
	font-size: rem(16);
	font-weight: 600;
	float:left;
	@media screen and (max-width: $sm-break-down) {
		float:none;
		width: 100%;
		font-size: rem(14);
		text-align:center;
	}

}
.article-supoort__button {
	padding: 0.5em 1em;
	background-color: #e74a52;
	font-size: 14px;
	color: #fff;
	display: inline-block;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	float:right;
	&:hover{
		background-color: #e01e28;
	}
	@media screen and (max-width: $sm-break-down) {
		text-align:center;
		float:none;
		margin-left:auto;
		margin-right:auto;
		margin-top:10px;
	}


}