.awards {

}

.awards__headline {
    font-family: $font-family-sans-serif;
    font-size: rem(32);
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #000000;
    margin-bottom: 20px;
}

.awards__p {
    font-family: $font-family-sans-serif;
    font-size: rem(20);
    margin-bottom:10px;

}
