.donation-banner {
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);
    height: 50px;
    background:black;
    color:white;

    &__container {
        @include flexbox();
        @include flex-direction(row);
        @include align-items(center);    
        height:100%;
    }

    &__logo {
        height:45%;
        margin-right:15px;
    }

    &__text {
        @include font-size(15);
        font-weight:600;
        color:white;
    }

    &__button {
        @include font-size(16);
        font-weight:600;

        background:#2792e1;
        text-transform:uppercase;
        color:white;
        height:100%;
        padding: 0 30px;
        margin-left: 30px;

        &:active, &:focus {
            outline: none;
        }
    }

}