.top-stories-comments {
    margin-bottom: 78px;
    > h2{
        font-family: $font-family-sans-serif;
        font-weight: bold;
        @include font-size(20);
        color: #000000;
        margin:0 0 10px 15px;
    }
}