.email-subscription {
    margin-top: 35px;
    margin-bottom: 10px;

    &__checkbox {

    }


    &__label {
        font-family: $font-family-sans-serif;
        @include font-size(13);
        font-weight:400 !important;
    }

}