.c-signups-podcast{
    border-top: solid 1px $black;
    padding: 30px 0;
    height: 215px;

    &:nth-child(1){
        @media #{$tablet-up}{
            padding-right: 0;
            margin-right: 20px;
        }
    }

    &__figure{
       height: 100%;
       width: 100%;
    }

    &__image{
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

    &__head{
        font-size: rem(26);
        font-family: $base-font-family;
        font-weight: $weightSemibold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $black;
        @media #{$mobile}{
            font-size: rem(16);
        }
    }

    &__blurb{
        font-family: $font-family-sans-serif;
        font-size: rem(14);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: $black;
        @media #{$tablet}{
            font-size: rem(15.2); 
        }
        @media #{$mobile}{
            font-size: rem(12);
            line-height: 1.25;
        }
       
    }

    &__links{
        position: absolute;
        bottom: 5px;
        @media #{$mobile}{
            bottom: 0;
        }
    }

    &__listen{
        font-family: $font-family-sans-serif;
        font-size: rem(10.5);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.9;
        letter-spacing: normal;
        color: $black;
        text-transform: uppercase;
        @media #{$mobile}{
            width: max-content;
        }
    }

    &__spotify{
        width: 55px;
        height: 37px;
        float: left;
        margin-left: -5px;
        &__image{
            object-fit: cover;
        }
    }

    &__itunes{
        width: 30px;
        height: 38px;
        float: left;
        margin-left: 10px;
        &__image{
            object-fit: cover;
        }
    }
    
}