.pro-team-member__container {
    padding-top:55px;
}

.pro-team-member__container\@tablet {
    @media #{$tablet} {
        padding-top:55px;
    }
}

.pro-team-member__container\@mobile {
    @media #{$mobile} {
        padding-top:15px;
    }
}

.pro-team-member {
    height:123px;
    @media #{$tablet} {
        height: 117px;
    }
    @media #{$mobile} {
        height: auto;
    }

}
.pro-team-member__header {
    font-family: $base-font-family;
    font-weight:normal;
    font-style:italic;
    font-size:rem(33);
    margin-top: 55px;
    margin-bottom: 45px;
}
.pro-team-memeber__header\@tablet {
    @media #{$tablet} {
        margin-top:30px;
        margin-bottom:20px;
        font-size: rem(25); 
    }
}
.pro-team-memeber__header\@mobile {
    @media #{$mobile} {
        margin-top:0;
        margin-bottom:20px;
        font-size: rem(22); 
    }
}

.pro-team-member__headshot {
    width:123px;
    height:123px;
    @media #{$tablet} {
        width:75px;
        height:75px;
    }
    @media #{$mobile} {
        width:61px;
        height:61px;
    }

}
.pro-team-member__media-body {
    height:123px;
    @media #{$tablet} {
        height:117px;
    }
    @media #{$mobile} {
        height:auto;
        overflow:visible;
    }

}
.pro-team-member__details {
    float:left;
    height:100%;
    width: 270px;
    // background:blue;
    margin-right:10px;
    @media #{$tablet} {
        // margin-right:70px;
    }
    @media #{$mobile} {
        max-width:70%;
        width:auto;
        min-height:65px;
        padding-top:5px;
    }

}

.pro-team-member__name {
    margin:0;
    padding:0;
    font-family: $base-font-family;
    font-size: rem(26);
    font-weight: normal;
    color: #000000;
    @media #{$tablet} {
        font-size: rem(20);
    }
    @media #{$mobile} {
        font-size: rem(18);
    }
}

.pro-team-member__title {
    margin:0;
    padding:0;
    font-family:$font-family-sans-serif;
    font-size: rem(19);
    font-weight: normal;
    color: color(red);
    @media #{$tablet} {
        font-size: rem(15);
    }
    @media #{$mobile} {
        font-size: rem(14);
    }

}

.pro-team-member__location {
    margin:0;
    padding:0;
    font-family:$font-family-sans-serif;
    font-size: rem(19);
    font-weight: normal;
    color: #8a8b93;
    @media #{$tablet} {
        font-size: rem(16);
    }
    @media #{$mobile} {
        font-size: rem(14);
    }

}

.pro-team-member__intro {
    float:left;
    max-width:333px;
    margin-right:20px;
    // background:green;
    @media (max-width:1199px) {
        max-width:60%;
    }
    @media #{$tablet} {
        max-width:333px;
    }
    @media #{$mobile} {
        margin-top:25px;
        max-width:none;
    }


}

.pro-team-member__intro-text {
    font-family:$font-family-sans-serif;
    font-size:rem(18);
    @media #{$tablet} {
        font-size:rem(16);
    }

}

.pro-team-member__contact {
    float:left;
    // background:red;
}

.pro-team-member__contact-text {
    font-size:rem(18);
    margin:0;
    @media #{$tablet} {
        font-size:rem(16);
    }
    >strong {
        font-weight:600;
    }
}