.sponsor-logos2 {
    width:100%;
    text-align: center;
    margin-bottom: 35px;

    
    div.logos {
        display:flex;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        margin: 0 auto;
        margin-top:20px;
        @media #{$mobile} {
            padding: 0;
        }


        a {
            margin: 0px; 
            display: block; 
            width: 100%; 
            height: 100%;

            &.sponsor-vodafone {
                width:155px;
                margin-right: 0;
                @media #{$mobile}{
                    margin:15px 0 0;
                }
            }   

            &.sponsor-bellgully {
                width:187px;
                margin-right: 40px;
                @media #{$tablet}{
                    margin-right: 30px;
                }
                @media #{$mobile} {
                    margin-right: 0;
                }
            }

            &.sponsor-beca {
                // width:187px;
                margin-right: 40px;
                @media #{$tablet}{
                    margin-right: 30px;
                }
                @media #{$mobile} {
                    margin-right: 0;
                }
            }

            &.sponsor-catalyst {
                width:187px;
                margin-left: 40px;
                @media #{$tablet}{
                    margin-left: 30px;
                }
                @media #{$mobile} {
                    margin-left: 0;
                }
            }

            &.sponsor-vic-uni-wellington {
                width:200px;
                @media #{$mobile}{
                    margin:0;
                }
            }

            &.sponsor-uni-auckland {
                width:140px;
                margin-left:40px;
                @media #{$tablet}{
                    margin-right: 30px;
                }
                @media #{$mobile}{
                    margin:15px 0 0;
                }
            }

            &.sponsor-uni-otago {
                width:123px;
                @media #{$desktop-up}{
                    margin-left: 40px;
                }
                @media #{$mobile}{
                    margin:15px 0 0;
                }
            }

            &.sponsor-sky {
                width: 93px;
                @media #{$desktop-up}{
                    width: 85px;
                    height: 67px;
                }
                
            }

            &.sponsor-kiwibank {
                width:65px;
                margin-bottom: -5px;
                margin-right: 60px;
                @media #{$mobile}{
                    margin:0;
                }
                
            }

            &.sponsor-kiwiwealth {
                width: 72px;
                margin-bottom: -9px;
                margin-left: 50px;
                @media #{$mobile}{
                    margin:0;
                }
                
            }
            &.sponsor-spark {
                width: 160px;
                margin-left: 50px;
                @media #{$mobile}{
                    margin:0;
                }
                width:160px;
                height:59px;
                
                
            }

            &.sponsor-hyundai {
                width:160px;
                height:29px;
            }


            &.sponsor-stuff {
                width:130px;
                @media #{$mobile}{
                    margin:0;
                }
            }

            &.sponsor-matatuhi {
                width:200px;
                margin-right: 40px;
                @media #{$mobile}{
                    margin:0;
                }
            }

            &.sponsor-creative-nz {
                width:198px;
                @media #{$mobile}{
                    margin:0;
                }
            }


           

            &.sponsor-wispa {
                width:130px;
                margin-right: 40px;
                @media #{$mobile}{
                    margin:0;
                }
            }
            @media #{$mobile}{
                margin:0;
            }
        }
    }
}