.text-button {
	border:none;
	background:none;
	color: color(red);
	border: none;
	font-size:rem(14);
	font-family: $font-family-sans-serif;
	&:hover {
		color:color(red);
		cursor:pointer;
	}
}

.text-button--italic {
	font-style:italic;
}