.trial {
	margin-bottom:60px;
	color:color(grey-text);
}
.trial__header {
	font-family: $font-family-serif;
	font-size: rem(34px);
	font-weight: bold;
	line-height: 0.89;
	color: color(red);
	margin-bottom:32px;
}
.trial__text {
	line-height:1.56;
	font-size: rem(16);
	margin-bottom: 20px;
	color: inherit;

	>span {
		font-weight:600;
	}
}
.trial__text--last {
	font-size: rem(16);
	margin-bottom: 20px;
	color: inherit;

	&:before {
	    content: '';
	    display:block;
	    height:1px;
	    width: 49px;
	    margin-bottom:15px;
	    background:color(lightgrey);
	}

}