.nr-site-header-signin {
    // background:pink;
    @include flexbox;
    font-family: $font-family-sans-serif;
    font-weight:600;
}



.nr-site-header-signin__name {
    font-family: inherit;
    font-weight:inherit;
    @include font-size(16);

    margin-top: 15px;
}
.nr-site-header-signin__account {
    font-family: inherit;
    font-weight:600;
    @include font-size(16);
    margin-right:27px;
    flex-grow:1;
    text-align:left;
    padding-left:20px;
    @media #{$mobile}{
        // width: 37.5%;
        height: 50px;
        @include font-size(12);
        font-weight: 300;
        line-height: 50px;
        margin: 0;
        p{
            display: inline-block;
            vertical-align: top;
        }
    }
    
    &:after {
        content: '';
        display:inline-block;
        margin-left:17px;
        width:25px;
        height: 22px;
        background-image: url('../icons/account.png');
        background-size:cover;
        background-repeat:no-repeat;
        // background:black;
        @media #{$mobile}{
            display: none;
            
        }
    }
    &:before{
        display: none;
        content: '';
        @media #{$mobile}{
            display: inline-block;
            background-image: url('../icons/account-white-alt2.png');
            background-size:cover;
            background-repeat:no-repeat;
            width: 19px;
            height: 17px;
            margin-right: 10px;
            margin-top: 18px;
        }
    }
}

.nr-site-header-signin__signbtn {
    width: 161px;
    margin-left: 20px;
    @media #{$mobile}{
        width: 29%;
        height: 50px;
        @include font-size(12);
        margin: 0;
        font-weight: 300;
        line-height: 50px;
    }
}

.nr-site-header-signin__subbtn {
    width: 161px;
    flex-grow:1;
    // text-align:left;
    // padding-left:20px;

    @media #{$mobile}{
        // width: 37.5%;
        height: 37px;
        @include font-size(12);
        font-weight: 300;
        line-height: 3.2;
    }
}

.nr-site-header-signin__pp {
    width: auto;
    border-top: solid 0.5px #dadada;
    border-bottom: solid 0.5px #dadada;
    height: 37px;
    width: 43%;
    display: inline-block;
    p{
        display: inline-block;
        @include font-size(11);
        font-family: $font-family-sans-serif;
        margin: 0 0 0 5px;
        line-height: 1.2;
    }
    &:before{
        content: '';
        display: inline-block;
        // background-image: url('../icons/arrow-right-red2.png');
        background-image: url('../icons/supporter-heart-icon.svg');
        background-size:cover;
        background-repeat:no-repeat;
        width: 18px;
        height: 18px;
        margin-left: 3px;
        margin-top: 10px;
        @media screen and (min-width : 350px) {
            margin-left: 15px;
        }
    }
}

.nr-site-header-signin__hide{
    display:none !important;
}