body.channel.about, body.section.about, body.about {
    @media #{$mobile}{
        margin-top: 130px;
        .site-header-signin__pp{
            >p{
                font-size: 10px !important;
            }
        }
        .ad__gap{
            padding-top: 15px;
        }
    }
    .email {
        text-align:center;
        @include font-size(18);
    }
    

    h1{
        font-family:$font-family-sans-serif;
        @include font-size(47);
        font-weight: bold;
        margin-bottom: 45px;
        @media #{$mobile}{
            @include font-size(26);
        }

    }
    h2{

        @include font-size(33);
        font-weight: normal;
        font-style: italic;
        border-bottom: solid 1px #dadada;
        padding-bottom: 10px;
        margin-bottom: 60px;
    }
    p{
        @include font-size(20);
        line-height: 1.45;
    }
    .content{
        margin-bottom: 24px;
    }

    .content.about {
        margin-bottom:56px;
    }

    .founders{
        .block{
            margin-bottom: 100px;

            @media screen and (max-width: $mmd-break-down){
                border-bottom: solid 1px #dadada;
            }

            .left{
                @media screen and (max-width: $mmd-break-down){
                    text-align: center;
                    margin-bottom: 30px;

                    .section-header-tablet{
                        margin-bottom: 15px;

                        > h3{
                            @include font-size(22);
                        }

                        > .title{
                            @include font-size(20);
                            font-weight: normal;
                            color: #e12e21;
                            text-transform: uppercase;
                        }
                    }

                    figure{
                        display: inline-block;
                        width: 123px;
                        height: auto;
                        margin-bottom: 20px;
                    }

                    .social{
                        @include font-size(18);
                    }

                    > p{
                        @include font-size(18);
                    }
                }

            }

            figure{
                margin-bottom: 40px;
            }
            .social{
                @include font-size(23);
                ul{
                    list-style: none;
                    padding-left: 0;
                    text-align: center;
                    margin-bottom: 20px;
                    > li{
                        display: inline-block;
                    }
                }
            }

            .content{
                padding-left: 47.5px;
                padding-right: 47.5px;

                @media screen and (max-width: $mmd-break-down){
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }

            .section-header{
                display: block;
                border-bottom: 1px solid #dadada;
                padding-bottom: 5px;
                margin-bottom: 57px;

                > h3{
                    display: inline-block;
                    @include font-size(28);
                    font-weight: normal;
                }
                > .title{
                    font-size: 25px;
                    font-weight: normal;
                    font-style: normal;
                    color: #e12e21;
                    margin-left: 15px;
                    display: inline-block;
                    text-transform: uppercase;

                    &:before{
                        content: '';
                        width: 1px;
                        height: 30px;
                        background-color: #dadada;
                        display: inline-block;
                        margin-right: 15px;
                        position: relative;
                        top: 5px;
                    }
                }

                > .city {
                    float:right;
                    margin-top:8px;
                    font-size: 25px;
                    color:#8a8b93;
                    font-weight: normal;
                    font-style: normal;
                    display: inline-block;
                }

            }
        }
    }

    .editor{
        margin-bottom: 80px;
        height: 320px;
        @media #{$tablet} {
            height: 300px;
            padding-bottom: 15px;
            margin-bottom: 25px;

        }
        @media #{$mobile} {
            height: unset;
        }


        .section-header{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            height: auto;
            flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
            margin-bottom: 25px;

            figure{
                float: left;
                margin-right: 15px;
                width: 123px;
                flex: 0 0 123px;
                overflow: hidden;

                @media #{$tablet} {
                    width: 73px;
                    flex: 0 0 73px;
                }

                @media screen and (max-width: $mobile-break){
                    width: 60px;
                    flex: 0 0 60px;
                }
            }

            .header-content{
                -ms-flex: 1 0;

                > h3{
                    @include font-size(23);
                    font-weight: normal;

                    @media #{$tablet} {
                        @include font-size(18);
                    }

                    @media screen and (max-width: $mobile-break){
                        @include font-size(22);
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }

                > .title{
                    @include font-size(15);
                    font-weight: normal;
                    color: #e12e21;

                    @media screen and (max-width: $mobile-break){
                        @include font-size(18);
                    }
                }

                > .muted{
                    @include font-size(15);
                    font-weight: normal;
                    color: #777881;

                    @media screen and (max-width: $mmd-break-down){
                        display: none;
                    }
                }

                > p{
                    @include font-size(15);
                }
            }
        }

        .content{
            > p{
                @include font-size(18);
                line-height: 28px;

                &:last-child{
                    margin-bottom: 30px;
                }
            }
        }

        .contact{
            > p{
                @include font-size(18);
                line-height: 24px;
                margin-bottom: 5px;
            }
        }

    }
}