.room-green{
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 65px;
    margin-top: 80px;
    padding-bottom: 15px;

    @media screen and (max-width: $mmd-break-down){
        margin-bottom: 40px;
        border-bottom: 0;
    }

    > header{
        margin-bottom: 20px;
        .ideas-logo{
            @media #{$tablet-up}{
                width: 250px;
            }
            
            @media #{$mobile}{
                width: 200px;
                margin-bottom:15px;
            }
        }    
    }
}