.coporate-news-room {
    max-width:none;
    padding:0;
}


.sidebar .sponsored.card-sm {
    a.card {
        article {

            figure {

                height: 195px;

                &:after{
                    content:'SPONSORED CONTENT';
                    position:absolute;
                    top:5px;
                    left:10px;
                    color:#fff;
                }
            }

            .content {
                height: 175px;
                div.logo {
                    position:absolute;
                    right:10px;
                    bottom:10px;
                    
                    @media screen and (max-width: $mmd-break-down) {
                        width:60px;
                    }

                    > img {
                        @media screen and (max-width: $mmd-break-down) {
                            width: 100%
                        }
                    }

                    img.stuff {
                        margin-top:20px;
                    }
                }
            }
        }
    }
}

.room-corporate{
    
    background:#d8d8d8;
    padding:50px 0;
    margin-bottom:49px;

    > div > header{
        margin-bottom: 32px;
    }

    h3{
        font-size: em(14);
        font-weight: bold;
        color: #8a8b93;
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        margin-top: 0;
        padding-bottom: 13px;
        border-bottom: solid 1px #d4d4d4;
    }



    .card-sm {

        margin-bottom:0;

        @media screen and (max-width: $mmd-break-down){
            margin-bottom:50px;
        }

        @media screen and (max-width: $sm-break-down){
            margin-bottom:0;
        }


        a.card {

            @media screen and (max-width: $mobile-break){
                height: 115px;
                margin-left: -15px;
                margin-right: -15px;
                border-top: 2px solid #dadada;
                border-bottom: 2px solid #dadada;
                height: auto;
                
                > article {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    flex-wrap: nowrap;
                    -webkit-flex-wrap: nowrap;
                }    
            }

            > article {
               

                .content {
                    background:white;
                    display:block;
                    position:relative;

                    height:195px !important;


                    @media screen and (max-width: $sm-break-down) {
                        height:auto !important;
                    }


                    time {
                        float:none;
                        // position:static !important;
                        @media #{$up-to-desktop}{
                            position: absolute;
                            bottom: 10px;
                        }

                    }

                    div.logo {
                        position:absolute;
                        right:10px;
                        bottom:10px;
                        
                        @media screen and (max-width: $sm-break-down) {
                            width:60px;
                        }

                        > img {
                            @media screen and (max-width: $mmd-break-down) {
                                width: 100%
                            }
                        }

                        img.chorus {
                            width:120px;
                        }



                        img.stuff {
                            margin-top:20px;
                        }
                    }
                }
            }
        }
    }

    
    .sponsors{
        padding-top: 12px;

        > p {
            font-size: em(12);
            font-weight: bold;
            color: #18385f;
            display: inline-block;
            margin-right: 15px;
            margin-bottom: 0;
            vertical-align: bottom;
        }

        > .add-text{
            font-size: 12px;
            float: right;
            color: #6c6c6c;
            padding-top: 6px;
        }
    }
}
