.room-view {
    > header{
        @media screen and (max-width: $sm-mobile-break){
            width:205px;
            margin-left:15px;
        }
    }

    .content-wrapper{
        background: #000;
        padding-bottom:20px;
        @media #{$mobile} {
            padding-bottom:0;
        }
    }
}