.site-header-extra-padding {
    padding-top: 407px !important;
}

.showMenuPanel {

    top:0 !important;
    left:0;
    right:0;
}

.branding-bottom-fixed {
    display:block;
    width:100%;
    padding:0;
    position: fixed;
    top: 0;
    z-index: 100000;
    background: white;

}



@media #{$mobile} {
    .website-award {
        margin-top: 14px;
        margin-left: 35px;
        max-width: 200px;
    }
}

@media (max-width:400px) {
    .website-award {
        margin-top: 22px;
        margin-left: 18px;
        width:140px;
    }
}
@media #{$tablet} {
    // .header-logos {
    //     display: flex;
    //     .main-logo{
    //         margin-right: 30px;
    //     }
    //     .website-award {
    //         width: 200px;
    //         margin-top: 8px;
    //     }
    // }
}
// .voyager-logo {
//     margin-left:15px;
//     width:280px;
// }

// @media #{$tablet} {
//     .voyager-logo {
//         margin-left:0;
//     }
// }


// @media #{$mobile} {
//     .voyager-logo {
//         display:none;
//     }
// }



.site-header {
    @include flexbox;
    @include flex-direction(column);

    background:white;
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    
    @media #{$mobile} {
        padding-left: 0;
        padding-right: 0;
    }

    @media #{$tablet} {
        padding-top: 0;
    }


    @media screen and (max-width: $sm-break-down) {
        padding-top: 0;
        top: 0;
        position: absolute;
        width: 100%;
    }

    

    .section-menu {
        margin-left:auto;
        @include flexbox;
        @include align-items(center); 

    }

    .auth {
        @include flexbox;
        @include align-items(center); 
        @include justify-content(flex-start);
        margin-left:auto;
    }



    &__top {
        @include flexbox;
        order:1;
        background:white;


        @media #{$tablet} {
            order:2;
            margin-top:25px;
        }


        .section-left {
            @include flexbox;
            @include flex-direction(column);
        }


        .social-links{
            @include flexbox;
            margin-left:-5px;
            padding:0;
            font-size: em(18);
            >li {
                list-style:none;
            }
            a {
                color: $gray-base;
            }
            .logedin {
                margin-left:20px;
            }
        }

        .secondary-menu{
            @include flexbox;
            padding:0;

            font-size: em(14);
            font-weight: 600;

            li{
                margin-right: 20px;
                a {
                    color:#8a8b93;
                }
            }
        }

        .section-right{
            margin-right: 0;
            @media screen and (min-width: $header-break){
                // width: 895px;
            }
        }

        @media screen and (max-width: $sm-break-down) {
            display: none;
        }
    
        .rooms-link{

            @include flexbox;
            margin:0;
            margin-left:auto;
            flex-wrap: wrap;
            justify-content: flex-end;


            @media screen and (max-width: $header-break){
                display: none;
            }


            li{
                a{
                    display: block;
                    margin-left: 25px;

                    img{
                        height: 20px;
                        width: auto;
                        max-width: 100%;
                    }
                }
            }
            
        }

        &.foldaway {
            border-bottom:1px solid #8a8b93;
            border-top:1px solid #8a8b93;
            padding: 0 50px;
            height:50px;
            @include align-items(center);


            .section-left {
                @include flex-direction(row);
                @include align-items(center);


                .social-links {
                    margin:0;
                }
                
                .secondary-menu {
                    margin:0;
                    margin-left:20px;
                }

            }

            .section-right {
                width:auto;
                margin-right: 65px;
            }

        }
    }
    



    &__bottom {
        @include flexbox;
        @include align-items(center);
        order:2;
        background:white;

        @media #{$tablet} {
            order:1;
            padding-bottom: 15px;
            border-bottom: 1px solid #8a8b93;
        }
        @media #{$mobile} {
            order:1;
            padding-left:15px;
            padding-right:15px;
        }

        @media screen and (max-width: $sm-break-down) {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .section-right{
            @media #{$desktop-up} {
                margin-top: -15px;
            }
            @media screen and (min-width: $header-break){
                padding-left: 0;
                float: right;
                margin-left: 0;
            }
        }
    }

    &__sponsor-logos {
        @include flexbox;
        @media #{$desktop-up} {
            position:absolute;
        }
        @media #{$tablet} {
            margin-left: 50px;
            @include align-items(center);
        }

        @media #{$mobile} {
            margin-left: 30px;
            @include align-items(center);
        }

        margin-left: 160px;
    }

    &-logos {
        margin-right:30px; 
        @include flexbox;
        @include flex-direction(row);

        @media #{$desktop-up} {
            display:block;
        }


        .navbar-brand{
            padding: 0;
            height: auto;
            &:focus {
                outline:none;
            }

            @media screen and (max-width: $sm-break-down) {
                display: flex;
                flex-direction: row;
            }

            .main-logo{
                max-width:400px;
                height: 61px;

                @media screen and (max-width: $sm-break-down) {
                    display: none;
                }
            }

            .mobile-logo{
                display: none;
                @media screen and (max-width: $sm-break-down) {
                    display: flex;
                    width: 63px;
                    height:45px;
                }
            }

            .mobile-logo-summer {
                display: none;
                @media screen and (max-width: $sm-break-down) {
                    display: flex;
                    width: 62px;
                    margin-top: 13px;
                }
            }
        }
    }





    &-signin {
        order:3;

        &__signbtn {
            margin-right:10px;
        }
    }

    &__bottom-foldaway {
        @include transition(100000s);
        background:white;
        position:fixed;
        top:-108px;
        right:0;
        padding:0;
        margin:0;
        width:100%;
        border-bottom: solid 1px #6c6c6c;
        z-index:2147483647;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(flex-start);
        order:5;

        .main-panel {
            @include flexbox;
            @include align-items(center);
            @include justify-content(flex-start);
            height:108px;
            padding: 0 50px;
        }

        .navbar-brand{
            padding:0;
            height:auto;

            .mobile-logo{
                display: block;
                width: 63px;
            }
        }

        .section-menu {
            border:0;
        }

        .submenu__link {
            text-transform: initial;
            color:#8a8b93;
            font-weight: 400;

            &:active {
                color:black;
            }
        }

        .site-header__bottom {
            margin-right: 50px;
        }

    }





    .mobile-menu {
        order:4
    }




}