.site-footer{
    width: 100%;
    // margin-top: 60px;
    @media screen and (max-width: $sm-break-down) {
        // margin-top: 55px;
    }

    .footer-menu{
        padding-bottom: 26px;
        @media screen and (max-width: $sm-break-down) {
            display: none;
        }
        > ul{
            @extend %ulmenu;

            > li{
                margin-right: 50px;

                > a{
                    color: #FFF;
                    text-transform: uppercase;
                }
            }
        }
    }

    .footer-top{
        background: #000;
        position: relative;
        @media screen and (max-width: $sm-break-down) {
            padding-top: 155px;
        }
        .logo-wrapper{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            @media #{$media-mobile} {
                justify-content: center;
            }

            @media screen and (max-width: $sm-break-down) {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
            }
        }

        .icon-wrapper{
            position:relative;
            // width:100%;
            @media screen and (max-width: $sm-break-down) {
                position: absolute;
                top: 75px;
                width: 100%;
            }

            span {
                display:none;

                @media screen and (max-width: $sm-break-down) {
                    position:absolute;
                    bottom:0;
                    right:40px;
                    display: inline-block;
                    font-family: $font-family-sans-serif;
                    @include font-size(10);
                }

                a {
                    color:white;
                    text-decoration:none;
                }


            }
        }

        .footer-brand{
            display: inline-block;
            width: 202px;
            padding-top: 61px;
            @media #{$mobile}{
                padding-top: 71px;
            }
        }

        .symbol{
            margin-right: 46px;
            padding-top: 15px;
            @media #{$tablet} {
                float: left;
                margin-right: 20px;
            }
            @media #{$mobile}{
                padding-top: 155px;
                width: 95px;
                padding-top: 45px;
            }
        }


        .social-links{
            margin-top:25px;
            margin-bottom: 57px;

            > ul{
                > li{
                    > a{
                        color: #e22f22;
                    }
                }
            }
        }

        .footer-menu {

            span {
                position:absolute;
                top:0;
                right: 15px;
                color:white;
                @include font-size(15);
                font-family: $font-family-sans-serif;
                @media #{$desktop-up}{
                    top:-13px;
                }

                a {
                    color:white;
                    text-decoration:none;
                }


            }
        }

    }

    .footer-btm{
        padding-top: 12px;
        padding-bottom: 14px;

        .footer-menu {
            position:relative;
            display: block;
            padding-bottom: 0;
            margin-left: -15px;
            margin-right: -15px;
            @media #{$tablet} {
                margin-bottom: 15px;
            }
            @media screen and (max-width: $sm-break-down) {
                border-bottom: solid 1px #d4d4d4;
                padding-bottom:5px;
            }
            > ul{
                padding-left: 15px;
                > li {
                    margin-right: 30px;
                    line-height:20px;
                    @media #{$desktop-up}{
                        margin-top: -45px;
                    }
                    @media screen and (max-width: $sm-break-down) {
                        margin-right: 20px;
                    }
                }
            }

        }

        .footer-menu > ul > li > a {
            color: #000;
            @include font-size(14);
            text-transform: none;
            @media  #{$desktop-up}{
                color: #fff;
            }
        }

        .rooms-link{
            float: right;
            @media #{$desktop-up}{
                float:none;
            }        
            @media screen and (max-width: $mmd-break-down) {
                float: left;
            }       
            > ul{
                @extend %ulmenu;
                @media screen and (max-width: $sm-break-down) {
                    display: block;
                    padding-top: 15px;
                }
                li{
                    
                    margin-right: 26px;
                    &:last-child{
                        margin-right: 0;
                    }

                    @media screen and (max-width: $sm-break-down) {
                        margin-bottom: 15px;
                    }

                    a{
                        display: block;
                        
                        img{
                            height: 14px;
                            width: auto;
                            max-width: 135px;
                            @media screen and (max-width: 1200px) and (min-width: 992px)  {
                                height: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}