.subscribe{
    padding-top: 30px;
    text-align: center;
    margin-bottom: 110px;

    h3{
        font-size: em(20);
        font-weight: 700;
    }

    img {
        width: 158px;
    }

    > .subscribe-form{
        margin-top: 27px;
        margin-bottom: 19px;
        
        input.field{
            height: 42px;
            border-radius: 0;
            border: solid 1px #000000;
            border-right: 0;
            color: #6c6c6c;
            font-size: em(18);
        }

        .btn{
            border-radius: 0;
            border: solid 1px #000000;
            border-left: 0;
            padding: 0;
            font-size: 25px;
            height: 42px;
            line-height: 1;
            color: #f83d30;
        }
    }
}