.top-stories-comments {
    margin-bottom: 78px;
    
    > div:last-child {

        a.card article {
            border:none;
            padding:0;
            margin:0;
        }
    }
    


    > h2{
        font-family: $font-family-sans-serif;
        font-weight: bold;
        font-size: rem(20);
        color: #000000;
        margin:0 0 10px 15px;
    }

    a.card{


        &:after {
          content: "";
          display: table;
          clear: both;
        }

        > article {
            display:block;            
            height: auto;
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: 1px solid #dadada;
    


            &:after {
              content: "";
              display: table;
              clear: both;
            }

        }

        > article > figure{
            width: 140px;
            height: 112px;
            overflow: hidden;
            float: left;
            margin-right: 14px;

            &.video {

                &:after{
                    top: 35%;
                    left: 35%;
                    width: 35px;
                    height: 35px;

                    @media screen and (max-width: $md-break){
                        top: 40%;
                        left: 35%;
                        width: 40px;
                        height: 40px;
                    }

                    @media screen and (max-width: $sm-break-down) {
                        width: 30px;
                        height: 30px;
                    }
                }

            }


            > img{
                max-width: 100%;
            }

            
        }

        > article > .content{
            width:auto;
            padding-bottom: 3px;
            

            @media screen and (max-width: $sm-break-down) {
                border: 0;
            }
            > .category{
                font-size: em(11.2);
                font-weight: bold;
                color: #8a8b93;
                display: block;
                line-height: 1;
                margin-bottom: 3px;

                @media screen and (max-width: $sm-break-down) {
                    font-family: $font-family-sans-serif;
                    font-size: em(12);
                    text-transform: uppercase;
                }
            }

            > h2{
                font-weight: bold;
                font-size: em(22);
                height:77px;
                margin-bottom:0;

            }

            > .author{
                display: none;
            }

            > time{
                padding: 0;
                border: 0;
                line-height: 1;

                @media screen and (max-width: $sm-break-down) {
                    font-size: rem(10);
                }
            }

            p {
                display:none;
            }
        }

        &.social {
            .content {
                .category {
                    margin-top:0;
                    margin-bottom:8px;
                }
        
                > p {
                    display:block;
                    height:48px;

                }
            }


        }


    }
}