.counter-of-doom{
  // a counter with the sole purpose of cachebusting with 'legitimate' changes.
  
  counter: 3;
}

.relative {
    position:relative;
}
.img-circle { border-radius: 50% }

.u-padding-top-13 { padding-top:13px !important; }
.u-no-margin-top{margin-top:0;}
.u-no-margin-bottom{margin-bottom:0;}

.u-flex-center {@include justify-content(center)};
.u-flex-right {@include justify-content(flex-end)};
.u-flex-left {@include justify-content(flex-start)};

.u-noscroll { overflow-y:hidden; }

.u-display-none { display:none !important;}
.relative { position:relative; }
.no-padding {padding:0;}
.u-padding-5 { padding:5px; }
.u-padding-10 { padding:10px }
.u-padding-top-60 { padding-top: 60px; }
.u-margin-top-100 { margin-top: 100px; }
.u-margin-top-80 { margin-top: 80px; }
.u-margin-top-70 { margin-top: 70px; }
.u-margin-top-60 { margin-top: 60px; }
.u-margin-top-50 { margin-top: 50px; }
.u-margin-top-40 { margin-top: 40px; }
.u-margin-top-30 { margin-top: 30px; }
.u-margin-top-25 { margin-top: 25px; }
.u-margin-top-20 { margin-top: 20px; }
.u-margin-top-15 { margin-top: 15px; }
.u-margin-top-10 { margin-top: 10px; }
.u-margin-top-5 { margin-top: 5px; }
.u-margin-top-minus-60 { margin-top: -60px; }


.u-margin-bottom-100 { margin-bottom: 100px; }
.u-margin-bottom-90 { margin-bottom: 90px; }
.u-margin-bottom-80 { margin-bottom: 80px; }
.u-margin-bottom-70 { margin-bottom: 70px; }
.u-margin-bottom-60 { margin-bottom: 60px; }
.u-margin-bottom-50 { margin-bottom: 50px; }
.u-margin-bottom-40 { margin-bottom: 40px; }
.u-margin-bottom-30 { margin-bottom: 30px; }
.u-margin-bottom-25 { margin-bottom: 25px; }
.u-margin-bottom-20 { margin-bottom: 20px; }
.u-margin-bottom-15 { margin-bottom: 15px; }
.u-margin-bottom-10 { margin-bottom: 10px; }
.u-margin-bottom-minus-60 { margin-bottom: -60px; }

.u-margin-right-100 { margin-right: 100px; }
.u-margin-right-60 { margin-right: 60px; }
.u-margin-right-50 { margin-right: 50px; }
.u-margin-right-40 { margin-right: 40px; }
.u-margin-right-30 { margin-right: 30px; }
.u-margin-right-25 { margin-right: 25px; }
.u-margin-right-20 { margin-right: 20px; }
.u-margin-right-15 { margin-right: 15px; }
.u-margin-right-10 { margin-right: 10px; }

.u-margin-left-100 { margin-left: 100px; }
.u-margin-left-60 { margin-left: 60px; }
.u-margin-left-50 { margin-left: 50px; }
.u-margin-left-40 { margin-left: 40px; }
.u-margin-left-30 { margin-left: 30px; }
.u-margin-left-25 { margin-left: 25px; }
.u-margin-left-20 { margin-left: 20px; }
.u-margin-left-15 { margin-left: 15px; }
.u-margin-left-10 { margin-left: 10px; }





// ********************************************
//             PADDING
// ********************************************
.u-padding-top-40 { padding-top: 40px; }
.u-padding-top-20 { padding-top: 20px; }
.u-padding-bottom-20 { padding-bottom: 20px; }
.u-padding-bottom-30 { padding-bottom: 30px; }
.u-padding-bottom-40 { padding-bottom: 40px; }
@media #{$mobile} {
    .u-mobile-padding-bottom-20 { padding-bottom: 20px; }
    .u-mobile-padding-right-5 { padding-right: 5px; }
    .u-mobile-padding-left-5 { padding-left: 5px; }
}
@media #{$mobile-large} {
    .u-mobile-large-padding-bottom-20 { padding-bottom: 20px; }
}
@media #{$tablet} {
    .u-tablet-padding-bottom-20 { padding-bottom: 20px; }
}
@media #{$desktop} {
    .u-dektop-padding-bottom-20 { padding-bottom: 20px; }
}


@media #{$mobile} {

    .u-mobile-no-margins  {margin:0;}
    .u-mobile-bigger-margins-15 {margin-left:15px;margin-right:15px;}
    .u-mobile-no-padding {padding:0;}
    .u-mobile-margin-top-35 { margin-top: 35px;}
    .u-mobile-margin-top-15 { margin-top: 15px!important;}
    .u-mobile-margin-left-minus-15 { margin-left: -15px!important;}
    .u-mobile-margin-right-minus-15 { margin-right: -15px!important;}


    .u-mobile-float-left { float:left; }
    .u-mobile-float-right { float:right; }
    .u-mobile-clear-both { clear:both; }

    .u-mobile-no-margin-top {margin-top:0!important;}
    .u-mobile-no-margin-bottom {margin-bottom:0!important;}
    .u-margin-bottom-100 { margin-bottom: 100px; }

    .u-mobile-margin-bottom-100 { margin-bottom: 100px; }
    .u-mobile-margin-bottom-90 { margin-bottom: 90px; }
    .u-mobile-margin-bottom-80 { margin-bottom: 80px; }
    .u-mobile-margin-bottom-70 { margin-bottom: 70px; }
    .u-mobile-margin-bottom-60 { margin-bottom: 60px; }
    .u-mobile-margin-bottom-50 { margin-bottom: 50px; }
    .u-mobile-margin-bottom-40 { margin-bottom: 40px; }
    .u-mobile-margin-bottom-30 { margin-bottom: 30px; }
    .u-mobile-margin-bottom-25 { margin-bottom: 25px; }
    .u-mobile-margin-bottom-20 { margin-bottom: 20px; }
    .u-mobile-margin-bottom-15 { margin-bottom: 15px; }
    .u-mobile-margin-bottom-10 { margin-bottom: 10px; }


    .u-mobile-margin-top-150 { margin-top: 150px; }
    .u-mobile-margin-top-125 { margin-top: 125px; }
    .u-mobile-margin-top-100 { margin-top: 100px; }
    .u-mobile-margin-top-90 { margin-top: 90px; }
    .u-mobile-margin-top-80 { margin-top: 80px; }
    .u-mobile-margin-top-70 { margin-top: 70px; }
    .u-mobile-margin-top-60 { margin-top: 60px; }
    .u-mobile-margin-top-50 { margin-top: 50px; }
    .u-mobile-margin-top-40 { margin-top: 40px; }
    .u-mobile-margin-top-30 { margin-top: 30px; }
    .u-mobile-margin-top-25 { margin-top: 25px; }
    .u-mobile-margin-top-20 { margin-top: 20px; }
    .u-mobile-margin-top-15 { margin-top: 15px; }
    .u-mobile-margin-top-10 { margin-top: 10px; }


    .u-mobile-padding-bottom-100 { padding-bottom: 100px; }
    .u-mobile-padding-bottom-90 { padding-bottom: 90px; }
    .u-mobile-padding-bottom-80 { padding-bottom: 80px; }
    .u-mobile-padding-bottom-70 { padding-bottom: 70px; }
    .u-mobile-padding-bottom-60 { padding-bottom: 60px; }
    .u-mobile-padding-bottom-50 { padding-bottom: 50px; }
    .u-mobile-padding-bottom-40 { padding-bottom: 40px; }
    .u-mobile-padding-bottom-30 { padding-bottom: 30px; }
    .u-mobile-padding-bottom-25 { padding-bottom: 25px; }
    .u-mobile-padding-bottom-20 { padding-bottom: 20px; }
    .u-mobile-padding-bottom-15 { padding-bottom: 15px; }
    .u-mobile-padding-bottom-10 { padding-bottom: 10px; }


    .u-mobile-padding-top-100 { padding-top: 100px; }
    .u-mobile-padding-top-90 { padding-top: 90px; }
    .u-mobile-padding-top-80 { padding-top: 80px; }
    .u-mobile-padding-top-70 { padding-top: 70px; }
    .u-mobile-padding-top-60 { padding-top: 60px; }
    .u-mobile-padding-top-50 { padding-top: 50px; }
    .u-mobile-padding-top-40 { padding-top: 40px; }
    .u-mobile-padding-top-30 { padding-top: 30px; }
    .u-mobile-padding-top-25 { padding-top: 25px; }
    .u-mobile-padding-top-20 { padding-top: 20px; }
    .u-mobile-padding-top-15 { padding-top: 15px; }
    .u-mobile-padding-top-10 { padding-top: 10px; }

    .u-mobile-margin-right-100 { margin-right: 100px; }
    .u-mobile-margin-right-60 { margin-right: 60px; }
    .u-mobile-margin-right-50 { margin-right: 50px; }
    .u-mobile-margin-right-40 { margin-right: 40px; }
    .u-mobile-margin-right-30 { margin-right: 30px; }
    .u-mobile-margin-right-25 { margin-right: 25px; }
    .u-mobile-margin-right-20 { margin-right: 20px; }
    .u-mobile-margin-right-15 { margin-right: 15px; }
    .u-mobile-margin-right-10 { margin-right: 10px; }

    .u-mobile-margin-left-100 { margin-left: 100px; }
    .u-mobile-margin-left-60 { margin-left: 60px; }
    .u-mobile-margin-left-50 { margin-left: 50px; }
    .u-mobile-margin-left-40 { margin-left: 40px; }
    .u-mobile-margin-left-30 { margin-left: 30px; }
    .u-mobile-margin-left-25 { margin-left: 25px; }
    .u-mobile-margin-left-20 { margin-left: 20px; }
    .u-mobile-margin-left-15 { margin-left: 15px; }
    .u-mobile-margin-left-10 { margin-left: 10px; }

}
@media #{$tablet} {
    .u-tablet-float-left { float:left; }
    .u-tablet-float-right { float:right; }
    .u-tablet-clear-both { clear:both; }
    .u-tablet-no-padding {padding: 0;}

    .u-tablet-no-margin-top {margin-top:0!important;}
    .u-tablet-no-margin-bottom {margin-bottom:0!important;}
    .u-tablet-margin-bottom-100 { margin-bottom: 100px; }
    .u-tablet-margin-bottom-90 { margin-bottom: 90px; }
    .u-tablet-margin-bottom-80 { margin-bottom: 80px; }
    .u-tablet-margin-bottom-70 { margin-bottom: 70px; }
    .u-tablet-margin-bottom-60 { margin-bottom: 60px; }
    .u-tablet-margin-bottom-50 { margin-bottom: 50px; }
    .u-tablet-margin-bottom-40 { margin-bottom: 40px; }
    .u-tablet-margin-bottom-30 { margin-bottom: 30px; }
    .u-tablet-margin-bottom-25 { margin-bottom: 25px; }
    .u-tablet-margin-bottom-20 { margin-bottom: 20px; }
    .u-tablet-margin-bottom-15 { margin-bottom: 15px; }
    .u-tablet-margin-bottom-10 { margin-bottom: 10px; }

    .u-tablet-margin-top-100 { margin-top: 100px; }
    .u-tablet-margin-top-90 { margin-top: 90px; }
    .u-tablet-margin-top-80 { margin-top: 80px; }
    .u-tablet-margin-top-70 { margin-top: 70px; }
    .u-tablet-margin-top-60 { margin-top: 60px; }
    .u-tablet-margin-top-50 { margin-top: 50px; }
    .u-tablet-margin-top-40 { margin-top: 40px; }
    .u-tablet-margin-top-30 { margin-top: 30px; }
    .u-tablet-margin-top-25 { margin-top: 25px; }
    .u-tablet-margin-top-20 { margin-top: 20px; }
    .u-tablet-margin-top-15 { margin-top: 15px; }
    .u-tablet-margin-top-10 { margin-top: 10px; }

    .u-tablet-padding-bottom-100 { padding-bottom: 100px; }
    .u-tablet-padding-bottom-90 { padding-bottom: 90px; }
    .u-tablet-padding-bottom-80 { padding-bottom: 80px; }
    .u-tablet-padding-bottom-70 { padding-bottom: 70px; }
    .u-tablet-padding-bottom-60 { padding-bottom: 60px; }
    .u-tablet-padding-bottom-50 { padding-bottom: 50px; }
    .u-tablet-padding-bottom-40 { padding-bottom: 40px; }
    .u-tablet-padding-bottom-30 { padding-bottom: 30px; }
    .u-tablet-padding-bottom-25 { padding-bottom: 25px; }
    .u-tablet-padding-bottom-20 { padding-bottom: 20px; }
    .u-tablet-padding-bottom-15 { padding-bottom: 15px; }
    .u-tablet-padding-bottom-10 { padding-bottom: 10px; }

    .u-tablet-padding-top-100 { padding-top: 100px; }
    .u-tablet-padding-top-90 { padding-top: 90px; }
    .u-tablet-padding-top-80 { padding-top: 80px; }
    .u-tablet-padding-top-70 { padding-top: 70px; }
    .u-tablet-padding-top-60 { padding-top: 60px; }
    .u-tablet-padding-top-50 { padding-top: 50px; }
    .u-tablet-padding-top-40 { padding-top: 40px; }
    .u-tablet-padding-top-30 { padding-top: 30px; }
    .u-tablet-padding-top-25 { padding-top: 25px; }
    .u-tablet-padding-top-20 { padding-top: 20px; }
    .u-tablet-padding-top-15 { padding-top: 15px; }
    .u-tablet-padding-top-10 { padding-top: 10px; }

    .u-tablet-margin-right-100 { margin-right: 100px; }
    .u-tablet-margin-right-60 { margin-right: 60px; }
    .u-tablet-margin-right-50 { margin-right: 50px; }
    .u-tablet-margin-right-40 { margin-right: 40px; }
    .u-tablet-margin-right-30 { margin-right: 30px; }
    .u-tablet-margin-right-25 { margin-right: 25px; }
    .u-tablet-margin-right-20 { margin-right: 20px; }
    .u-tablet-margin-right-15 { margin-right: 15px; }
    .u-tablet-margin-right-10 { margin-right: 10px; }

    .u-tablet-margin-left-100 { margin-left: 100px; }
    .u-tablet-margin-left-60 { margin-left: 60px; }
    .u-tablet-margin-left-50 { margin-left: 50px; }
    .u-tablet-margin-left-40 { margin-left: 40px; }
    .u-tablet-margin-left-30 { margin-left: 30px; }
    .u-tablet-margin-left-25 { margin-left: 25px; }
    .u-tablet-margin-left-20 { margin-left: 20px; }
    .u-tablet-margin-left-15 { margin-left: 15px; }
    .u-tablet-margin-left-10 { margin-left: 10px; }



}
@media #{$desktop-up} {

    .u-desktop-float-left { float:left; }
    .u-desktop-float-right { float:right; }
    .u-desktop-clear-both { clear:both; }

    .u-desktop-no-margin-top {margin-top:0!important;}
    .u-desktop-no-margin-bottom {margin-bottom:0!important;}

    .u-desktop-margin-bottom-100 { margin-bottom: 100px; }
    .u-desktop-margin-bottom-90 { margin-bottom: 90px; }
    .u-desktop-margin-bottom-80 { margin-bottom: 80px; }
    .u-desktop-margin-bottom-70 { margin-bottom: 70px; }
    .u-desktop-margin-bottom-60 { margin-bottom: 60px; }
    .u-desktop-margin-bottom-50 { margin-bottom: 50px; }
    .u-desktop-margin-bottom-40 { margin-bottom: 40px; }
    .u-desktop-margin-bottom-30 { margin-bottom: 30px; }
    .u-desktop-margin-bottom-25 { margin-bottom: 25px; }
    .u-desktop-margin-bottom-20 { margin-bottom: 20px; }
    .u-desktop-margin-bottom-15 { margin-bottom: 15px; }
    .u-desktop-margin-bottom-10 { margin-bottom: 10px; }
    .u-desktop-margin-bottom-minus-60 { margin-bottom: -60px; }

    .u-desktop-margin-top-100 { margin-top: 100px; }
    .u-desktop-margin-top-90 { margin-top: 90px; }
    .u-desktop-margin-top-80 { margin-top: 80px; }
    .u-desktop-margin-top-70 { margin-top: 70px; }
    .u-desktop-margin-top-60 { margin-top: 60px; }
    .u-desktop-margin-top-50 { margin-top: 50px; }
    .u-desktop-margin-top-45 { margin-top: 45px; }
    .u-desktop-margin-top-40 { margin-top: 40px; }
    .u-desktop-margin-top-30 { margin-top: 30px; }
    .u-desktop-margin-top-25 { margin-top: 25px; }
    .u-desktop-margin-top-20 { margin-top: 20px; }
    .u-desktop-margin-top-15 { margin-top: 15px; }
    .u-desktop-margin-top-10 { margin-top: 10px; }
    .u-desktop-margin-top-minus-60 { margin-top: -60px; }


    .u-desktop-padding-bottom-60 { padding-bottom: 60px; }
    .u-desktop-padding-bottom-50 { padding-bottom: 50px; }
    .u-desktop-padding-bottom-40 { padding-bottom: 40px; }
    .u-desktop-padding-bottom-30 { padding-bottom: 30px; }
    .u-desktop-padding-bottom-25 { padding-bottom: 25px; }
    .u-desktop-padding-bottom-20 { padding-bottom: 20px; }
    .u-desktop-padding-bottom-15 { padding-bottom: 15px; }
    .u-desktop-padding-bottom-10 { padding-bottom: 10px; }

    .u-desktop-padding-top-60 { padding-top: 60px; }
    .u-desktop-padding-top-50 { padding-top: 50px; }
    .u-desktop-padding-top-45 { padding-top: 45px; }
    .u-desktop-padding-top-40 { padding-top: 40px; }
    .u-desktop-padding-top-30 { padding-top: 30px; }
    .u-desktop-padding-top-25 { padding-top: 25px; }
    .u-desktop-padding-top-20 { padding-top: 20px; }
    .u-desktop-padding-top-15 { padding-top: 15px; }
    .u-desktop-padding-top-10 { padding-top: 10px; }

    .u-desktop-margin-right-100 { margin-right: 100px; }
    .u-desktop-margin-right-60 { margin-right: 60px; }
    .u-desktop-margin-right-50 { margin-right: 50px; }
    .u-desktop-margin-right-40 { margin-right: 40px; }
    .u-desktop-margin-right-30 { margin-right: 30px; }
    .u-desktop-margin-right-25 { margin-right: 25px; }
    .u-desktop-margin-right-20 { margin-right: 20px; }
    .u-desktop-margin-right-15 { margin-right: 15px; }
    .u-desktop-margin-right-10 { margin-right: 10px; }

    .u-desktop-margin-left-100 { margin-left: 100px; }
    .u-desktop-margin-left-60 { margin-left: 60px; }
    .u-desktop-margin-left-50 { margin-left: 50px; }
    .u-desktop-margin-left-40 { margin-left: 40px; }
    .u-desktop-margin-left-30 { margin-left: 30px; }
    .u-desktop-margin-left-25 { margin-left: 25px; }
    .u-desktop-margin-left-20 { margin-left: 20px; }
    .u-desktop-margin-left-15 { margin-left: 15px; }
    .u-desktop-margin-left-10 { margin-left: 10px; }
    .u-desktop-indent-left-20 { margin-left: -20px; }
}


@media #{$mobile} {
    .u-mobile-order-1 {order:1;}
    .u-mobile-order-2 {order:2;}
    .u-mobile-order-3 {order:3;}
    .u-mobile-order-4 {order:4;}
    .u-mobile-order-5 {order:5;}
    .u-mobile-order-6 {order:6;}
    .u-mobile-order-7 {order:7;}
    .u-mobile-order-8 {order:8;}
}
@media #{$tablet} {
    .u-tablet-order-1 {order:1;}
    .u-tablet-order-2 {order:2;}
    .u-tablet-order-3 {order:3;}
    .u-tablet-order-4 {order:4;}
    .u-tablet-order-5 {order:5;}
    .u-tablet-order-6 {order:6;}
    .u-tablet-order-7 {order:7;}
    .u-tablet-order-8 {order:8;}
}
@media #{$desktop-up} {
    .u-desktop-order-1 {order:1;}
    .u-desktop-order-2 {order:2;}
    .u-desktop-order-3 {order:3;}
    .u-desktop-order-4 {order:4;}
    .u-desktop-order-5 {order:5;}
    .u-desktop-order-6 {order:6;}
    .u-desktop-order-7 {order:7;}
    .u-desktop-order-8 {order:8;}
}


.u-float-left { float:left; }
.u-float-right { float:right; }
.u-clear-both { clear:both; }
.u-block {display:block;}
.u-hide {display:none !important;}

.u-font-uppercase {text-transform:uppercase;}
.u-color-red {color: #e12e21;}
.u-font-weight-thin {font-weight:300;}
.u-font-weight-bold {font-weight:600}

.u-font-size-80 {@include font-size(80);}
.u-font-size-50 {@include font-size(50);}
.u-font-size-45 {@include font-size(45);}
.u-font-size-40 {@include font-size(40);}
.u-font-size-35 {@include font-size(35);}
.u-font-size-30 {@include font-size(30);}
.u-font-size-25 {@include font-size(25);}
.u-font-size-24 {@include font-size(24);}
.u-font-size-23 {@include font-size(23);}
.u-font-size-22 {@include font-size(22);}
.u-font-size-21 {@include font-size(21);}
.u-font-size-20 {@include font-size(20);}
.u-font-size-19 {@include font-size(19);}
.u-font-size-18 {@include font-size(18);}
.u-font-size-17 {@include font-size(17);}
.u-font-size-16 {@include font-size(16);}
.u-font-size-15 {@include font-size(15);}
.u-font-size-14 {@include font-size(14);}
.u-font-size-13 {@include font-size(13);}
.u-font-size-12 {@include font-size(12);}
.u-font-size-11 {@include font-size(11);}
.u-font-size-10 {@include font-size(10);}
.u-font-size-9 {@include font-size(9);}
.u-font-style-italic {font-style:italic;}


.u-font-tinos {font-family: $base-font-family;}
.u-font-source {font-family: $primaryFont;}

.u-opacity-0 {opacity: 0;}
.u-opacity-1 {opacity: .1;}
.u-opacity-2 {opacity: .2;}
.u-opacity-3 {opacity: .3;}
.u-opacity-4 {opacity: .4;}
.u-opacity-5 {opacity: .5;}
.u-opacity-6 {opacity: .6;}
.u-opacity-7 {opacity: .7;}
.u-opacity-8 {opacity: .8;}
.u-opacity-9 {opacity: .9;}
.u-opacity-10 {opacity: 1;}



.divide {
    margin-top: 32px;
    margin-bottom: 42px;
    border: 0;
    border-top: 1px solid #dadada;

    @media #{$tablet} {
      margin-top: 22px;
      margin-bottom: 32px;
    }
}

.divide15 {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #dadada;
}
.divide30 {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid #dadada;
}

hr {
  &.u-row-indent {
    margin-left: 15px;
    margin-right: 15px;
  }
  &.u-row-extend {
    margin-left: -15px;
    margin-right: -15px;
  }
}


.u-space-only {
  border-top: unset;
}

.u-no-border-bottom{
  border-bottom: none;
}

.u-no-border-top{
  border-top: none;
}




.clearfix {overflow:hidden;overflow-x:hidden}
.centerContent { display:inline; text-align: center;}
.u-text-center {text-align: center;}
.u-text-left {text-align: left;}
.u-uppercase {text-transform: uppercase;}

.centerBlock {margin-left:auto;margin-right:auto}
// 20px gutter
.gutter-60.row {
  margin-right: -30px;
  margin-left: -30px;
}
.gutter-60 > [class^="col-"], .gutter-60 > [class^=" col-"] {
  padding-right: 30px;
  padding-left: 30px;
}

// 20px gutter
.gutter-20.row {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
// 10px gutter
.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
// 0px gutter
.gutter-0.row {
  margin-right: 0;
  margin-left: 0;
}
.gutter-0 > [class^="col-"], .gutter-0 > [class^=" col-"]{
  padding-right: 0;
  padding-left: 0;
}


.u-height-100 {
  height:100%;
}


// Row with equal height columns
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row-eq-height-desk {
    @media screen and (min-width: $sm-break) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
    }
}

.flex_col {
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
}
.flex_row {
    flex-direction:row;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
}

.flex_between{
    justify-content: space-between;
}

.u-justify-center {
    justify-content: center;
}
.u-align-center {
    align-items: center;
}

