/*! Layout User Profile Page
-------------------------*/


.change-password {
    font-style: italic;
    @include font-size(12);
    color: color(lightgrey);
    position: relative;
    top: -25px;
    &:hover {
        color: color(red);
        cursor: pointer;
    }
}

.name {
    span {
        @include font-size(25);
        font-weight: normal;
        line-height: 1.2;
        color: color(red);
    }
}

.update-details {
    font-style: italic;
}


.user_profile {

    

    font-family: $font-family-sans-serif;
    @media #{$tablet-up} {
        background-color: #f3f3f3;
    }

    label {
        @include font-size(15);
        line-height:44px;
        color: color(darkblue);
        // font-weight: bold;
    }
    .container {
        @media screen and (max-width: $sm-break-down){
            background-color:white;
        }
    }

    // a.submit {
    //     font-style: italic;
    //     margin-top: 0 !important; 

    // }

    .user_profile_section {
        margin: 36px auto 0 auto;
        max-width: 900px;

        background-color:#fff;
        @include padding(40px);

        @media #{$media-iPhoneLarge}, #{$media-iPhoneMedium}, #{$media-phone} {
            width:100%;
          @include padding(0);
          margin-top:0;
        }
    }

    // .no-listings {
    //     color:color(lightgrey);
    //     text-align: center;
    //     margin-top: 25px;
    //     font-weight:normal;
    //     border-bottom: 1px solid color(lightgrey);
    //     padding-bottom: 30px;
    // }
}
.profile-image {
    float: left;
    width: 148px;
    height: 148px;
    margin-right: 47px;
    margin-bottom: 50px;
}
