
.paywall-plan {
    margin-top:20px;
    @media #{$tablet} {
        margin-top:30px;
    }

    &-card {
        @include flexbox();
        @include flex-direction(column);
    
        text-align:center;
        background: $white;
        // width: 268px;
        height: 343px;
        box-shadow: 6px 8px 11px -2px rgba(144, 143, 143, 0.15);
        border: solid 1px #eeeeee;
        position:relative;

        @media #{$desktop-up} {
            // min-height: 326px;
        }

        @media #{$tablet} {
            height:231px;
        }

        @media #{$mobile-large} {
            height:261px;
        }

        @media #{$mobile-small} {
            height:50vw;
        }       

        

        &__best-value {
            @include flexbox();
            @include align-items(center);
            padding:0 18px;
            position:absolute;
            width:100%;
            @media #{$tablet} {
                padding:0 16px 0 6px;
            }

            @media #{$mobile} {
                padding:0 0;
                @include align-items(flex-start);
            }

        }
        &__best-value-container {
            @include flexbox();
            @include flex-direction(row);
            flex:2;
            @media #{$mobile} {
                position: absolute;
                top: -19px;
                left: -5px;
            }

        }

        &__best-value-label {
            @include font-size(14);
            font-weight:600;
            color: #e22f22;
            margin-left:10px;
            @media #{$tablet} {
                @include font-size(10);
            }
            @media #{$mobile} {
                @include font-size(14);
                margin-left:5px;
            }

        }
        &__best-value-amount {
            @include font-size(14);
            font-weight:600;
            color: #e22f22;
            margin-left:auto;
            @media #{$tablet} {
                @include font-size(10);
            }
            @media #{$mobile} {
                @include font-size(14);
                margin-left:5px;
            }


        }

        &__ribbon {
            width:28px;
            height:33px;
            background-color:#e22f22;
            position:relative;

            &:before{
                content: '';
                position: absolute;
                z-index: 2;
                left: 0;
                bottom: -14px;
                border-left: 14px solid #e22f22;
                border-right: 14px solid #e22f22;
                border-bottom: 14px solid transparent;
            }

            @media #{$tablet} {
                width:18px;
                height:20px;
                &:before{
                    bottom: -9px;
                    border-left: 9px solid #e22f22;
                    border-right: 9px solid #e22f22;
                    border-bottom: 9px solid transparent;    
                }
    
            }


            @media #{$mobile} {
                width:18px;
                height:25px;
                &:before{
                    bottom: -9px;
                    border-left: 9px solid #e22f22;
                    border-right: 9px solid #e22f22;
                    border-bottom: 9px solid transparent;    
                }
    
            }
    
    

        }

        &__period {
            font-family: $font-family-sans-serif;
            @include font-size(18);
            margin-top:45px;
            text-transform: uppercase;
            font-weight:600;
            color: #727272;
            &:after {
                content: "";
                display:block;
                height:1px;
                width:35px;
                background-color:#979797;
                margin: 13px auto;
            }


            @media #{$tablet} {
                margin-top:21px;
                @include font-size(12);
                &:after {
                    width:21px;
                }
            }


            @media #{$mobile} {
                margin-top:10px;
                @include font-size(12);
                &:after {
                    width:24px;
                }
            }

            @media #{$mobile-small} {
                // font-size: calc(12px + 1vw);
                font-size:2.7vw;
                // @include responsive-font-size(12);
            }

        }

        &__price {
            @include font-size(76);
            margin-bottom:18px;
            font-weight:300;
            @media #{$tablet} {
                @include font-size(40);
            }
            @media #{$mobile} {
                @include font-size(60);
                margin-bottom: 20px;
                margin-top: 12px;
            }
            
            @media #{$mobile-small} {
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                flex-grow:2;
                font-size: 11vw;
                margin-top: 0;
                margin-bottom:5%;
            }

        }

        &__trial {
            @include font-size(23);
            font-weight:700;
            margin: 0 5px;
            @media #{$tablet} {
                @include font-size(16);
            }

            @media #{$mobile} {
                @include font-size(18);
            }
            @media #{$mobile-small} {
                margin-bottom:5%;
                font-size: 3.5vw;
                line-height: 4vw;
            }

        }
        &__subscribe-button {
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            min-height:42px;
            max-height:42px;
            margin-top:auto;
            font-weight:700;

            @media #{$tablet} {
                min-height:45px;
                max-height:45px;
                @include font-size(15);
            }
    

            @media #{$mobile} {
                min-height:45px;
                max-height:45px;
                @include font-size(12);
                font-weight:700;
            }

            @media #{$mobile-small} {
                min-height:7vw;
                max-height:7vw;
                @include font-size(12);
                font-weight:700;
            }


        }
    }



    &-card-2 {
        @include flexbox();
        @include flex-direction(column);
    
        text-align:center;
        box-shadow: 6px 8px 11px -2px rgba(175, 175, 175, 0.15);
        background-color: #e9e9e9;
        height: 343px;
        

        @media #{$desktop-up} {
            // min-height: 326px;
        }

        @media #{$tablet} {
            height:231px;
        }

        @media #{$mobile-large} {
            height:261px;
        }

        @media #{$mobile-small} {
            height:60vw;
        } 
        
        &__name {
            font-family: $font-family-sans-serif;
            text-transform: uppercase;
            margin-top:12px;

            @include font-size(22);
            font-weight:600;
            
            &:after {
                content: "";
                display:block;
                height:1px;
                width:37px;
                background-color:#979797;
                margin: 13px auto;
            }

            @media #{$tablet} {
                @include font-size(18);
            }

            @media #{$mobile} {
                @include font-size(18);
                &:after {
                    height:2px;
                    width:24px;
                    background-color:#979797;
                    margin: 10px auto;
                }
    
            }

        }

        &__period {
            font-family: $font-family-sans-serif;
            @include font-size(18);
            margin-top:3px;
            text-transform: uppercase;
            font-weight:600;
            color: black;


            @media #{$tablet} {
                margin-top:0;
                @include font-size(12);
                &:after {
                    width:24px;
                }
            }


            @media #{$mobile} {
                margin-top:0;
                @include font-size(12);
                &:after {
                    width:24px;
                }
            }
            @media #{$mobile-small} {
                // font-size: calc(12px + 1vw);
                font-size:2.7vw;
                // @include responsive-font-size(12);
            }

        }


        &__usercount {
            @include font-size(18);
            font-weight:600;
            margin-top:3px;
            color:black;
            // @media #{$tablet} {
            //     @include font-size(16);
            //     margin-top:20px;
            // }
            @media #{$mobile} {
                margin-bottom:10px;
                @include font-size(14);
                margin-top: 5px;
            }
        }

        &__price {
            @include font-size(76);
            margin-bottom:18px;
            font-weight:300;

            @media #{$tablet} {
                @include font-size(40);
                margin-bottom:10px;
            }

            @media #{$mobile} {
                @include font-size(40);
                margin-bottom:10px;

            }
            @media #{$mobile-small} {
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                flex-grow:2;
                font-size: 12vw;
            }

        }

        &__trial {
            @include font-size(23);
            font-weight:700;
            @media #{$tablet} {
                @include font-size(16);
            }
            @media #{$mobile} {
                @include font-size(16);
            }
            @media #{$mobile-small} {
                margin-bottom:20px;
                font-size: 4.5vw;
                line-height: 5vw;
            }

        }
        &__subscribe-button {
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            min-height:42px;
            max-height:42px;
            font-weight:700;
            margin-top:auto;


            @media #{$tablet} {
                min-height:45px;
                max-height:45px;
                @include font-size(12);
                font-weight:700;
            }

            @media #{$mobile} {
                min-height:45px;
                max-height:45px;
                @include font-size(12);
                font-weight:700;
            }

        }

    }



}







.paywall {

    &__top-plans {
        @media #{$mobile-small} {
            @include plan-gradient();
        }
    }
    &__header {
        @include flexbox();
        @include align-items(center);
        padding-left:45px;
        height:65px;
        @media #{$mobile} {
            height:57px;
            padding-left:15px;

        }
    }

    &__logo {
        @include flexbox();
        @include align-items(center);
        position: relative;
        top: 5px;
        @media #{$mobile} {
            // width:29px;
            // height:19px;
        }
        >div {
            margin-bottom:4px;
        }
        &-image {
            margin-left:45px;
            max-height:30px;
            @media #{$mobile} {
                margin-left:20px;
            }
    

        }
    }

    &__signin {
        @include font-size(16);
        height:33px;
        width:140px;
        line-height:33px;
        margin-left:auto;
        font-weight:300;
        @media #{$mobile} {
            display:none;
        }

    }


    &__close {
        display:block;
        margin-left:20px;
        width: 25px;
        height: 25px;
        margin-right: 25px;
        &-icon {
            width:100%;
            height:100%;
        }
        @media #{$mobile} {
            width: 20px;
            height: 20px;
            margin-left:auto;
        }

    }



    &__corporate-link {
        font-family: $primaryFont;
        @include font-size(30);
        color: $brand-secondary;
        font-weight:600;

        @media #{$tablet} {
            @include font-size(24);
            // width:500px;
        }

        @media #{$mobile} {
            @include font-size(16);
            font-weight:600;
        }


        > a {
            text-decoration: underline;
            color: $brand-secondary;
        }
    }

    &__contact-text {
        @include font-size(24);
        font-weight: 600;
        text-align:center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        @media #{$tablet} {
            @include font-size(24);
            text-align:left;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }


        @media #{$mobile} {
            @include font-size(16);
            font-weight:600;
            text-align:left;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        >a {
            text-decoration:underline;
        }
    }


    &__close-corporate {
        @include font-size(18);
        text-decoration:underline;
        color:#6e6e6e;
        display:block;
        float:right;

        @media #{$mobile} {
            @include font-size(12);
            float:none;
            text-align:center;
        }

    }

    &__corporate-header {
        font-family: $base-font-family;
        @include font-size(40);
        font-weight:700;
        text-align: center;

        @media #{$tablet} {
            @include font-size(32);
        }

        @media #{$mobile} {
            text-align: left;

            @include font-size(26);
            font-weight:600;
            line-height: 1.08;
        }

    }

    &__form-label {
        @include font-size(16);
        @media #{$mobile} {
            @include font-size(12);
        }
    }
    &__plan-features {
        @include font-size(14);
        line-height:1.46;

        > ul {
            padding-left:15px;
            margin-top:7px;
            >li {
                list-style: disc;
            }
        }

    }

    &__stripe-card {
        border: 1px solid #E5E5E5;
        border-radius:6px;
        padding:9px;
        height:44px;
    }

}



.paywall-offers {
    @include flexbox();
    background: rgba(216,216,216,.3);
    
    &__container {
        margin: 30px auto;

        @media #{$tablet} {
            margin: 0;
        }

        @media #{$mobile} {
            margin: 15px auto 5px auto;
        }
    }
    
    &__title {
        @include font-size(40);
        margin-top: 30px;

        font-family: $base-font-family;

        @media #{$tablet} {
            @include font-size(32);
            margin-top:25px;
        }

        @media #{$mobile} {
            @include font-size(26);
            margin-top:30px;
        }

    }

    &-card {
        text-align:center;
        display: flex;
        @include flex-direction(column);
    
        @media #{$tablet} {
            margin-top:55px;
            @include flex-direction(row);
        }
        @media #{$mobile} {
            @include flex-direction(row);
            margin-top:25px;

        }
    
    
        &__img {
            align-self: flex-start;
    
            &__mail {
                height: 72px;
                @media #{$tablet} {
                    height: 65px;
                    margin-right:25px;

                }

                @media #{$mobile} {
                    height: 42px;
                    width: 44px;
                    margin-right:25px;
                }
            
            }
        
            &__alert {
                height: 59px;
                @media #{$tablet} {
                    margin-right:43px;
                }
                @media #{$mobile} {
                    height: 38px;
                    width: 26px;
                    margin-right:43px;

                }
            
            }
        
            &__access {
                height: 59px;
                @media #{$tablet} {
                    margin-right:30px;

                }
                @media #{$mobile} {
                    height: 38px;
                    width: 39px;
                    margin-right:30px;
                }
            }
        
            &__users {
                height: 67px;
                @media #{$tablet} {
                    height: 52px;
                    margin-right:30px;
                }
                @media #{$mobile} {
                    height: 38px;
                    width: 39px;
                    margin-right:30px;
                }
            }
        }
    
        &__p {
            margin-right: 20px;
            letter-spacing:0.7px;
            @include font-size(20);
            text-align: left;


            &:before {
                content: "";
                display:block;
                width:30px;
                height:2px;
                background-color:#979797;
                margin-bottom:15px;
                margin-top:11px;
            }


            @media #{$desktop-up} {
                &-mail {
                    &:before {
                        margin-bottom:13px;
                    }
                }
                &-alert {
                    &:before {
                        margin-bottom:23px;
                    }
                }
                &-access {
                    &:before {
                        margin-bottom:23px;
                    }

                }
                &-users {
                    &:before {
                        margin-bottom:18px;
                    }

                }
            }

            @media #{$tablet} {
                @include font-size(18);

                &:before {
                    margin-bottom:7px;
                    margin-top:0;
                }
            }

            @media #{$mobile} {
                @include font-size(14); 
                line-height: 1.29;

                &:before {
                    margin-bottom:7px;
                    margin-top:0;
                }
            }
        }
    }
}






.pro-mini-border {
    margin-bottom: 30px;
    width: 52px;
    height: 1px;
    background-color: black;
    margin-right: 100%;
}
.pro-dr{
    height: 1px;
    width: 168px;
    background-color: #979797;
    margin-bottom: 40px;
}












.subscribe__link {
    color:black;
    &:hover {
        color:black
    }
}

.subscribe__contact {
    margin-top:35px;
    margin-bottom:80px;
    font-family:$font-family-sans-serif;
    font-weight:600;
    @include font-size(28);
    text-align: center;
    a{
        text-decoration: underline;
    }
    @media #{$tablet} {
        @include font-size(16);
        margin-top:25px;
        margin-bottom:35px;
    
    }
    @media #{$mobile} {
        @include font-size(16);
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
        margin-top:15px;
    }
}
.subscribe__payment-info {
    margin-top: 25px;
    font-family:$font-family-sans-serif;
    @include font-size(16);
    text-align: center;
    font-style: italic;

}


.paywall-faq {
    &__title {
        font-family:$base-font-family;
        @include font-size(40);
        font-weight:600;
        margin-bottom:40px;
        text-align:center;

        @media #{$tablet} {
            @include font-size(32);
            text-align:left;
            margin-bottom:26px;
        }



        @media #{$mobile} {
            @include font-size(28);
            margin-bottom:15px;

        }


    }

    &__container {
        width: 90%;
    }

    &__question-box {
        border-bottom: 1px solid #979797;
        // padding-bottom:38px;
        align-items: center;
        height:75px;

        &--open {
            height:auto;
        }

        @media #{$mobile} {
            align-items: flex-end;
        }

    }

    &__question {
        font-family:$base-font-family;
        @include font-size(24);
        margin-bottom:10px;

        &--open {
            margin-top: 20px;
        }

        @media #{$tablet} {
            @include font-size(22);
        }


        @media #{$mobile} {
            @include font-size(16);
        }


    }
    &__answer-container {
        &--open {
            padding-bottom: 38px;
        }
    }

    &__answer {
        @include font-size(18);
        line-height:24px;
        color: #696969;

        @media #{$tablet} {
            @include font-size(16);
        }

        @media #{$mobile} {
            @include font-size(14);
        }

    }

    &__button {
        height:30px;
        width:50px;
        // background-color:#adadad;
        cursor:pointer;
        position:relative;
        margin-left:auto;
        @media #{$mobile} {
            height:20px;
            width:40px;
        }

    }
    &__arrow-container {
        position:relative;
        width: 15px;
        height:15px;
        margin: auto;
        top:4px;
        border-color:black;
        transform:rotate(180deg);

        &--up {
            top: 12px;
            transform:none;
        }

        @media #{$mobile} {
            top: -2px;

            &--up {
                top: 7px;

            }
        }


    }

}


.paywall-banner {
    background-image: url('../images/paywall.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border-top:solid 1px #979797;
    @media #{$desktop} {
        background-image: url('../images/paywall-tablet-2.jpg?v=2');   
    }
     @media #{$tablet} {
        background-image: url('../images/paywall-tablet-2.jpg?v=2');   
    }
    @media #{$mobile} {
        background-image: none;
    }

    

    &--thanks {
        @media #{$desktop-up} {
            height:785px;
        }
    } 


    &__content {
        height:100%;
        @media #{$tablet} {
            // padding-top:37px;
        }
    }


    &__headline {
        margin-top:32px;
        font-family: $base-font-family;
        @include font-size(68);
        font-weight:700;
        margin-bottom:15px;
        line-height: 1.03;
        @media #{$tablet} {
            @include font-size(48);
            line-height: 1.2;
            margin-top:45px;
            margin-bottom:5px;
        }
        @media #{$mobile} {
            margin-top:10px;
            @include font-size(34);
            line-height: 0.94;
            // margin-bottom: 5px;
        }
    }


    &__tagline {
        font-family: $font-family-sans-serif;
        @include font-size(25);
        font-weight: 700; 
        margin-top:20px;
        @media #{$tablet} {
            @include font-size(23);
            margin-top:0;
            width:440px;
        }
        @media #{$mobile} {
            @include font-size(18);
            line-height:21px;
            font-weight: normal; 
        }
    }

    &__button {
        font-weight: 500;
        @media #{$tablet} {
            height: 30px;
            width: 109px;
            line-height: 30px;
            font-size: 12px;
        }
        @media #{$mobile}{
            height: 35px;
            width: 140px;
            line-height: 35px;
        }

        &__trial {
            margin-left: 35px;
            &:hover {
                color: #fff;
                text-decoration: none;
            }
            @media #{$mobile}{
                margin-left: 15px;
            }
        }
        


    }

    &__email {
        &a,>a{
            text-decoration: underline;
        }
        margin-top:76px;
        @include font-size(18);
        line-height: 1.61;
        width:350px;
    }
}   



// .paywall-hero
// .paywall-hero__button__subscribe {
//     float: left;
// }


