
.paywall-plan {
    margin-top:20px;
    @media #{$tablet} {
        margin-top:30px;
    }
    @media #{$mobile-small} {
        margin-top:0;
    }

    &--2 {
        @media #{$mobile-small} {
            margin-top:60px;
        }

    }
}







.paywall {

    &__top-plans {
        @media #{$mobile-small} {
            @include plan-gradient();
        }
    }
    &__header {
        @include flexbox();
        @include align-items(center);
        padding-left:45px;
        height:65px;
        @media #{$mobile} {
            height:57px;
            padding-left:15px;

        }
    }

    &__logo {
        @include flexbox();
        @include align-items(center);
        position: relative;
        top: 5px;
        @media #{$mobile} {
            // width:29px;
            // height:19px;
        }
        >div {
            margin-bottom:4px;
        }
        &-image {
            // margin-left:45px;
            max-height:30px;
            // @media #{$mobile} {
            //     margin-left:20px;
            // }
    

        }
    }

    &__signin {
        @include font-size(16);
        height:33px;
        width:140px;
        line-height:33px;
        margin-left:auto;
        font-weight:300;
        // @media #{$mobile} {
        //     display:none;
        // }

    }


    &__close {
        display:block;
        margin-left:20px;
        width: 25px;
        height: 25px;
        margin-right: 25px;
        &-icon {
            width:100%;
            height:100%;
        }
        @media #{$mobile} {
            width: 20px;
            height: 20px;
            margin-left:auto;
        }

    }



    &__corporate-link {
        font-family: $primaryFont;
        @include font-size(28);
        color: $brand-secondary;
        font-weight:600;

        @media #{$tablet} {
            @include font-size(24);
            // width:500px;
        }

        @media #{$mobile} {
            @include font-size(16);
            font-weight:600;
        }


        > a {
            text-decoration: underline;
            color: $brand-secondary;
        }
    }

    &__contact-text {
        @include font-size(24);
        font-weight: 600;
        text-align:center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        @media #{$tablet} {
            @include font-size(24);
            text-align:left;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }


        @media #{$mobile} {
            @include font-size(16);
            font-weight:600;
            text-align:left;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        >a {
            text-decoration:underline;
        }
    }


    &__close-corporate {
        @include font-size(18);
        text-decoration:underline;
        color:#6e6e6e;
        display:block;
        float:right;

        @media #{$mobile} {
            @include font-size(12);
            float:none;
            text-align:center;
        }

    }

    &__corporate-header {
        font-family: $base-font-family;
        @include font-size(40);
        font-weight:700;
        text-align: center;

        @media #{$tablet} {
            @include font-size(32);
        }

        @media #{$mobile} {
            text-align: left;

            @include font-size(26);
            font-weight:600;
            line-height: 1.08;
        }

    }

    &__form-label {
        @include font-size(16);
        @media #{$mobile} {
            @include font-size(12);
        }
    }
    &__plan-features {
        @include font-size(14);
        line-height:1.46;

        > ul {
            padding-left:15px;
            margin-top:7px;
            >li {
                list-style: disc;
            }
        }

    }

    &__stripe-card {
        border: 1px solid #E5E5E5;
        border-radius:6px;
        padding:9px;
        height:44px;
    }

}



.paywall-offers {
    @include flexbox();
    background: rgba(216,216,216,.3);
    
    &__container {
        margin: 30px auto;

        @media #{$tablet} {
            margin: 0;
        }

        @media #{$mobile} {
            margin: 15px auto 5px auto;
        }
    }
    
    &__title {
        @include font-size(36);
        margin-top: 30px;

        font-family: $base-font-family;

        @media #{$tablet} {
            @include font-size(32);
            margin-top:25px;
        }

        @media #{$mobile} {
            @include font-size(26);
            margin-top:30px;
        }

    }

    &-card {
        text-align:center;
        display: flex;
        @include flex-direction(column);
    
        @media #{$tablet} {
            margin-top:55px;
            @include flex-direction(row);
        }
        @media #{$mobile} {
            @include flex-direction(row);
            margin-top:25px;
            padding-bottom: 10px;
            position: relative;
            &:after {
                content: "";
                display:block;
                width:30px;
                height:2px;
                background-color:#979797;
                position: absolute;
                bottom: 0;
                left: 15px;
            }

        }
    
    
        &__img {
            align-self: flex-start;

            
    
            &__mail {
                height: 72px;
                
                @media #{$desktop-up}{
                    margin-bottom: 10px;
                }
                @media #{$tablet} {
                    height: 65px;
                    margin-right:25px;

                }

                @media #{$mobile} {
                    height: 42px;
                    width: 44px;
                    margin-right:25px;
                }
            
            }
        
            &__alert {
                height: 59px;
                @media #{$desktop-up}{
                    margin-bottom: 23px;
                }
                @media #{$tablet} {
                    margin-right:43px;
                }
                @media #{$mobile} {
                    height: 38px;
                    width: 26px;
                    margin-right:43px;

                }
            
            }
        
            &__access {
                height: 59px;
                @media #{$desktop-up}{
                    margin-bottom: 23px;
                }
                @media #{$tablet} {
                    margin-right:30px;

                }
                @media #{$mobile} {
                    height: 38px;
                    width: 39px;
                    margin-right:30px;
                }
            }
        
            &__users {
                height: 67px;
                @media #{$desktop-up}{
                    margin-bottom: 15px;
                }
                @media #{$tablet} {
                    height: 52px;
                    margin-right:30px;
                }
                @media #{$mobile} {
                    height: 38px;
                    width: 39px;
                    margin-right:30px;
                }
            }

            &__comments {
                height: 59px;
                @media #{$desktop-up}{
                    margin-bottom: 24px;
                }
                @media #{$tablet} {
                    height: 52px;
                    margin-right:30px;
                }
                @media #{$mobile} {
                    height: 38px;
                    width: 39px;
                    margin-right:30px;
                }
            }


        }
    
        &__p {
            margin-right: 20px;
            letter-spacing:0.7px;
            @include font-size(18);
            text-align: left;
            @media #{$tablet} {
                @include font-size(16);
            }


            &:before {
                content: "";
                display:block;
                width:30px;
                height:2px;
                background-color:#979797;
                margin-bottom:15px;
                margin-top:0px;
                @media #{$mobile}{
                    display: none;
                }
            }


            // @media #{$desktop-up} {
            //     &-mail {
            //         &:before {
            //             margin-bottom:13px;
            //         }
            //     }
            //     &-alert {
            //         &:before {
            //             margin-bottom:23px;
            //         }
            //     }
            //     &-access {
            //         &:before {
            //             margin-bottom:23px;
            //         }

            //     }
            //     &-users {
            //         &:before {
            //             margin-bottom:18px;
            //         }

            //     }
            // }

            @media #{$tablet} {
                @include font-size(18);

                &:before {
                    margin-bottom:7px;
                    margin-top:0;
                }
            }

            @media #{$mobile} {
                @include font-size(14); 
                line-height: 1.29;

                &:before {
                    margin-bottom:7px;
                    margin-top:0;
                }
            }
        }
    }
}






.pro-mini-border {
    margin-bottom: 30px;
    width: 52px;
    height: 1px;
    background-color: black;
    margin-right: 100%;
}
.pro-dr{
    height: 1px;
    width: 168px;
    background-color: #979797;
    margin-bottom: 40px;
}












.subscribe__link {
    color:black;
    &:hover {
        color:black
    }
}

.subscribe__contact {
    margin-top:35px;
    margin-bottom:80px;
    font-family:$font-family-sans-serif;
    font-weight:600;
    @include font-size(28);
    text-align: center;
    a{
        text-decoration: underline;
    }
    @media #{$tablet} {
        @include font-size(16);
        margin-top:25px;
        margin-bottom:35px;
    
    }
    @media #{$mobile} {
        @include font-size(16);
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
        margin-top:15px;
    }
}
.subscribe__payment-info {
    margin-top: 25px;
    font-family:$font-family-sans-serif;
    @include font-size(16);
    text-align: center;
    font-style: italic;

}


.paywall-faq {
    &__title {
        font-family:$base-font-family;
        @include font-size(36);
        font-weight:600;
        margin-bottom:40px;
        text-align:center;

        @media #{$tablet} {
            @include font-size(32);
            text-align:left;
            margin-bottom:26px;
        }

        @media #{$mobile} {
            text-align:left;
            @include font-size(26);
            margin-bottom:15px;
        }

        @media #{$mobile-small} {
            text-align:left;
            @include font-size(26);
            margin-bottom:0;
        }


    }

    &__container {
        width: 90%;
    }

    &__question-box {
        border-bottom: 1px solid #979797;
        // padding-bottom:38px;
        align-items: center;
        height:75px;

        &--open {
            height:auto;
        }

        @media #{$mobile} {
            // align-items: flex-end;
        }

    }

    &__question {
        font-family:$base-font-family;
        @include font-size(22);
        margin-bottom:10px;

        &--open {
            margin-top: 20px;
        }

        @media #{$tablet} {
            @include font-size(22);
        }


        @media #{$mobile} {
            @include font-size(16);
        }


    }
    &__answer-container {
        &--open {
            padding-bottom: 38px;
        }
    }

    &__answer {
        @include font-size(18);
        line-height:24px;
        color: #696969;

        @media #{$tablet} {
            @include font-size(16);
        }

        @media #{$mobile} {
            @include font-size(14);
        }

    }

    &__button {
        height:30px;
        width:50px;
        // background-color:#adadad;
        cursor:pointer;
        position:relative;
        margin-left:auto;
        @media #{$mobile} {
            height:20px;
            width:40px;
            padding: 4px 8px;
        }

    }
    &__arrow-container {
        position:relative;
        width: 15px;
        height:15px;
        margin: auto;
        top:4px;
        border-color:black;
        transform:rotate(180deg);

        &--up {
            top: 12px;
            transform:none;
        }

        @media #{$mobile} {
            top: -2px;

            &--up {
                top: 7px;

            }
        }


    }

}


.paywall-banner {
    background-image: url('../images/paywall2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border-top:solid 1px #979797;
    @media #{$desktop} {
        background-image: url('../images/paywall-tablet-2.jpg?v=2');   
    }
    @media #{$tablet} {
        background-image: url('../images/paywall-tablet-2.jpg?v=2');   
    }
    @media #{$mobile} {
        background-image: none;
    }

    

    &--thanks {
        @media #{$desktop-up} {
            height:785px;
        }
    } 


    &__content {
        height:100%;
        @media #{$tablet} {
            // padding-top:37px;
        }
    }


    &__headline {
        margin-top:32px;
        font-family: $base-font-family;
        @include font-size(60);
        font-weight:700;
        margin-bottom:15px;
        line-height: 1.03;
        @media #{$tablet} {
            @include font-size(48);
            line-height: 1.2;
            margin-top:45px;
            margin-bottom:5px;
        }
        @media #{$mobile} {
            margin-top:10px;
            @include font-size(34);
            line-height: 0.94;
            // margin-bottom: 5px;
        }
    }


    &__tagline {
        font-family: $font-family-sans-serif;
        @include font-size(25);
        font-weight: 600; 
        margin-top:16px;
        @media #{$tablet} {
            @include font-size(23);
            margin-top:0;
            width:440px;
        }
        @media #{$mobile} {
            @include font-size(15);
            line-height:21px;
            font-weight: normal; 
        }
    }

    &__button {
        font-weight: 500;
        @media #{$tablet} {
            height: 30px;
            width: 109px;
            line-height: 30px;
            font-size: 12px;
        }
        @media #{$mobile}{
            height: 35px;
            width: 140px;
            line-height: 35px;
        }

        &__trial {
            margin-left: 35px;
            &:hover {
                color: #fff;
                text-decoration: none;
            }
            @media #{$mobile}{
                margin-left: 15px;
            }
        }
        


    }

    &__email {
        &a,>a{
            text-decoration: underline;
        }
        margin-top:76px;
        @include font-size(18);
        line-height: 1.61;
        width:350px;
    }
}   




.paywall-offer-banner {
    background-color:#E13426;
    background-image: url('../images/subscribe-offer.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: top right 6%;
    border-top:solid 1px #979797;
    
    @media #{$desktop-md} {
        background-position: bottom right 6%;
    }

    @media #{$desktop} {
        background-size: 41vw;
        background-position: bottom 40% right -50px;
    }

    @media #{$tablet} {
        background-size: 50vw;
        background-position: bottom 40% right -70px;
    }
    @media #{$mobile} {
        background-image: none;
    }

    

    &--thanks {
        @media #{$desktop-up} {
            height:785px;
        }
    } 


    &__content {
        height:100%;
        @media #{$tablet} {
            // padding-top:37px;
        }
    }

    &__offer {
        font-family:$primaryFont;
        @include font-size(24);
        font-weight:600;
        text-transform: uppercase;
        margin-top:25px;
        @media #{$mobile} {
            @include font-size(18);
            margin-top:17px;

        }

    }

    &__headline {
        margin-top:20px;
        font-family: $base-font-family;
        @include font-size(68);
        font-weight:700;
        color:#fffcfc;
        margin-bottom:15px;
        line-height: 1.03;
        @media #{$tablet} {
            @include font-size(48);
            line-height: 1.2;
            margin-top:11px;
            margin-bottom:9px;
        }
        @media #{$mobile} {
            margin-top:10px;
            @include font-size(34);
            line-height: 0.94;
            color:white;
            width:80%;
   
            // margin-bottom: 5px;
        }
    }


    &__tagline {
        font-family: $font-family-sans-serif;
        @include font-size(25);
        font-weight: 700; 
        color:#fffcfc;
        margin-top:16px;
        @media #{$tablet} {
            @include font-size(23);
            margin-top:0;
            width:440px;
        }
        @media #{$mobile} {
            @include font-size(17);
        }
        @media #{$mobile} {
            color:white;
        }
    }


    &__text {
        margin-top:35px;
        @include font-size(17);
        line-height: 1.47;
        font-weight: 600; 
        color:#fffcfc;
        width:490px;
        @media #{$tablet} {
            width:339px;
            margin-top:28px;
        }
        @media #{$mobile} {
            margin-top:16px;
            width:95%;
            color:white;
            @include font-size(14);
            line-height: 1.29;
        }

    }

    &__button {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        margin-top:60px;
        @include font-size(21);
        font-weight: 700;
        color:#fcfcfc;
        text-transform:uppercase;
        width:253px;
        height:55px;
        @media #{$tablet} {
            margin-top:37px;
        }
        @media #{$mobile} {
            @include font-size(12);
            padding:11px 16px;
            margin-top:17px;
            width:auto;
            height:auto;
            max-width:150px;
    
        }  
    }

    &__conditions {
        margin-top:50px;
        @include font-size(13);
        font-weight: 600;
        line-height: 1.23;
        width:688px;
        color:#fffcfc;

        @media #{$tablet} {
            width:366px;
            margin-top:31px;
        }
        @media #{$mobile} {
            margin-top:12px;
            width:auto;
            @include font-size(11);
            line-height: 1.33;
            margin-bottom:12px;
        }

    }
}   

.paywall-offer-footer {
    background-color: rgba(0, 0, 0, 0.85);

    &__menu {
        @include flexbox();
        @include justify-content(space-between);
        color:white;
        width:70%;
        margin:auto;
        padding-top:20px;

        @media #{$mobile} {
            width:100%;
            max-width: 420px;
        }

        @media #{$tablet-up} {
            max-width: 500px;
        }

        li a {
            @include font-size(12);
            color:white;
            font-weight:600;
            letter-spacing: 0.46px;

            @media #{$tablet-up} {
                @include font-size(14);
            }

        }
    }

}