{% set networkData = _Network.getNetworkData() %}

{% set redir = _Page.setHttpRedirects(
    {
        '|/@pro/about.*|'    : networkData.defaultBlogUrl ~ '/pro',
        '|/pro/about.*|'    : networkData.defaultBlogUrl ~ '/pro',
    }, false) 
%} 

    <main id="main" class="site-main" role="main">
        <article class="article-main">
            <div class="container">
                {% if _Page.getPageData("about-content") is defined %}
                    {% set aboutpage = _Page.getPageData("about-content") %}
                    {{aboutpage.content | raw}}
                {% else %}
                    <h4>About page not found</h4>
                {% endif %}
            </div><!-- .container -->
        </article><!-- .article-main -->
    </main><!-- .site-main -->
