{% set networkData = _Network.getNetworkData() %}

{% set redir = _Page.setHttpRedirects(
    {
        '|/@pro/about.*|'    : networkData.defaultBlogUrl ~ '/pro',
        '|/pro/about.*|'    : networkData.defaultBlogUrl ~ '/pro',
    }, false) 
%} 

{% set aboutpage = false %}


<main id="main" class="site-main" role="main">
    <article class="article-main">
        <div class="container">
            {% set aboutpage = _Page.getPageData("about-content", false) %}
            {% if aboutpage %}
                {{aboutpage.content | raw}}
            {% endif %}

        </div><!-- .container -->
    </article><!-- .article-main -->
</main><!-- .site-main -->

