    {% set networkData   = _Network.getNetworkData() %}

    <main id="main" class="site-main " role="main">
        <div class="container contact">

            {# <div class="row">
                <div class="col-xs-1" style="height:20px;background:pink">fd</div>
                <div class="col-xs-1" style="height:20px;background:green">fd</div>
                <div class="col-xs-1" style="height:20px;background:blue">find</div>
                <div class="col-xs-1" style="height:20px;background:orange">s</div>
                <div class="col-xs-1" style="height:20px;background:green">fd</div>
                <div class="col-xs-1" style="height:20px;background:purple">s</div>
                <div class="col-xs-1" style="height:20px;background:cyan">s</div>
                <div class="col-xs-1" style="height:20px;background:red">f</div>
                <div class="col-xs-1" style="height:20px;background:green">as</div>
                <div class="col-xs-1" style="height:20px;background:yellow">fd</div>
                <div class="col-xs-1" style="height:20px;background:blue">sf</div>
                <div class="col-xs-1" style="height:20px;background:orange">fd</div>
            </div> #}

            <div class="row">
                <div class="col-md-12">
                    <h1 class="contact__header contact__header@sm u-margin-top-40 u-mobile-margin-top-60">Contact us</h1>
                </div>

                <div class="col-sm-12 col-md-5">
                    <h2 class="contact__sub-header contact__sub-header@sm">General contact and news tips</h2>
                    <p class="contact__p contact__p@sm"><a href="mailto:contact@newsroom.co.nz">contact@newsroom.co.nz</a></p>
                    
                    <h2 class="contact__sub-header contact__sub-header@sm">Mailing list queries</h2>
                    <p class="contact__p contact__p@sm"><a href="mailto:briefing@newsroom.co.nz">briefing@newsroom.co.nz</a></p>

                </div>
                
                <div class="col-xs-offset-1 col-sm-12 col-md-5">
                    <h2 class="contact__sub-header contact__sub-header@sm">Mark Jennings, Co-editor</h2>
                    <p class="contact__p contact__p@sm"><a href="mailto:mark.jennings@newsroom.co.nz">mark.jennings@newsroom.co.nz</a></p>
                    
                    <h2 class="contact__sub-header contact__sub-header@sm">Tim Murphy, Co-editor</h2>
                    <p class="contact__p contact__p@sm"><a href="mailto:tim.murphy@newsroom.co.nz">tim.murphy@newsroom.co.nz</a></p>
                </div>

            </div>

            <div class="row u-desktop-margin-top-120 u-margin-bottom-100">
                <div class="col-md-12">
                    <h1 class="contact__header contact__header@sm u-margin-top-40">Newsroom Pro</h1>
                </div>

                <div class="col-sm-12 col-md-5">
                    <h2 class="contact__sub-header contact__sub-header@sm">Newsroom Pro Editor</h2>
                    <p class="contact__p contact__p@sm">Bernard Hickey</p>
                    <p class="contact__p contact__p@sm"><a href="mailto:bernard.hickey@newsroom.co.nz">bernard.hickey@newsroom.co.nz</a></p>
                    <p class="contact__p contact__p@sm">+64 4 817 9176</p>
                    <p class="contact__p contact__p@sm"><i>(editorial enquiries only – see contact below for subscription enquiries)</i></p>

                    <h2 class="contact__sub-header contact__sub-header@sm">Pro subscriptions</h2>
                    <p class="contact__p contact__p@sm"><a href="mailto:pro@newsroom.co.nz">pro@newsroom.co.nz</a></p>

                    <a class="contact__pro-link contact__pro-link@sm d-none d-sm-block u-margin-top-30" href="{{networkData.defaultBlogUrl}}/pro">Get Pro or find out more here</a>

                </div>

                <div class="col-xs-offset-1 col-sm-12 col-md-5">
                    <h2 class="contact__sub-header contact__sub-header@sm">Address</h2>
                    <p class="contact__p contact__p@sm">Press Gallery</p>
                    <p class="contact__p contact__p@sm">Parliamentary Buildings</p>
                    <p class="contact__p contact__p@sm">Wellington 6011</p>

                    <a class="contact__pro-link contact__pro-link@sm visible-xs u-margin-top-30" href="{{networkData.defaultBlogUrl}}/pro">Get Pro or find out more here</a>

                </div>

            </div>

        </div><!-- .container -->
    </main><!-- .site-main -->
