{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}



<main id="main" class="u-margin-top-60 u-margin-bottom-100" role="main">
    <div class="container">

        <div class="row donations">
            <div class="col-lg-5">
                <h1 class="donations__title"><span class="donations__title--red">Support</span> Newsroom's journalism</h1>
            </div>
            <div class="col-lg-7">
                <p class="donations__text u-font-weight-bold">Newsroom exists because we believe in fearless, independent, provocative journalism for New Zealand. It’s a belief shared by readers like you.</p>
                <p class="donations__text">By supporting Newsroom with your contribution, you’ll be helping to strengthen our team as we bring quality journalism to the top of the agenda.</p>
                <p class="donations__text">If you’d like to come on board as supporter, simply click on one of the buttons below. Thanks for believing in our mission. We’re excited to have you join us on this journey.</p>
                <div class="flex_row u-align-center">
                    <img src="" class="donations__byline-img">
                    <p class="donations__byline">– Tim, Mark and the team at Newsroom</p>
                </div>
            </div>
        </div>


        <div class="row supporter u-margin-top-80">
            <div class="col-12 u-text-center">
                <h1 class="supporter__title">Become a supporter</h1>
            </div>
            <div class="offset-lg-1 col-lg-10 justify-content-center">
                <a href="#" class="supporter__button">Monthly $15</a>
                <a href="#" class="supporter__button supporter__button--space">Annual $100</a>
                <a href="#" class="supporter__button supporter__button--black">Pay what you want</a>
            </div>
            <p class="col-12 supporter__patron u-text-center">powered by PressPatron</p>
        </div>



        <div class="row writers u-margin-top-60">
            <div class="col-12">
                <h1 class="supporter__title">Meet the writers</h1>
            </div>

            <div class="col-lg-4">
                <div class="d-flex writers__container">
                    <img src="" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Bernard Hickey</h1>
                        <p class="writers__jobtitle">Newsroom Pro Editor</p>
                        <a class="writers__about">About </a>
                    </div>
                </div>


                <div class="d-flex writers__container">
                    <img src="" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Bernard Hickey</h1>
                        <p class="writers__jobtitle">Newsroom Pro Editor</p>
                        <a class="writers__about">About </a>
                    </div>
                </div>


                <div class="d-flex writers__container">
                    <img src="" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Bernard Hickey</h1>
                        <p class="writers__jobtitle">Newsroom Pro Editor</p>
                        <a class="writers__about">About </a>
                    </div>
                </div>


            </div>



            <div class="col-lg-4">
                <div class="d-flex writers__container">
                    <img src="" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Bernard Hickey</h1>
                        <p class="writers__jobtitle">Newsroom Pro Editor</p>
                        <a class="writers__about">About </a>
                    </div>
                </div>


                <div class="d-flex writers__container">
                    <img src="" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Bernard Hickey</h1>
                        <p class="writers__jobtitle">Newsroom Pro Editor</p>
                        <a class="writers__about">About </a>
                    </div>
                </div>


                <div class="d-flex writers__container">
                    <img src="" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Bernard Hickey</h1>
                        <p class="writers__jobtitle">Newsroom Pro Editor</p>
                        <a class="writers__about">About </a>
                    </div>
                </div>


            </div>



                        <div class="col-lg-4">
                <div class="d-flex writers__container">
                    <img src="" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Bernard Hickey</h1>
                        <p class="writers__jobtitle">Newsroom Pro Editor</p>
                        <a class="writers__about">About </a>
                    </div>
                </div>


                <div class="d-flex writers__container">
                    <img src="" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Bernard Hickey</h1>
                        <p class="writers__jobtitle">Newsroom Pro Editor</p>
                        <a class="writers__about">About </a>
                    </div>
                </div>


                <div class="d-flex writers__container">
                    <img src="" class="writers__img">
                    <div class="writers__text">
                        <h1 class="writers__name">Bernard Hickey</h1>
                        <p class="writers__jobtitle">Newsroom Pro Editor</p>
                        <a class="writers__about">About </a>
                    </div>
                </div>


            </div>

        </div>


    </div>



    <div class="support-breakout u-margin-top-60">
        <div class="container">

            <div class="row donations">
                <h1 class="col-12 support-breakout__title">Start supporting Newsroom today</h1>
                <div class="offset-lg-1 col-lg-10 justify-content-center">
                    <a href="#" class="supporter__button">Monthly $15</a>
                    <a href="#" class="supporter__button supporter__button--space">Annual $100</a>
                    <a href="#" class="supporter__button supporter__button--grey">Pay what you want</a>
                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row faq u-margin-top-60">
            <h1 class="col-12 faq__title">FAQs</h1>

            <div class="col-12">
                <div class="faq__question-box d-flex flex-row">
                    <div>
                        <p class="faq__question u-font-bold">Fusce vehicula awer arcues sit amet bland dolor molli?</p>
                        <div class="faq__answer-container u-hide">
                            <p class="faq__answer">In hac habitasse platea dictumst. Vivamus dipsero scing fermentum quam volutpat aliqua Integer eawt elit leget nerioas spelit.</p>
                        </div>
                    </div>
                    <div class="faq__button"><div class="faq__arrow-container "><div class="o-arrow"></div></div> </div>
                </div>


                <div class="faq__question-box d-flex flex-row">
                    <div>
                        <p class="faq__question u-font-bold">Fusce vehicula awer arcues sit amet bland dolor molli?</p>
                        <div class="faq__answer-container u-hide">
                            <p class="faq__answer">In hac habitasse platea dictumst. Vivamus dipsero scing fermentum quam volutpat aliqua Integer eawt elit leget nerioas spelit.</p>
                            <p class="faq__answer">In hac habitasse platea dictumst. Vivamus dipsero scing fermentum quam volutpat aliqua Integer eawt elit leget nerioas spelit.</p>
                            <p class="faq__answer">asdk jfdsl;k jfi;s ak.e jlksfh  psaf ds;lk;l akdjsf;ljuafoiea;lk jlksaj f;a sdiufasd knl;ksdjaf lk;asfji aekn ;klasjf ;lkjasf.</p>
                        </div>
                    </div>
                    <div class="faq__button"><div class="faq__arrow-container "><div class="o-arrow"></div></div> </div>
                </div>


                <div class="faq__question-box d-flex flex-row">
                    <div>
                        <p class="faq__question u-font-bold">Fusce vehicula awer arcues sit amet bland dolor molli?</p>
                        <div class="faq__answer-container u-hide">
                            <p class="faq__answer">In hac habitasse platea dictumst. Vivamus dipsero scing fermentum quam volutpat aliqua Integer eawt elit leget nerioas spelit.</p>
                        </div>
                    </div>
                    <div class="faq__button"><div class="faq__arrow-container "><div class="o-arrow"></div></div> </div>
                </div>


            </div>
        </div>


    </div>



    <div class="awards u-margin-top-60">
        <div class="container">
            <div class="row">
    
    
                <h1 class="col-12 faq__title">Awards</h1>

                <div class="col-lg-3">
                    <div class="awards__container">
                        <h2 class="awards__award">Marketing Magazine Media Hot List 2019</h2>
                        <p class="awards__winners">
                            Hottest Publisher
                            Hottest Editors 
                            (People’s Choice), 
                            Mark Jennings & Tim Murphy
                        </p>
                    </div>
                    <div class="award__container">
                        <h2 class="awards__award">2019 Citi Journalism Awards for Excellence</h2>
                        <p class="awards__winners">
                            General Business winner 
                            How Fonterra hit the 
                            wall in China, Rod Oram
                            Young Business Journalist 
                            of the Year 
                            The massive conflict of interest in vehicle imports into New Zealand, Thomas Coughlan
                            New Zealand Journalist of the Year Award
                            – How Fonterra hit the wall in China, Rod Oram
                        </p>

                    </div>

                </div>


                <div class="offset-lg-1 col-lg-3">
                    <div class="awards__container">
                        <h2 class="awards__award">Voyager Media Awards 2019</h2>
                        <p class="awards__winners">
                            Reporting (general) winner  Melanie Reid
                            Science and Technology Award  Eloise Gibson
                            Features – 
                            Crime writing and/or social issues
                            Teuila Fuatai
                        </p>



                    </div>
                    <div class="awards__container">
                        <h2 class="awards__award">Voyager Media Awards 2018</h2>
                        <p class="awards__winners">
                            Website of the Year 
                            (joint) winner
                            Reporter of the Year
                            Melanie Reid
                            Best (single) news story
                            Police and the payout, Melanie Reid
                            Reporting (general) winner
                            Melanie Reid
                        </p>

                    </div>


                </div>


                <div class="offset-lg-1 col-lg-3">
                    <div class="awards__container">
                        <h2 class="awards__award">Huawei Mate30 Pro NZ TV Awards 2019</h2>
                        <p class="awards__winners">
                            Best Current Affairs Programme 
                            – Newsroom Investigates
                        </p>




                    </div>
                    <div class="awards__container">
                        <h2 class="awards__award">Huawei Mate30 Pro NZ TV Awards 2017</h2>
                        <p class="awards__winners">
                            Best Current Affairs Programme 
                            – The Politician, The Police and The Payout
                        </p>



                    </div>

                </div>
            </div>
        </div>

    </div>





</main>


<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {
        $('.faq__button').on('click', function(e) {
            console.log('clicked');
            var box = $(e.target).closest('div.faq__question-box');
            var boxes = $('div.faq__question-box');
            boxes.removeClass('faq__question-box--open');
            box.addClass('faq__question-box--open');

            var question = box.find('.faq__question');
            var questions = $('.faq__question');
            questions.removeClass('faq__question--open');
            question.addClass('faq__question--open');

            var clickedAnswer = box.find('.faq__answer-container');
            var answers = $('.faq__answer-container');
            answers.addClass('u-hide').removeClass('faq__answer-container--open');
            clickedAnswer.removeClass('u-hide').addClass('faq__answer-container--open');
            
            var clickedArrow = box.find('.faq__arrow-container');
            var arrows = $('.faq__arrow-container');
            arrows.removeClass('faq__arrow-container--up');
            clickedArrow.addClass('faq__arrow-container--up');
        });


    });
</script>
