{{ set(this, 'title', name) }}
{% set networkData = _Network.getNetworkData() %}
<div class="error-page">
    <div class="container u-margin-top-80 u-margin-bottom-100">
        <div class="row">
            <div class="col-12 align-items-center">
                <h1 class="error-page__title u-margin-bottom-50">Page not found.</h1>
                <p class="error-page__message u-margin-bottom-20">The link you were looking for doesn't exist.</p>
                <p class="error-page__message">Click here for the Newsroom <a href="{{networkData.defaultBlogUrl}}" class="error-page__link">homepage</a> or try a search.</p>
            </div>
        </div>
    </div>
</div>
    
