<section class="container u-margin-top-100 u-margin-bottom-100">
    <div class="row u-flex-center">
        <div class="col-6">
            <h1 class="u-margin-bottom-10"> Sign in</h1>
            <form name="loginForm" id="loginForm" class="login-form active" action="javascript:void(0);" method="post" accept-charset="UTF-8" autocomplete="off"> 
                <input id="loginName" class="" type="text" name="username" placeholder="Email address" value="" /> 
                <input id="loginPass" class="" type="password" name="password" placeholder="Password" value="" /> 
                <div class="remember"> 
                    <p class="layout u-hide" data-layout="forgot" class="">Forgot password</p> 
                </div> 
                
                <div class="message active hide"> 
                    <div class="login-form__error_text">Invalid Email or Password</div> 
                </div> 
                
                <button id="signinTwig" type="submit" class="_btn _btn--red signin">SIGN IN</button> 
                
                <p class="u-no-margin u-margin-top-15 login-form-faq u-hide">Trouble signing in? <a class="login-form-faq__link" href="'+_appJsConfig.appHostName +'/faq" target="_blank">Read our FAQ</a></p> 
                <div class="reset"> 
                    <p class="layout u-hide" data-layout="forgot" class="">Set my password</p> 
                </div> 
                
            </form>
        </div>
    </div>
</section>

<script>

    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {
        
        $('#signinTwig').on('click', function(e) {
            var $elem = $(e.target);
            $('.message').addClass('hide');
            if ($elem.hasClass('signin')) {
                $elem.text('')
                    .addClass('spinner');
                e.preventDefault();
                var formData = {};

                $.each($('#loginForm').serializeArray(), function () {
                    formData[this.name] = this.value.trim();
                });
                // rememberMe sets flag to store login for 30 days in cookie
                formData['rememberMe'] = 1;
                Acme.server.create('/api/auth/login', formData).done(function(r) {
                    if (r.success === 1) {
                        
                        // if password reset must return to home page, else 
                        // get an error when staying on auth endpoint.
                        if (window.location.pathname === "/auth/reset-thanks") {
                            window.location.replace(_appJsConfig.appHostName);
                            return;
                        }

                        window.location.reload(); 


                    } else {
                        $elem.text("Sign in")
                            .removeClass('spinner');
                        $('.message').removeClass('hide');
                    }
                }).fail(function(r) { console.log(r);});
            }

        })

    });

</script>