{{ set(this, 'title', page.title | raw) }}              
<!-- Begin Container -->
<div class="page-section">
    <section class="container">
        <!-- Begin Terms -->
        <div class="content-wrap terms_page">
            <div class="row">
                {# <h1 class="sub-heading">{{page.title | raw}}</h1> #}
                <div class="col-sm-12">
                    <div class="content_area page-section__content">
                        {{page.content | raw}}
                    </div>
                </div>
            </div>
        </div>
        <!-- //End Terms -->
    </section>
</div>
<!-- //End Container -->
