


{% set feedArr = [] %}


    {% set feedArr = blogFeeds[section].feed.articles %}



{% if template != '' and feedArr[0] %}
    {% set params = {
        articles    : feedArr,
        link        : blogFeeds[ section ].link,
        title       : title,
        blogguid    : blogFeeds[ section ].blogguid,
        blogid      : blogFeeds[ section ].blogid
    } %}

    {% set margin = 'u-margin-bottom-60 u-desktop-margin-bottom-80' %}

        <div class="{{margin}} {{template}}">
            {{this.render(template, params) | raw}}
        </div>


{% endif %}