


{% set feedArr = [] %}


    {% set feedArr = blogFeeds[section].feed.articles %}


{% if template != '' %}
    {% set params = {
        articles: feedArr,
        link:     blogFeeds[ section ].link,
        title:    section.title is defined ? section.title : ''
    } %}

    {% set margin = 'u-margin-top-30 u-desktop-margin-top-40' %}

        <div class="container {{margin}} {{template}}">
            {{this.render(template, params) | raw}} 
        </div>


{% endif %}