{{ set(this, 'title', "Thank You") }}
<div class="login-page">
    <div class="container">
        <div class="tab-content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <p class="password-forget__helper">Your password has been modified successfully.</p>
                    <a href="/@www" class="_btn _btn--red password-forget__button">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>