{% set networkData = _Network.getNetworkData() %}

    <main id="main" class="site-main" role="main">
        <article class="article-main">
            <div class="container">
                <div class="content about">
                    <h1 class="aboutpage">Terms and conditions</h1>
                    <p>
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum nisl vel nulla vulputate, vitae tristique ex lacinia. Nullam vel feugiat erat, ac pharetra velit. Maecenas iaculis arcu odio, vel vulputate elit tempus et. Vestibulum luctus diam quis justo ullamcorper imperdiet. Cras vitae pulvinar ligula, id convallis erat. Etiam tincidunt, sapien vel rutrum aliquet, augue orci faucibus orci, sed porttitor erat lectus vitae nisi. Vivamus vel lacus mauris. Nunc dignissim metus sit amet tristique commodo. Cras suscipit ante eu fermentum tincidunt. Nullam convallis laoreet erat, vel tempus metus. Aliquam pretium eu urna ut porta.                     
                    </p>
                    <p>
 Aliquam in lobortis felis, a tincidunt est. Nulla dapibus elit in tellus condimentum venenatis. Sed placerat arcu vel ante lobortis, quis facilisis nisi convallis. Fusce dolor ante, congue sed augue in, auctor vestibulum lorem. Pellentesque ut tellus eget turpis convallis laoreet. Integer laoreet ac sem nec sollicitudin. Morbi dapibus ac quam aliquam auctor. Mauris egestas blandit eleifend. Sed egestas quis nisi a feugiat. Sed vitae purus vestibulum, tempus lacus et, pharetra nibh. Fusce tincidunt quam vitae semper vulputate. Suspendisse ac maximus leo. Fusce venenatis vitae lectus eget finibus. Curabitur felis risus, rhoncus ut ex vel, vehicula sollicitudin dolor.                     
                    </p>
                    <p>
 Phasellus vitae justo a dui facilisis malesuada. Sed viverra augue quis mi porta consectetur. Integer id porta urna. Fusce nec justo vel magna luctus tincidunt. Praesent vitae finibus eros. Proin nec arcu porta, facilisis turpis sit amet, luctus eros. Phasellus varius porttitor enim in tempor. Nam aliquam enim a placerat scelerisque. Donec facilisis interdum quam, eget placerat turpis cursus nec. Cras in bibendum odio. Nulla laoreet dapibus urna id cursus. Vivamus ullamcorper, leo a convallis ultricies, leo nunc tincidunt risus, quis aliquam massa velit eu est. Aenean ac quam orci. Nulla semper lacus nec diam laoreet efficitur. Nam interdum ultrices nisi, id ullamcorper diam vehicula in. 
                    </p>
                    <p>
 Donec at nisi vitae libero scelerisque sodales. Vestibulum vel fringilla elit. Morbi tristique purus tempor, rhoncus leo id, condimentum justo. Duis non sagittis lorem. Nulla eget tincidunt enim. Mauris tincidunt odio rutrum ultrices congue. Etiam tempor cursus eleifend. Etiam turpis est, lacinia aliquet erat sed, facilisis pretium lorem. Maecenas eget consectetur eros. Ut vel rhoncus est. Pellentesque et dolor gravida lacus bibendum porta. Curabitur non finibus lorem. Nulla blandit, lacus a pretium posuere, velit risus vulputate quam, et consequat libero mi vel sapien. In quam lorem, auctor sed tempor vitae, egestas a ante. Etiam nulla ligula, faucibus nec bibendum in, porttitor vel sapien. 
                    </p>
                    <p>
 Donec in sapien interdum ligula consectetur sagittis non non lectus. Fusce lobortis, dui vel tempus molestie, nisl orci iaculis magna, eget iaculis ex nisl rutrum metus. Ut porta sapien at sapien finibus, quis tincidunt mi imperdiet. Sed et vehicula erat, eu ultrices erat. Cras hendrerit metus orci, tincidunt sagittis velit posuere varius. Praesent dictum rutrum nisi, ut congue sapien blandit id. Quisque sed tortor luctus, volutpat urna id, egestas nulla. Morbi a magna cursus, semper tortor nec, vehicula orci. Aenean fringilla scelerisque ligula eu fermentum. Sed erat nisl, blandit id efficitur sed, dignissim ullamcorper eros. 
                    </p>
                </div>



            </div><!-- .container -->
        </article><!-- .article-main -->
    </main><!-- .site-main -->
