{% for key,message in _AppHelper.getFlashMessages() %}
    {% if key == 'success'%}
        <div class="profile-message" role="alert">
            <a id="message-close" class="profile-message__close" href="#"></a>
            <p class="profile-message__text">{{message | raw }}</p>
        </div>
    {% else %}
        <div class="profile-message" role="alert">
            <a  id="message-close" class="profile-message__close" href="#"></a>
            <p class="profile-message__text">{{message | raw }}</p>
        </div>
    {% endif %}
{% endfor %}