{% set articleCount = 0 %}



<section class="row">
    <div class="col-sm-12 section-header u-mobile-no-padding">
        <a href="{{link}}">       
            <h2 class="pro-main__header">{{ title }}</h2>
        </a>
    </div>
        
    {% for i in 0..2 if articles[articleCount] %}
        <div class="col-md-4 col-sm-4 col-xs-12">
        {{this.render('../_single-article.twig', {
            article: articles[articleCount], 
            imageSize: {width:300, height:160},
            site: site,
            containerClass: 'card-sm card-sm-tablet card-sm-mobile u-no-margin-bottom'
        }) | raw}}
        {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
        
        </div>
    {% endfor %}
</section>